<!-- Begin footer -->
<!--noindex-->
<footer class="footer">
    <div class="container">
        <div class="upper-foot">
            <div class="row">
                {{ knp_menu_render('footgears.footer', { template: '@Main/Menu/footer.html.twig'}) }}

                {{ knp_menu_render('footgears.footerTags', { template: '@Main/Menu/footer_tags.html.twig'}) }}
            </div>
        </div>
        <div class="below-foot">
            <div class="row">
                <div class="col-xs-6 copyrights">
                    <p>Copyright © {{ "now"|date('Y') }} {{ app.request.host }}.<br>
                        All rights reserved.</p>
                </div>
                <div class="col-xs-6 text-right">
                    <ul class="list-inline">
                        <li class="cities-list">
                            <div class="btn-group dropup">
                                <a class="dropdown-toggle cities-list-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Города доставки</a>
                                <ul class="dropdown-menu">
                                    <li>Москва</li>
                                    <li>Санкт-Петербург</li>
                                    <li>Барнаул</li>
                                    <li>Брянск</li>
                                    <li>Владивосток</li>
                                    <li>Волгоград</li>
                                    <li>Воронеж</li>
                                    <li>Екатеринбург</li>
                                    <li>Ижевск</li>
                                    <li>Иркутск</li>
                                    <li>Казань</li>
                                    <li>Калининград</li>
                                    <li>Кемерово</li>
                                    <li>Краснодар</li>
                                    <li>Красноярск</li>
                                    <li>Курск</li>
                                    <li>Махачкала</li>
                                    <li>Нижний Новгород</li>
                                    <li>Новокузнецк</li>
                                    <li>Новосибирск</li>
                                    <li>Омск</li>
                                    <li>Оренбург</li>
                                    <li>Пенза</li>
                                    <li>Пермь</li>
                                    <li>Ростов-на-Дону</li>
                                    <li>Рязань</li>
                                    <li>Самара</li>
                                    <li>Саратов</li>
                                    <li>Тверь</li>
                                    <li>Тольятти</li>
                                    <li>Томск</li>
                                    <li>Тюмень</li>
                                    <li>Ульяновск</li>
                                    <li>Уфа</li>
                                    <li>Хабаровск</li>
                                    <li>Челябинск</li>
                                    <li>Ярославль</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/noindex-->
<!-- End footer -->