<nav class="navbar navbar-default navbar-white navbar-fixed-top navbar-42" role="navigation">
    <!--  noindex-->
    <div class="top-promo">
        {% set link_data = random([
            {title: 'Скидки до 90% в KupiVIP', url: path('shop_go', {alias: 'kupivip'})},
            {title: 'Распродажа в Lamoda! Скидки до 80% на все товары', url: path('shop_go', {alias: 'lamoda'})},
            {title: 'Скидки до 90% в YOOX', url: path('shop_go', {alias: 'yoox'})},
        ]) %}
        <a href="{{ link_data.url }}" rel="nofollow" target="_blank"><span>{{ link_data.title }} &gt;&gt;</span></a>
    </div>
    <!--  /noindex-->

    <div class="container navbar-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="menu-title">меню</span>
            </button>
            <a class="navbar-brand logo-nav logo" href="/" rel="home">
                <img src="{{ asset('bundles/main/images/logo_.png') }}" alt="Footgears">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse navbar-ex1-collapse collapse hidden-lg" style="height: 0px;">
            {{ knp_menu_render('footgears.mobile_main', { template: '@Main/Menu/mobile_main.html.twig'}) }}
        </div>
    </div>

    <div class="hidden-xs">
        {{ knp_menu_render('footgears.main', { template: '@Main/Menu/main.html.twig'}) }}
    </div>
</nav>