{% extends 'AdminBundle::layout.html.twig' %}

{% macro importHistoryTable(items) %}
    <table class="table table-hover table-bordered table-condensed">
        <thead>
        <tr>
            <th>Магазин</th>
            <th>Delta</th>
            <th>Дата старта</th>
            <th>Дата обновления</th>
            <th>Дата окончания</th>
            <th>Статус</th>
            <th>Прогресс</th>
            {#<th>Добавлено категорий</th>#}
            {#<th>Обновлено категорий</th>#}
            <th>Товаров</th>
            <th>Добавлено товаров</th>
            <th>Обновлено товаров</th>
            <th>Отключено товаров</th>
            <th>Пропущено товаров</th>
            <th>Добавлено/обновлено в поиске</th>
            <th>Удалено из поиска</th>
            <th>Ошибка</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr class="{{ {active: 'warning', success: 'success', 'canceled': '', 'exception': 'danger'}[item.status] }}" data-id="{{ item.id }}">
                <td><a href="{{ path('admin_shop_edit', {id: item.shop.id}) }}">{{ item.shop.name }}</a></td>
                <td>{% if item.delta %}<i class="fa fa-check"></i>{% endif %}</td>
                <td>{{ item.startDate|date('d.m.Y H:i:s') }}</td>
                <td>{{ item.updateDate ? item.updateDate|date('d.m.Y H:i:s') : '' }}</td>
                <td>{{ item.endDate ? item.endDate|date('d.m.Y H:i:s') : '' }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.progress }}
                    {% if item.progress == 'download' %}
                        <br>{{ '%.2fMB'|format(item.fileSize / 1024 / 1024) }}
                    {% endif %}
                    {% if 'parsing_products' == item.progress and item.products %}
                        <br>{{ ((item.newProducts + item.skippedProducts + item.updatedProducts) * 100 / item.products)|number }}%
                    {% endif %}
                </td>
                {#<td class="right">{{ item.newCategories }}</td>#}
                {#<td class="right">{{ item.updatedCategories }}</td>#}
                <td class="right">{{ item.products|number }}</td>
                <td class="right">{{ item.newProducts|number }}</td>
                <td class="right">{{ item.updatedProducts|number }}</td>
                <td class="right">{{ item.disabledProducts|number }}</td>
                <td class="right">{{ item.skippedProducts|number }}</td>
                <td class="right">{{ item.indexAddProducts|number }}</td>
                <td class="right">{{ item.indexDeleteProducts|number }}</td>
                <td class="right">{{ item.exception }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% block content %}
    <style type="text/css">
        .table tbody tr.canceled td {
            background-color: #999;
        }

        td.right {
            text-align: right;
        }
    </style>

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                <span class="icon">
                    <i class="icon-pencil"></i>
                </span>
                    <h5>История импорта</h5>
                </div>

                <div class="widget-content nopadding">
                    {% import _self as macros %}
                    {{ macros.importHistoryTable(pagination) }}
                    {{ knp_pagination_render(pagination, 'SirianHelperBundle:Admin:table_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}