{% extends 'AdminBundle::layout.html.twig' %}

{% form_theme form 'SirianHelperBundle:Admin:form.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-pencil"></i>
                    </span>
                    <h5>Фильтр фраз</h5>
                </div>
                <div class="widget-content nopadding">
                    <form action="" class="form-horizontal validate" method="post" novalidate="novalidate" enctype="multipart/form-data">
                        {{ form_widget(form) }}
                        <div class="form-actions">
                            <button type="submit" value="" name="_submit" class="btn btn-primary">Загрузить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
