{% extends 'AdminBundle::layout.html.twig' %}

{% form_theme form 'SirianHelperBundle:Admin:form.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-pencil"></i>
                    </span>
                    <h5></h5>
                </div>
                <div class="widget-content nopadding">
                    <form action="" class="form-horizontal validate" method="post" novalidate="novalidate" enctype="multipart/form-data">
                        {{ form_widget(form) }}
                        <div class="form-actions">
                            <button type="submit" value="" name="_submit" class="btn btn-primary">Загрузить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-list"></i>
                    </span>
                    <h5></h5>
                </div>
                <div class="widget-content nopadding">
                    <div class="dataTables_wrapper">
                        <table class="table table-bordered data-table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Кол-во совпадений (N)</th>
                                <th>Исходный файл</th>
                                <th>&gt;= N совпадений</th>
                                <th>&lt; N совпадений</th>
                                <th>Дата добавления</th>
								<th>Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for task in tasks %}
                                <tr>
                                    <td>{{ task.id }}</td>
                                    <td>{{ task.count}}</td>
                                    <td>
										{% if task.userPhrase %}
											<a href="{{ path('admin_phrases_filter_download', {id: task.id, field: 'all'}) }}">Скачать</a>
										{% endif %}
									</td>
                                    <td>
										{% if task.moreThanCount %}
											<a href="{{ path('admin_phrases_filter_download', {id: task.id, field: 'more'}) }}">Скачать</a>
										{% endif %}
									</td>
                                    <td>
										{% if task.lessThanCount %}
											<a href="{{ path('admin_phrases_filter_download', {id: task.id, field: 'less'}) }}">Скачать</a>
										{% endif %}
									</td>
									<td>
										{% if task.createdAt %}
											{{ task.createdAt | date('d.m.Y g:i') }}
										{% endif %}
									</td>
									<td>
										<button onclick="if(confirm('Удалить фильтр фраз?')) { window.location.href = '{{ path('admin_phrases_filter_delete', {id: task.id}) }}' } " class="btn btn-mini btn-danger"><i class="icon-remove icon-white"></i></button>
									</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

