{% extends 'AdminBundle::layout.html.twig' %}

{% macro dashboardElem(url, value, text, isNewTab) %}
    <li>
        <a href="{{ url }}"{% if isNewTab %} target="_blank"{% endif %}>
            <div class="cc">
                <strong>{{ value }}</strong> <small>{{ text }}</small>
            </div>
        </a>
    </li>
{% endmacro %}

{% block body %}
    <div id="wrapper">
        {{ parent() }}
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="//code.highcharts.com/highcharts.js"></script>
    <script src="//code.highcharts.com/modules/exporting.js"></script>
{% endblock %}

{% block content %}

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                <span class="icon">
                    <i class="icon-pencil"></i>
                </span>
                    <h5>Импорт товаров <a href="{{ path('admin_import_history') }}" class="text-info"><small>Посмотреть все</small></a></h5>
                </div>

                <div class="widget-content nopadding">
                    {% import '@Admin/ImportHistory/list.html.twig' as macros %}
                    {{ macros.importHistoryTable(importHistory) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon icon-signal"></i></span>
                    <h5>Статистика в Admitad</h5>
                </div>
                <div class="widget-content">
                    <div id="admitad-chart-container"></div>
                </div>
            </div>
        </div>
    </div>

    {% set admitadStats = admitadStats|reverse %}

    <script>

        $(function () {
            $('#admitad-chart-container').highcharts({
                chart: {
                    zoomType: 'xy'
                },
                title: {
                    text: 'Заработок за последний месяц'
                },
                subtitle: {
                    text: ''
                },
                xAxis: [{
                    categories: [{% for row in admitadStats %}'{{ row.date.format('d.m') }}'{% if not loop.last %},{% endif %}{% endfor %}],
                    crosshair: true
                }],
                yAxis: [{ // Primary yAxis
                    labels: {
                        format: '{value}',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                    title: {
                        text: 'Клики',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    }
                }, { // Secondary yAxis
                    title: {
                        text: 'Заработок',
                        style: {
                            color: Highcharts.getOptions().colors[0]
                        }
                    },
                    labels: {
                        format: '{value} руб.',
                        style: {
                            color: Highcharts.getOptions().colors[0]
                        }
                    },
                    opposite: true
                }],
                tooltip: {
                    shared: true
                },
                legend: {
                    layout: 'vertical',
                    align: 'left',
                    x: 120,
                    verticalAlign: 'top',
                    y: 100,
                    floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                },
                series: [{
                    name: 'Открытые',
                    type: 'column',
                    yAxis: 1,
                    data: [{% for row in admitadStats %}{{ row.paymentSumOpen }}{% if not loop.last %},{% endif %}{% endfor %}],
                    tooltip: {
                        valueSuffix: ' руб.'
                    }

                }, {
                    name: 'Подтвержденные',
                    type: 'column',
                    yAxis: 1,
                    data: [{% for row in admitadStats %}{{ row.paymentSumApproved }}{% if not loop.last %},{% endif %}{% endfor %}],
                    tooltip: {
                        valueSuffix: ' руб.'
                    }

                }, {
                    name: 'Отклоненные',
                    type: 'column',
                    yAxis: 1,
                    data: [{% for row in admitadStats %}{{ row.paymentSumDeclined }}{% if not loop.last %},{% endif %}{% endfor %}],
                    tooltip: {
                        valueSuffix: ' руб.'
                    }

                }, {
                    name: 'Клики',
                    type: 'spline',
                    data: [{% for row in admitadStats %}{{ row.clicks }}{% if not loop.last %},{% endif %}{% endfor %}],
                    tooltip: {
                        valueSuffix: ''
                    }
                }]
            });
        });


    </script>

{% endblock %}