{% extends 'MainBundle::layout.html.twig' %}

{% block title %}Страница не найдена - {{ parent() }}{% endblock %}

{% block meta %}
    {{ parent() }}

    <meta name="robots" content="noindex, nofollow"/>
{% endblock %}

{% block main %}
    <!-- Begin 404 -->
    <div class="page-404">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p class="ico-emotion"><i class="fa fa-frown-o"></i></p>
                    <h2>403</h2>
                    <p>
                        Доступ запрещен
                    </p>
                    <p>
                        Вы можете воспользоваться формой поиска или вернуться на <a class="colored" href="{{ path('homepage') }}">главную страницу</a>.
                    </p>
                    <form class="form-inline form-search form-search2" role="form" action="{{ path('search') }}">
                        <div class="form-group">
                            <label class="sr-only" for="textsearch">Поисковой запрос</label>
                            <input type="text" class="form-control input-lg" id="textsearch" name="q" placeholder="Женские туфли на каблуке">
                        </div>
                        <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                    </form>
                    <p><a href="{{ path('homepage') }}" class="btn btn-primary btn-lg">Вернуться на главную страницу</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- End 404 -->
{% endblock %}