<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Footgears - сервис временно недоступен</title>

    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/compiled/main.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div id="page">
        <!-- Begin Main -->
        <div role="main" class="main">

            <div class="page-404">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <p class="ico-emotion"><i class="fa fa-frown-o"></i></p>
                            <h2>500</h2>
                            <p>
                                Неполадки на сервере.
                            </p>
                            <p>
                                Мы стараемся как можно быстрее найти и устранить проблемы. Просим прощения за предоставленные неудобства.
                            </p>
                            <p>
                                <a href="/" class="btn btn-primary btn-lg">Вернуться на главную страницу</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Main -->
    </div>

    <script src="/compiled/main.js"></script>

    {{ include('@Main/counters.html.twig') }}
</body>
</html>