{% extends 'SirianHelperBundle:Admin:form.html.twig' %}

{% block form_row %}
    {% spaceless %}
        {{ form_label(form) }} {{ form_widget(form) }}
        {{ form_errors(form) }}
    {% endspaceless %}
{% endblock %}

{% block button_widget %}
    {{ parent() }}
{% endblock %}
