{% extends 'form_div_layout.html.twig' %}

{% block choice_widget %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' select2')|trim}) %}
    {{ parent() }}
{% endblock %}

{% block textarea_widget %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
    <script>
        CKEDITOR.replace('{{ full_name }}');
    </script>
{% endblock %}

{% block form_row %}
    {% spaceless %}
        <div class="control-group{{ form.vars.errors|length ? ' error' : '' }}">
            {{ form_label(form) }}
            <div class="controls">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block form_errors %}
    {% if errors|length %}
        <span for="{{ form.vars.full_name }}" generated="true" class="help-inline" style="">
            {% for error in errors %}
                {{ error.message }}<br/>
            {% endfor %}
        </span>
    {% endif %}
{% endblock %}

{% block form_label %}
    {% set label_attr=label_attr|merge({class: 'control-label'}) %}
    {{ parent() }}
{% endblock %}

{% block image_old_widget %}
    {% if image_url is defined and image_url %}
        <img src="{{ image_url }}" />
    {% endif %}
    {{ block('form_widget') }}
{% endblock %}

{% block image_widget %}
    <img src="{{ file_asset(value) }}" />
    {{ form_widget(form.file) }}
    {{ block('form_widget') }}
{% endblock %}

{% block suggest_options %}
{
    allowClear: !$input.prop('required'),
    placeholder: '{{ attr.placeholder|default('Search') }}',
    multiple: {{ multiple ? 1 : 0 }},
    width: '80%',
    ajax: {
       delay: 250,
        url: '{{ path('sirian_suggest', {name: suggester_name}) }}',
        dataType: 'json',
        data: function (params) {
            return {
                q: params.term || '',
                page: params.page || 1,
                extra: {{ extra|default({})|json_encode|raw }}
            }
        },
        processResults: function (data, page) {
            return {
                results: data.items,
                pagination: {
                    more: data.hasMore
                }
            }
        },
        cache: true
    }
}
{% endblock %}
