<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8" />

            <title>{% block title %}{% endblock %}</title>

            {% block favicon %}
                <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            {% endblock %}

            {% block css %}
                <link rel="stylesheet" href="{{ asset('bundles/sirianhelper/css/bootstrap.min.css') }}" media="screen" />
                <link rel="stylesheet" href="{{ asset('bundles/sirianhelper/css/bootstrap-responsive.min.css') }}" />
                <link rel="stylesheet" href="{{ asset('bundles/sirianhelper/css/fullcalendar.css') }}" />
                <link rel="stylesheet" href="{{ asset('bundles/sirianhelper/css/jquery.gritter.css') }}" />
                <link rel="stylesheet" href="{{ asset('bundles/sirianhelper/css/select2.css') }}" />
                <link rel="stylesheet" href="{{ asset('bundles/sirianhelper/css/unicorn.main.css') }}" />
                <link rel="stylesheet" href="{{ asset('bundles/sirianhelper/css/unicorn.grey.css') }}" class="skin-color" />
                <link rel="stylesheet" href="{{ asset('bundles/sirianhelper/css/sirian.css') }}" />
            {% endblock %}

            {% block js %}
                <script type="text/javascript" src="{{ asset('bundles/sirianhelper/js/jquery.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/sirianhelper/js/bootstrap.min.js') }}"></script>
                <script src="{{ asset('bundles/sirianhelper/js/jquery.ui.custom.js') }}"></script>
                <script src="{{ asset('bundles/sirianhelper/js/unicorn.js') }}"></script>
                <script src="{{ asset('bundles/sirianhelper/js/select2.min.js') }}"></script>
                <script src="{{ asset('bundles/sirianhelper/js/jquery.validate.js') }}"></script>
                <script src="{{ asset('bundles/sirianhelper/js/jquery.gritter.min.js') }}"></script>
                <script src="{{ asset('bundles/sirianhelper/js/jquery.form.js') }}"></script>
                <script src="{{ asset('bundles/sirianhelper/js/jquery.ajaxTable.js') }}"></script>
                <script src="{{ asset('bundles/sirianhelper/js/sirian.js') }}"></script>
            {% endblock %}
        {% endblock %}
    </head>
    <body style="font-size: 12px; overflow-x: auto; color: #949494">
    {% block body %}
        {% block header_wrap %}
        <div id="header">
            {% block header %}
            <h1><a href="{{ url('admin_homepage') }}">Панель управления</a></h1>
            {% endblock %}
        </div>
        {% endblock %}

        {% block navbar_wrap %}
        <div id="user-nav" class="navbar navbar-inverse">
            {% block navbar_inner %}
            <ul class="nav btn-group">
                {% block navbar_content %}
                <li class="btn btn-inverse"><a href="#"><i class="icon icon-user"></i> <span class="text">{{ app.user.username }}</span></a></li>
                <li class="btn btn-inverse"><a href="{{ path('logout') }}"><i class="icon icon-share-alt"></i> <span class="text">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</span></a></li>
                {% endblock  %}
            </ul>
            {% endblock %}
        </div>
        {% endblock %}

        {% block sidebar_wrap %}
        <div id="sidebar">
            {% block sidebar %}
            <a href="#" class="visible-phone"><i class="icon icon-home"></i> Главная</a>
            {{ knp_menu_render('admin.main', { template: 'SirianHelperBundle:Admin:Menu/menu.html.twig', currentClass: 'active open', ancestorClass: 'active open'}) }}
            {% endblock %}
        </div>
        {% endblock %}

        {% block content_wrap %}
        <div id="content">
            {% block content_header_wrap %}
                <div id="content-header">
                    {% block content_header %}<h1></h1>{% endblock %}
                    <div class="btn-group" style="width: auto;">
                        {% block content_header_buttons %}{% endblock %}
                    </div>
                </div>
            {% endblock %}

            {% block breadcrumb_wrap %}
            <div id="breadcrumb">
                {% block breadcrumb %}
                    {{ knp_menu_render('admin.main', { template: 'SirianHelperBundle:Admin:Menu/breadcrumb.html.twig'}) }}
                {% endblock %}
            </div>
            {% endblock %}

            {% block content_container %}
            <div class="container-fluid">
                {% block flashes %}
                    {% set allFlashes = app.session.flashbag.all() %}
                    {% if allFlashes|length %}
                    <div class="row-fluid">
                        <div class="span12">
                            {% for type, flashes in allFlashes %}
                                {% for message in flashes %}
                                    <div class="alert alert-{{ type }}">{{ message|trans }}</div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                {% endblock %}


                {% block content %}
                    {% block fos_user_content %}{% endblock fos_user_content %}
                {% endblock %}
            </div>
            {% endblock %}
        </div>
        {% endblock %}
    {% endblock %}
    </body>
</html>
