{% spaceless %}
{% if pageCount > 1 %}
    {% if first is defined and current != first %}
        <a {% if route %}href="{{ path(route, query|merge({page: first})) }}"{% endif %} class="first ui-corner-tl ui-corner-bl fg-button ui-button ui-state-default" data-page="1">First</a>
    {% endif %}

    {% if previous is defined %}
        <a {% if route %}href="{{ path(route, query|merge({page: previous})) }}"{% endif %} class="previous ui-corner-tr ui-corner-br fg-button ui-button ui-state-default" data-page="{{ previous }}">Prev</a>
    {% endif %}
    <span>
    {% for page in pagesInRange %}
        <a {% if route %}href="{{ path(route, query|merge({page: page})) }}"{% endif %} class="fg-button ui-button ui-state-default{{ page == current ? ' ui-state-disabled' : '' }}" data-page="{{ page }}">{{ page }}</a>
        {#<a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>#}
    {% endfor %}
    </span>
    {% if next is defined %}
        <a {% if route %}href="{{ path(route, query|merge({page: next})) }}"{% endif %} class="next ui-corner-tr ui-corner-br fg-button ui-button ui-state-default" data-page="{{ next }}">Next</a>
    {% endif %}

    {% if last is defined and current != last %}
        <a {% if route %}href="{{ path(route, query|merge({page: last})) }}"{% endif %} class="last ui-corner-tr ui-corner-br fg-button ui-button ui-state-default" data-page="{{ last }}">Last ({{ last }})</a>
    {% endif %}
{% endif %}
{% endspaceless %}
