{% if pageCount > 1 %}
<div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix table-navigation">
    <div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers">
        {{ include('SirianHelperBundle:Admin:pagination.html.twig') }}
    </div>
</div>
{% endif %}
