{% extends 'AdminBundle::layout.html.twig' %}

{% form_theme form '@SirianHelper/Admin/form.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-pencil"></i>
                    </span>
                    <h5>{% block form_title %}{{ isNew ? 'Добавление страницы' : 'Редактирование страницы' }}{% endblock %}</b></h5>
                </div>
                <div class="widget-content nopadding">
                    {{ form_start(form, {attr: {class: 'form-horizontal validate'}}) }}
                        {{ form_widget(form) }}
                        <div class="form-actions">
                            <button type="submit" value="" name="_submit" class="btn btn-primary">Сохранить</button>
                            {% if not isNew %}
                            <a href="{{ path('category_tag', {alias: page.category.alias, tagAlias: page.alias}) }}" class="btn btn-primary" target="_blank">Посмотреть</a>
                            {% endif %}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
