{% extends '@Admin/layout.html.twig' %}

{% block content_header_buttons %}
    <a href="{{ path('admin_tag_new') }}" class="btn btn-large tip-bottom" data-original-title="Создать"><i class="icon-plus"></i></a>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-list"></i>
                    </span>
                    <h5>Список страниц с фильтрами</h5>
                </div>
                {% form_theme form '@Admin/Form/form_theme.html.twig' %}

                <div class="widget-content nopadding">
                    <form class="form-horizontal validate" novalidate="novalidate" id="search_filters">
                        {{ form_widget(form) }}
                        <div class="form-actions">
                            <button type="submit" value="" name="_submit" class="btn btn-primary">Фильтр</button>
                            <a href="{{ path('admin_tag_list') }}" value="" name="_submit" class="btn btn-primary">Сбросить</a>
                        </div>
                    </form>
                    <div class="dataTables_wrapper">
                        <table class="table table-bordered data-table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Категория</th>
                                <th>H1 заголовок</th>
                                <th>Место отображения</th>
                                <th>Active</th>
                                <th>Условие выборки</th>
                                <th>Товаров</th>
                                <th>Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in pagination %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.category.name }}</td>
                                    <td><a href="{{ path('category_tag', {alias: item.category.alias, tagAlias: item.alias}) }}" target="_blank">{{ item.seo.h1|default(item.seo.title|default(item.alias)) }}</a></td>
                                    <td>{{ item.typeName }}</td>
                                    <td>{% if item.active %}<span class="icon-ok"></span>{% endif %}</td>
                                    <td>
                                        {% if item.searchPhrase %}ключевые слова,{% endif %}
                                        {% if item.attributes|length %}по атрибутам{% endif %}
                                    </td>
                                    <td style="text-align: right">{{ item.productsCount }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-mini" href="{{ path('admin_tag_edit', {id: item.id}) }}"><i class="icon-pencil"></i></a>
                                            <button data-url="{{ path('admin_tag_delete', {id: item.id}) }}" class="btn btn-mini btn-danger delete-item"><i class="icon-remove icon-white"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% block pagination %}
                            {{ knp_pagination_render(pagination, '@SirianHelper/Admin/table_pagination.html.twig') }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('.delete-item').on('click', function(e) {
                e.preventDefault();

                if (!confirm('Удалить элемент?')) {
                    return;
                }

                window.location.href = $(this).data('url');
            });
        });
    </script>
{% endblock %}
