{% set showPopup = popup is not defined or popup %}

{% for item in products %}
    {% if item %}

        {% set productLink = path('product_buy', {id: item.id, t: date().timestamp}) %}
        {% set target = '_blank' %}
        {% set productEnabled = item.enabled %}

        <div class="col-sm-3 col-xs-6 product-container">
            <div class="item product{% if not productEnabled %} unavailable{% endif %}" data-product-card-id="{{ item.id }}">

                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_product_show', {id: item.id}) }}" target="_blank" rel="nofollow">
{#                    <img src="{{ file_asset(item.shop.logo) }}" alt="{{ item.shop.name }}" style="position: absolute;right: 0;top: 0;z-index: 1;max-height: 40px;border: 1px solid #efefef;padding: 0;width: auto">#}
                    <img class="lozad" data-src="{{ file_asset(item.shop.logo) }}" alt="{{ item.shop.name }}" style="position: absolute;right: 0;top: 0;z-index: 1;max-height: 40px;border: 1px solid #efefef;padding: 0;width: auto">
                </a>
                {% endif %}

                {% if item.sale %}<span class="bag bag-onsale">-{{ item.discount }}%</span>{% endif %}
                <div class="product-thumb-info">
                    <div class="product-thumb-info-image">
                        <!--noindex-->
                        <a href="{{ productLink }}" target="{{ target }}" rel="nofollow" title="{{ item.name }}" data-action="в магазин" data-label="с картинки">
{#                            <img class="img-responsive" src="{{ item.firstImage | productImage('product_card_image') }}" alt="{{ item.name }}">#}
                            <img class="lozad img-responsive" data-src="{{ item.firstImage | productImage('product_card_image') }}" alt="{{ item.name }}">
                        </a>
                        <!--/noindex-->
                    </div>
                    <div class="product-thumb-info-content">
                        <div class="brand"><a href="{{ productLink }}" target="{{ target }}" rel="nofollow" title="{{ item.brand ? item.brand.name : '' }}" data-action="в магазин" data-label="с бренда">{{ item.brand ? item.brand.name : '' }}</a></div>
                        <span class="item-cat"><a href="#" data-toggle="modal" data-target=".quickview-wrapper{{ item.id|replace({':': '_'}) }}" title="{{ item.name }}" data-action="open_popup" data-label="с названия">{{ item.name }}</a></span>
                        <span class="price-info">
                            {% if item.sale %}
                                <span>{{ item.oldPrice }}</span>
                                <span class="percent">&nbsp;-&nbsp;{{ item.discount }}% = </span>
                            {% endif %}
                            <span class="price{% if item.sale %} discount{% endif %}">{{ item.price|number  }} {{ item.currency|currency }}</span>
                        </span>
                    </div>
                </div>
                <!--noindex-->
                {% if productEnabled %}
                <a class="about" href="{{ productLink }}" target="{{ target }}" rel="nofollow" title="{{ item.name }}">Купить</a>
                {% else %}
                <div class="blind"></div>
                <span class="about">распродано</span>
                {% endif %}
                <!--/noindex-->
            </div>

            {% if showPopup and productEnabled %}
            <div class="modal fade quickview-wrapper quickview-wrapper{{ item.id|replace({':': '_'}) }}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <div class="product-detail">
                            <div class="row">
                                <div class="col-sm-6">
                                    {% if item.sale %}
                                        <span class="bag bag-onsale">-{{ item.discount }}%</span>
                                    {% endif %}
                                    <div class="product-preview">
                                        <div class="flexslider">
                                            <ul class="bxslider">
                                                <!--noindex-->
                                                {#{% for img in item.images %}#}
                                                    <li>
                                                        <a href="{{ productLink }}" target="{{ target }}" rel="nofollow" title="{{ item.name }}" data-action="в магазин" data-label="попап с картинки">
{#                                                            <img src="{{ item.firstImage | productImage('product_preview_image') }}" alt="{{ item.name }}" class="img-responsive">#}
                                                            <img data-src="{{ item.firstImage | productImage('product_preview_image') }}" alt="{{ item.name }}" class="img-responsive lozad">
                                                        </a>
                                                    </li>
                                                {#{% endfor %}#}
                                                <!--/noindex-->
                                            </ul>
                                        </div>
                                        <!--noindex-->
                                        <div>
                                            <a rel="nofollow" href="{{ path('product_buy', {id: item.id}) }}" title="больше фотографий" target="_blank" style="color: #3598db; text-decoration: underline;" data-action="в магазин" data-label="с больше фотографий">Больше фотографий в магазине {{ item.shop.name }}</a>
                                        </div>
                                        <!--/noindex-->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="summary entry-summary">

                                        <div class="title">{{ item.name }} {{ item.brand ? item.brand.name ? '' }}</div>

                                        <p class="price">
                                            <span class="amount">{{ item.price|number  }} {{ item.currency|currency }}</span>
                                            {% if item.sale %}
                                                <span class="old"><span class="amount">{{ item.oldPrice|number }}</span></span>
                                            {% endif %}
                                        </p>

                                        <!--noindex-->
                                        <div class="cart">
                                            <a href="{{ path('product_buy', {id: item.id}) }}" target="_blank" rel="nofollow" class="btn btn-primary btn-icon" data-action="в магазин" data-label="попап с кнопки">
                                                <span><i class="fa fa-shopping-cart"></i> Купить в {{ item.shop.name }}</span>
                                            </a>
                                        </div>
                                        <!--/noindex-->

                                        <ul class="nav nav-tabs second-tabs" role="tablist">
                                            <li class="active" role="presentation"><a href="#details{{ item.id|replace({':': '_'}) }}" data-toggle="tab" role="tab">Детали</a></li>
                                            <li role="presentation"><a href="#description{{ item.id|replace({':': '_'}) }}" data-toggle="tab" role="tab">Описание</a></li>
                                        </ul>
                                        <div class="tab-content  product-additional-info">
                                            <div role="tabpanel" class="tab-pane active" id="details{{ item.id|replace({':': '_'}) }}">
                                                <ul class="list-unstyled">
                                                    <!--noindex-->
                                                    <li>Магазин: {% if item.shop.active %}<a href="{{ path('shop_go', {alias: item.shop.alias}) }}" target="_blank" rel="nofollow" data-action="в магазин" data-label="попап магазин">{{ item.shop.name }}</a>{% else %}{{ item.shop.name }}{% endif %}</li>
                                                    <!--/noindex-->
                                                    {% if item.category %}<li>Категория: <a href="{{ path('category', {alias: item.category.alias}) }}">{{ item.category.name }}</a></li>{% endif %}
                                                    {% if item.brand %}<li>Бренд: <a href="{{ path('brand', {alias: item.brand.alias}) }}">{{ item.brand.name }}</a></li>{% endif %}

                                                    {% if item.params %}
                                                        {% for name, values in item.params %}
                                                            <li>{{ name }}: {{ values|sort|join(', ') }}</li>
                                                        {% endfor %}
                                                    {% endif %}
                                                </ul>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="description{{ item.id|replace({':': '_'}) }}">
                                                <p><!--noindex-->{{ item.description }}<!--/noindex--></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    {% endif %}

{% endfor %}