{% extends 'MainBundle::layout_inner.html.twig' %}

{% macro breadcrumb(category, product) %}
    {% import _self as macros %}

    {% if category %}
        {% if category.parent %}
            {{ macros.breadcrumb(category.parent) }}
        {% endif %}
        <li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ path('category', {alias: category.alias}) }}">{{ category.shortName|capitalize }}{% if product and product.brand %} {{ product.brand.name }}{% endif %}</a></li>
    {% endif %}
{% endmacro %}

{% block breadcrumb %}
    {% import _self as macros %}

    <li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ path('homepage') }}">Главная</a></li>
    {% if product.category %}
        {{ macros.breadcrumb(product.category) }}

        {% if product.brand %}
            <li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ path('category_brand', {alias: product.category.alias, brandAlias: product.brand.alias}) }}">{{ product.category.shortName|capitalize }} {{ product.brand.name }}</a></li>
        {% endif %}
    {% endif %}
    <li class="active">{{ product.name }}{% if product.brand %} {{ product.brand.name }}{% endif %}</li>
{% endblock %}

{% block title %}{% spaceless %}{{ product.name }}{% endspaceless %}{% endblock %}

{% block meta_description %}{% spaceless %}
    У нас на сайте вы найдете стильные и качественные {{ product.name|lower }} со скидкой. Покупайте модные {{ product.name|lower }} на нашем сайте со скидками и бесплатной доставкой.
{% endspaceless %}{% endblock %}

{% block meta_keywords %}{% spaceless %}
{% endspaceless %}{% endblock %}

{% block meta_robots %}<meta name="robots" content="noindex,nofollow">{% endblock %}

{% block meta %}
    {{ parent() }}

    {% block meta_product_data %}
    {% endblock %}
{% endblock %}

{% block content %}
    {% set shop = product.shop %}

    <div class="container">
        <div class="row">
            <div class="col-sm-6">

                <div class="product-preview">
                    <div class="flexslider">
                        <ul class="slides">
                            <!--noindex-->
                            {% for img in product.images %}
                                <li data-thumb="{{ img | productImage('product_preview_image') }}">
                                    <a href="{{ product.enabled ? path('product_buy', {id: product.id, from: 'product'}) : img }}" {% if product.enabled %}target="_blank"{% endif %} title="Посмотреть в оригинальном размере" rel="nofollow"><img src="{{ img | productImage('product_preview_image') }}" alt="{{ product.name }}"></a>
                                </li>
                            {% endfor %}
                            <!--/noindex-->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="summary entry-summary">

                    {% if product.brand and product.brand.enabled %}
                        <div class="brand">
                            <a href="{{ path('brand', {alias: product.brand.alias}) }}" title="{{ product.brand.name }}">
                                <img src="{{ product.brand.logo ? file_thumb(product.brand.logo, 'logo_preview') : '//dummyimage.com/140x75&text=' ~ product.brand.name }}" alt="{{ product.brand.name }}" />
                            </a>
                        </div>
                    {% endif %}

                    <h1 itemprop="name">{{ product.name }}{% if product.brand %}, {{ product.brand.name }}{% endif %}</h1>

                    <p class="price">
                        <span class="price-info">
                            {% if product.sale %}
                                <span>{{ product.oldPrice }}</span>&nbsp;-&nbsp;<span class="percent">{{ product.discount }}%</span>&nbsp;=&nbsp;
                            {% endif %}
                            <span class="price{% if product.sale %} discount{% endif %}">{{ product.price|number  }} {{ product.currency|currency }}</span>
                        </span>
                    </p>

                    <!--noindex-->
                    <form method="post" class="cart">
                        {% if product.enabled %}
                            <a href="{{ path('product_buy', {id: product.id, from: 'product'}) }}" target="_blank" class="btn btn-primary btn-icon" rel="nofollow" data-action="в магазин" data-label="купить"><i class="fa fa-shopping-cart"></i>Купить на {{ product.shop.name }}</a>
                        {% else %}
                            <a class="btn btn-grey disabled">Нет в наличии</a>
                        {% endif %}
                    </form>
                    <!--/noindex-->

                    <ul class="list-unstyled product-meta">
                        <!--noindex-->
                        <li>Товар представлен: <a href="{{ path('shop_go', {alias: product.shop.alias}) }}" rel="nofollow" target="_blank" title="{{ product.shop.name }}">{{ product.shop.name }}</a></li>
                        <!--/noindex-->
                        {% if product.article %}
                            <li>Артикул: {{ product.article }}</li>
                        {% endif %}
                        {% if product.category %}
                            <li>Категории: {{ product.category.pathName|lower|replace({' / ': ', '}) }}</li>
                        {% endif %}

                        {% if product.params %}
                            {% for name, values in product.params %}
                                <li>{{ name }}: {{ values|sort|join(', ') }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>

                    <ul class="nav nav-tabs second-tabs">
                        <li class="active"><a href="#description" data-toggle="tab">Описание</a></li>
                    </ul>
                    <div class="tab-content product-additional-info">
                        <div class="tab-pane active" id="description">
                            <p><!--noindex-->{{ product.description }}<!--/noindex--></p>
                        </div>
                    </div>

                    <div class="cart">
                        <a href="{{ path('category', {alias: product.category.alias}) }}" class="btn btn-info category-link" title="Все {{ product.category.name }}">Все {{ product.category.name }}</a>
                        {% if product.brand %}<a class="btn btn-info category-link" href="{{ path('category_brand', {alias: product.category.alias, brandAlias: product.brand.alias}) }}" title="Все {{ product.category.name }} {{ product.brand.name }}">Все {{ product.category.name }} {{ product.brand.name }}</a>{% endif %}
                    </div>

                    {% block similar_categories %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% if similarProducts|length %}
    <!-- Begin Related Products -->
    <section class="products-page products-slide">
        <div class="container">
            <h2 class="title"><span>Похожие товары</span></h2>
            <div class="row">
                <div id="owl-product-slide" class="owl-carousel product-slide">
                    {{ include('@Main/Product/cards.html.twig', {products: similarProducts}) }}
                </div>
            </div>
        </div>
    </section>
    <!-- End Top Selling -->
    {% endif %}
{% endblock %}

{% block js %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails",
                slideshow: false,
                randomize: false
            });
        });
    </script>
{% endblock %}
