{% extends 'SirianHelperBundle:Admin:layout.html.twig' %}

{% block favicon %}
    <link rel="shortcut icon" href="{{ asset('bundles/main/images/favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/admin/js/jquery.mjs.nestedSortable.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/jquery.zclip.js') }}"></script>
    <script src="//cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.js-tree').each(function () {
                var $tree = $(this);
                $tree.nestedSortable({
                    attribute: 'data-id',
                    forcePlaceholderSize: true,
                    handle: '.icon-move',
                    helper: 'clone',
                    items: 'li',
                    opacity: .6,
                    placeholder: 'placeholder',
                    revert: 250,
                    tabSize: 25,
                    tolerance: 'pointer',
                    toleranceElement: '> div',
                    maxLevels: 5,
                    isTree: true,
                    expandOnHover: 700,
                    startCollapsed: false
                }).on('sortstop', function (e, ui) {
                    var $parent = ui.item.closest('ol').closest('li');
                    var parent = 0;
                    if ($parent.length) {
                        parent = $parent.attr('data-id');
                    }

                    $.ajax({
                        url: $tree.attr('data-move-url'),
                        dataType: "json",
                        type: 'POST',
                        data: {
                            id: ui.item.attr('data-id'),
                            parent_id: parent,
                            after_count: ui.item.nextAll().length
                        }
                    });
                }).on('click', '.delete-item', function () {
                    if (!confirm('Удалить элемент?')) {
                        return;
                    }
                    var $this = $(this);
                    var $li = $this.closest('li');
                    $li.hide();
                    $.ajax({
                        url: $this.attr('data-url'),
                        dataType: "json",
                        data: {},
                        type: 'POST',
                        success: function(data) {
                            if (data.result == 'ok') {
                                $li.remove();
                            } else {
                                $li.show();
                                sirian.showError({
                                    title: 'Ошибка при удалении элемента',
                                    text: data.error,
                                    sticky: true
                                })
                            }
                        },
                        error: function () {
                            $li.show();
                            sirian.showError({
                                title: 'Ошибка при удалении элемента',
                                text: 'Ошибка выполнения ajax запроса',
                                sticky: true,
                                previous: arguments
                            })
                        }
                    });
                });
            });
        }).on('click', '.nestedSortable .expander', function() {
            $(this)
                .closest('li')
                .toggleClass('mjs-nestedSortable-collapsed')
                .toggleClass('mjs-nestedSortable-expanded')
            ;
        });

    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/nestedSortable.css') }}" />
{% endblock %}
