{% extends 'AdminBundle::layout.html.twig' %}

{% block content_header %}<h1>Атрибуты</h1>{% endblock %}

{% block css %}
    {{ parent() }}
    <style type="text/css">
        .nestedSortable li.disabled > div {
            background: #e2506a;
        }

        .nestedSortable .title {
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block attribute_value %}

{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div>
                <ol class="nestedSortable  js-tree">

                    {% for attribute in attributes %}
                        <li class="{{ attribute.enabled ? '' : 'disabled' }}">
                            <div>
                                <span class="title">{{ attribute.name }} {% if attribute.aliases %}({{ attribute.aliases|join(', ') }}){% endif %}</span>

                                <div class="btn-group">
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <a class="btn btn-mini" href="{{ path('admin_attributes_edit', {id: attribute.id}) }}" title="Редактировать"><i class="icon-pencil"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock %}