<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="refresh" content="1.5;url={{ redirect_url }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{{ asset('bundles/main/images/favicon.ico') }}" type="image/x-icon">
    <meta name="yandex-verification" content="425ebf1c5e46d3f0" />
    <meta name="google-site-verification" content="nN3-LuxhTg0JJTyP0Ravg94nMJrISDBrg0vSgZ3xA-o" />

    <script>
        var seconds = 2;
        var seconds_timer_id = setInterval(function () {
            if (seconds > 0) {
                seconds--;
                document.getElementById('second-timer').textContent = seconds;
            } else {
                clearInterval(seconds_timer_id);
            }
        }, 1000);
    </script>

    <style>
        body {
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            line-height: 1.1;
        }
        .page {
            margin: 100px auto;
            text-align: center;
        }

        .header {
            margin: 15px auto;
            text-align: center;
        }

        .redirect-text {
            color: #666666;
        }

        .loading-block {
            height: 100px;
            width: 100px;
            background: url('{{ asset('img/loader.gif') }}') no-repeat center;
            margin: auto;
        }
    </style>
</head>
<body>
{% block body %}
    <div class="page">
        <div class="header">
            <img src="{{ asset('bundles/main/images/logo_.png') }}" alt="footgears.ru">
        </div>
        <div class="loading-block"></div>
        <p class="redirect-text">
            Вы будете перенаправлены на сайт <strong>"{{ shop.name }}"</strong><br/>через <span id="second-timer">3</span> сек.
        </p>
    </div>
{% endblock %}
</body>
</html>