{% extends 'AdminBundle::layout.html.twig' %}

{% block content_header_buttons %}
    <a href="{{ path('admin_user_new') }}" class="btn btn-large tip-bottom" data-original-title="Создать"><i class="icon-plus"></i></a>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-list"></i>
                    </span>
                    <h5>Пользователи</h5>
                </div>
                {% form_theme filterForm 'AdminBundle:Form:form_theme.html.twig' %}

                <div class="widget-content nopadding">
                    <form class="form-horizontal validate" novalidate="novalidate" id="search_filters">
                        {{ form_widget(filterForm) }}
                        <div class="form-actions">
                            <button type="submit" value="" name="_submit" class="btn btn-primary">Фильтр</button>
                            <a href="{{ path('admin_user_list') }}" value="" name="_submit" class="btn btn-primary">Сбросить</a>
                        </div>
                    </form>
                    <div class="dataTables_wrapper">
                        <table class="table table-bordered data-table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Логин</th>
                                <th>Email</th>
                                <th>Роли</th>
                                <th>Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in pagination %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td><a href="{{ path('admin_user_edit', {id: item.id}) }}">{{ item.username }}</a></td>
                                    <td>{{ item.fakeEmail ? '' : item.email }}</td>
                                    <td>{{ item.roles|sort|join(', ') }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-mini" href="{{ path('admin_user_edit', {id: item.id}) }}"><i class="icon-pencil"></i></a>
                                            <button data-url="{{ path('admin_user_delete', {id: item.id}) }}" class="btn btn-mini btn-danger delete-item"><i class="icon-remove icon-white"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% block pagination %}
                            {{ knp_pagination_render(pagination, 'SirianHelperBundle:Admin:table_pagination.html.twig') }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('.delete-item').on('click', function(e) {
                e.preventDefault();

                if (!confirm('Удалить элемент?')) {
                    return;
                }

                window.location.href = $(this).data('url');
            });
        });
    </script>
{% endblock %}