{% extends 'SirianHelperBundle:Admin:CRUD/list_items.html.twig' %}

{% block thead %}
    <tr>
        <th>Id</th>
        <th>Логин</th>
        <th>Email</th>
        <th>Роли</th>
        <th>Действия</th>
    </tr>
{% endblock %}

{% block tr %}
    <tr data-crud-item>
        <td>{{ item.id }}</td>
        <td><a href="{{ crud.generateOperationUrl('_edit', {id: item.id}) }}">{{ item.username }}</a></td>
        <td>{{ item.fakeEmail ? '' : item.email }}</td>
        <td>{{ item.roles|sort|join(', ') }}</td>
        <td>
            {{ block('crud_actions') }}
        </td>
    </tr>
{% endblock %}
