{% extends 'MainBundle::layout.html.twig' %}

{% block title %}Войдите через социальные сети{% endblock %}

{% block body_attributes %}class="gray-bg"{% endblock %}

{% block body %}
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name"><a href="{{ path('homepage') }}" class="text-center" style="color: #e6e6e6;">FOOTGEARS</a></h1>
            </div>

            {% for type, flashes in app.session.flashbag.all() %}
                {% for message in flashes %}
                    <p class="alert alert-{{ type|replace({error: 'danger'}) }}">
                        {{ message }}
                    </p>
                {% endfor %}
            {% endfor %}

            <h3>{{ block('title') }}</h3>

            <div class="text-center m-b">
                <a class="btn btn-social-icon btn-vk" href="{{ hwi_oauth_login_url('vkontakte') }}" title="Войти при помощи vk.com"><span class="fa fa-vk fa-2x"></span></a><br>
                <p style="margin-top: 20px;"><a href="{{ path('homepage') }}">на главную</a></p>
            </div>

        </div>
    </div>
{% endblock %}