{% extends 'MainBundle::layout.html.twig' %}

{% block main %}

    {% block main_breadcrumbs %}
    <!-- Begin page top -->
    <section class="page-top">
        <div class="container">
            <div class="page-top-in">
                <ol class="breadcrumb pull-left" xmlns:v="http://rdf.data-vocabulary.org/#">
                    {% block breadcrumb %}
                    {% endblock %}
                </ol>
            </div>
        </div>
    </section>
    <!-- End page top -->
    {% endblock %}

    {% block content %}
    {% endblock %}
{% endblock %}

{% block flashes %}
    {% set allFlashes = app.session.flashbag.all() %}
    {% if allFlashes|length %}
        <div class="row">
            <div class="col-sm-12">
                {% for type, flashes in allFlashes %}
                    {% for message in flashes %}
                        <div class="alert alert-{{ type }}">{{ message }}</div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}