<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{% block title %}{{ seoSettings.main.title }}{% endblock %}</title>

    <link rel="shortcut icon" href="{{ asset('bundles/main/images/favicon.ico') }}" type="image/x-icon">
    <meta name="yandex-verification" content="425ebf1c5e46d3f0" />
    <meta name="google-site-verification" content="nN3-LuxhTg0JJTyP0Ravg94nMJrISDBrg0vSgZ3xA-o" />

    {% block meta %}
    <meta name="keywords" content="{% block meta_keywords %}{{ seoSettings.main.keywords }}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{{ seoSettings.main.description }}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta_robots %}{% endblock %}
    {% endblock %}

    <link href="https://oss.maxcdn.com" rel="preconnect" crossorigin>
    <link href="https://www.google-analytics.com" rel="preconnect" crossorigin>
    <link href="https://mc.yandex.ru" rel="preconnect" crossorigin>

    <link rel="dns-prefetch" href="//oss.maxcdn.com" />
    <link rel="dns-prefetch" href="//www.google-analytics.com" />
    <link rel="dns-prefetch" href="//www.mc.yandex.ru" />

    {% block css %}
        {% stylesheets
        'bundles/main/css/import.css'
        'bundles/main/bootstrap/css/bootstrap.min.css'
        'bundles/main/css/fonts/font-awesome/css/font-awesome.css'
        'bundles/main/vendor/owl-carousel/owl.carousel.css'
        'bundles/main/vendor/owl-carousel/owl.theme.css'
        'bundles/main/vendor/owl-carousel/owl.transitions.css'
        'bundles/main/vendor/bxslider/jquery.bxslider.css'
        'bundles/main/vendor/flexslider/flexslider.css'
        'bundles/main/css/theme-animate.css'
        'bundles/main/css/theme-elements.css'
        'bundles/main/css/theme-blog.css'
        'bundles/main/css/theme-shop.css'
        'bundles/main/css/theme.css'
        'bundles/main/css/theme-responsive.css'
        'bundles/main/css/colors/blue/style.css'
        'bundles/main/css/custom.css'
        filter='?uglifycss' filter='cssrewrite' output='compiled/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body{% block body_attributes %}{% endblock %}>
{% block body %}
    {% block header %}
        {{ include('@Main/Layout/header.html.twig') }}
    {% endblock %}

    <!-- Begin Main -->
    <div role="main" class="main">
        {% block main %}{% endblock %}
    </div>
    <!-- End Main -->

    {{ include('@Main/Layout/footer.html.twig') }}
{% endblock body %}

{% block counters %}
    {% if app.environment == 'prod' %}
        {{ include('@Main/counters.html.twig') }}
    {% endif %}
{% endblock %}

{% javascripts
'bundles/main/js/intersection-observer.js'
'bundles/main/vendor/jquery.min.js'
'bundles/main/vendor/jquery.min.js'
'bundles/main/bootstrap/js/bootstrap.min.js'
'bundles/main/bootstrap/js/bootstrap-hover-dropdown.min.js'
'bundles/main/vendor/owl-carousel/owl.carousel.js'
'bundles/main/vendor/modernizr.custom.js'
'bundles/main/vendor/jquery.stellar.js'
'bundles/main/vendor/imagesloaded.pkgd.min.js'
'bundles/main/vendor/masonry.pkgd.min.js'
'bundles/main/vendor/jquery.pricefilter.js'
'bundles/main/vendor/bxslider/jquery.bxslider.min.js'
'bundles/main/vendor/mediaelement-and-player.js'
'bundles/main/vendor/waypoints.min.js'
'bundles/main/vendor/flexslider/jquery.flexslider-min.js'
'bundles/main/js/theme.plugins.js'
'bundles/main/js/theme.js'
'bundles/fosjsrouting/js/router.js'
'js/fos_js_routes.js'
'bundles/main/js/custom.js'
'bundles/main/js/search.js'
filter='?uglifyjs2' output='compiled/main.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
<script>
    lozad('.lozad', {
        load: function (el) {
            el.src = el.getAttribute('data-src');
            // console.log('Load ' + el.getAttribute('data-src'));
        }
    }).observe();
</script>

{% block js %}
{% endblock %}

</body>
</html>