{% set currentRoute = app.request.attributes.get('_route') %}

{% if pageCount > 1 %}
<ul class="pagination">
    {% block previous_page %}
        {% if previous is defined %}
            <li><a href="{{ mergedPath(currentRoute, {page: previous}) }}" {#data-page="{{ previous }}"#} title="Предыдущая" rel="prev">&lt;</a></li>
        {% endif %}

    {% endblock %}

    {% block first_page %}{% endblock %}

    {% block range_pages %}
        {% for page in pagesInRange %}
            {% block ranged_page %}
                <li class="{% if page == current %}active disabled{% endif %}"><a href="{{ mergedPath(currentRoute, {page: page}) }}" {#data-page="{{ page }}"#} title="Страница {{ page }}">{{ page }} {% if page == current %} <span class="sr-only">(current)</span>{% endif %}</a></li>
            {% endblock %}
        {% endfor %}
    {% endblock %}

    {% block last_page %}{% endblock %}

    {% block next_page %}
        {% if next is defined %}
            <li><a href="{{ mergedPath(currentRoute, {page: next}) }}" {#data-page="{{ next }}"#} title="Следующая" rel="next">&gt;</a></li>
        {% endif %}
    {% endblock %}
</ul>
{% endif %}
