{% extends '@Main/Menu/footer.html.twig' %}

{% block list %}
    {% import "knp_menu.html.twig" as knp_menu %}

    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}

        {% set listAttributes = listAttributes|merge({class: 'list-inline tagclouds'}) %}

        <ul{{ knp_menu.attributes(listAttributes) }}>
            {{ block('children') }}
        </ul>
    {% endif %}
{% endblock %}