{% extends 'knp_menu.html.twig' %}

{% macro attributes(attributes) %}
    {% for name, value in attributes %}
        {%- if value is not none and value is not same as(false) and value is not empty -%}
            {{- ' %s="%s"'|format(name, value is same as(true) ? name|e : value|e)|raw -}}
        {%- endif -%}
    {%- endfor -%}
{% endmacro %}

{% block root %}{% spaceless %}
    <div class="navbar-categories">
        {% set listAttributes = item.childrenAttributes|merge({class: 'navbar-categories-list'}) %}
        {{ block('list') -}}
    </div>
{% endspaceless %}{% endblock %}

{% block item %}
    {% if item.displayed %}

        {%- set is_dropdown = item.level == 1 and item.children %}

        {# building the class of the item #}
        {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
        {%- if matcher.isCurrent(item) %}
            {%- set classes = classes|merge([options.currentClass]) %}
        {%- elseif matcher.isAncestor(item, options.matchingDepth) %}
            {%- set classes = classes|merge([options.ancestorClass]) %}
        {%- endif %}
        {#{%- if item.actsLikeFirst %}#}
            {#{%- set classes = classes|merge([options.firstClass]) %}#}
        {#{%- endif %}#}
        {#{%- if item.actsLikeLast %}#}
            {#{%- set classes = classes|merge([options.lastClass]) %}#}
        {#{%- endif %}#}

        {# Mark item as "leaf" (no children) or as "branch" (has children that are displayed) #}
        {% if item.hasChildren and options.depth is not same as(0) %}
            {% if options.branch_class is not empty and item.displayChildren %}
                {%- set classes = classes|merge([options.branch_class]) %}
            {% endif %}
        {% elseif options.leaf_class is not empty %}
            {%- set classes = classes|merge([options.leaf_class]) %}
        {%- endif %}

        {# adding classes for dropdown #}
        {%- if is_dropdown %}
            {%- set classes = classes|merge(['dropdown']) %}
        {%- endif %}

        {%- if item.level == 1 %}
            {%- set classes = classes|merge(['top-category']) %}
        {%- endif %}

        {%- set attributes = item.attributes %}
        {%- if classes is not empty %}
            {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
        {%- endif %}

        {# displaying the item #}
        {% import _self as knp_menu %}
        <li{{ knp_menu.attributes(attributes) }}>
            {%- if is_dropdown %}
                {{ block('dropdownElement') }}
            {%- elseif item.uri is not empty and (not matcher.isCurrent(item) or options.currentAsLink) %}
                {{ block('linkElement') }}
            {%- else %}
                {{ block('spanElement') }}
            {%- endif %}

            {# render the list of children#}
            {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}
            {%- set childrenClasses = childrenClasses|merge(['menu_level_' ~ item.level]) %}

            {% if item.level == 1 %}
                {%- set childrenClasses = childrenClasses|merge(['dropdown-menu']) %}
            {% endif %}

            {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}
            {{ block('list') }}
        </li>
    {% endif %}
{% endblock %}

{#{% block list %}#}
    {#{% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}#}
        {#{% import "knp_menu.html.twig" as knp_menu %}#}

        {#{% if item.level == 1 and item.hasChildren %}#}
            {#{{ block('children') }}#}
        {#{% else %}#}
            {#<ul{{ knp_menu.attributes(listAttributes) }}>#}
                {#{{ block('children') }}#}
            {#</ul>#}
        {#{% endif %}#}
    {#{% endif %}#}
{#{% endblock %}#}

{% block children %}
    {# save current variables #}
    {% set currentOptions = options %}
    {% set currentItem = item %}
    {# update the depth for children #}
    {% if options.depth is not none %}
        {% set options = options|merge({'depth': currentOptions.depth - 1}) %}
    {% endif %}
    {# update the matchingDepth for children #}
    {% if options.matchingDepth is not none and options.matchingDepth > 0 %}
        {% set options = options|merge({'matchingDepth': currentOptions.matchingDepth - 1}) %}
    {% endif %}

    {% if currentItem.level == 1 and currentItem.hasChildren %}
        {% set cols = 12 / currentItem.children|length %}

        <li>
            <div class="row" style="width: {{ 200 * currentItem.children|length }}px;">
                {% for item in currentItem.children %}
                    {% set listAttributes = item.childrenAttributes %}
                    {% set listAttributes = listAttributes|merge({class: 'dropdown-sub col-md-' ~ cols ~ ' col-sm-' ~ cols }) %}

                    {{ block('list') }}
                {% endfor %}
            </div>
        </li>
            {#</div>#}
        {#</div>#}
    {% else %}
        {% for item in currentItem.children %}
            {{ block('item') }}
        {% endfor %}
    {% endif %}

    {# restore current variables #}
    {% set item = currentItem %}
    {% set options = currentOptions %}
{% endblock %}

{% block dropdownElement %}
    {% import "knp_menu.html.twig" as macros %}

    {%- set classes = item.linkAttribute('class') is not empty ? [item.linkAttribute('class')] : [] %}
    {%- set classes = classes|merge(['dropdown-toggle', 'disabled']) %}

    {%- set attributes = item.linkAttributes %}
    {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
    {%- set attributes = attributes|merge({'data-toggle': 'dropdown'}) %}

    {% if item.uri is not empty and (not item.current or options.currentAsLink) %}
        <a href="{{ item.uri }}"{{ macros.attributes(attributes) }}>{{ block('label') }}</a>
    {% else %}
        <a href="#"{{ macros.attributes(attributes) }}>{{ block('label') }}</a>
    {% endif %}
{% endblock %}

{% block linkElement %}{% import "knp_menu.html.twig" as knp_menu %}<a href="{{ item.uri }}"{{ knp_menu.attributes(item.linkAttributes) }}>{{ block('label') }}</a>{% endblock %}

{% block spanElement %}{% import "knp_menu.html.twig" as knp_menu %}<span{{ knp_menu.attributes(item.labelAttributes) }}>{{ block('label') }}</span>{% endblock %}

{% block label %}{% if options.allow_safe_labels and item.getExtra('safe_label', false) %}{{ item.label|raw }}{% else %}{{ item.label }}{% endif %}{% endblock %}