{% extends 'knp_menu.html.twig' %}

{% block root %}{% spaceless %}
    {% set listAttributes = item.childrenAttributes|merge({class: 'nav navbar-nav navbar-right'}) %}
    {{ block('list') -}}
{% endspaceless %}{% endblock %}

{% block list %}{% spaceless %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% import "knp_menu.html.twig" as knp_menu %}
        <ul{{ knp_menu.attributes(listAttributes) }}>
            <!--noindex-->
            <li>
                <form class="navbar-form search-form" role="search" action="{{ path('search') }}">
                    <div class="form-group">
                        <input name="q" id="search-box" type="text" class="form-control search-input" placeholder="Поиск по товарам и брендам">
                        <span class="icon-search"><i class="fa fa-search"></i></span>
                    </div>
                </form>
            </li>
            <!--/noindex-->

            {% if is_mobile() and not is_tablet() %}
                <li class="navbar-collapse-divider"></li>
                {{ block('children') }}
            {% endif %}

            {% if not is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
            <!--noindex-->
            <li class="navbar-collapse-divider"></li>
            <li>
                {% if not is_granted('ROLE_USER') %}
                <a href="{{ hwi_oauth_login_url('vkontakte') }}" rel="nofollow"><i class="fa fa-vk"></i></a>
                {% elseif is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_homepage') }}" rel="nofollow" title="перейти в админку"><i class="fa fa-dashboard"></i></a>
                {% endif %}
            </li>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
            <li>
                <a href="{{ path('logout') }}" title="выйти" rel="nofollow">{% if is_mobile() and not is_tablet() %}ВЫЙТИ{% else %}<i class="fa fa-sign-out"></i>{% endif %}</a>
            </li>
            <!--/noindex-->
            {% endif %}
        </ul>
    {% endif %}
{% endspaceless %}{% endblock %}

{% block label %}{% if options.allow_safe_labels and item.getExtra('safe_label', false) %}{{ item.label|raw }}{% else %}{{ item.label|upper }}{% endif %}{% endblock %}