{% extends '@Main/Product/show.html.twig' %}

{% block title %}{{ product.name }} недорого, купить в {{ app.request.host }}{% endblock %}

{% block meta_description %}{% spaceless %}
    {{ product.name }} - стиль, красота, скидки по цене {{ product.price|number }} {{ product.currency|currency }}. {{ product.category.name }} недорого, новые коллекции. {{ product.shop.name }} скидки до 90%.
{% endspaceless %}{% endblock %}

{% block meta_robots %}
{#    <meta name="robots" content="noindex,nofollow">#}
{% endblock %}

{% block meta_product_data %}
    {% if app.request.query.all|length %}
        <link rel="canonical" href="{{ url('category_product', {alias: product.category.alias, id: recommendProduct.position}) }}" />
    {% endif %}

    <meta property="og:title" content="{{ product.name }}" />
    <meta property="og:url" content="{{ url('category_product', {alias: product.category.alias, id: recommendProduct.position}) }}" />

    {% if product.firstImage %}
        <meta property="og:image" content="{{ product.firstImage|productImage('product_preview_image') }}" />
        <link rel="image_src" href="{{ product.firstImage|productImage('product_preview_image') }}" />
    {% endif %}
{% endblock %}

{% block similar_categories %}
    {% if tags|length %}
        <div class="similar-tags" style="padding-top: 20px;">
            <ul class="list-inline list-unstyled">
                <li>Похожие категории: </li>
                {% for tag in tags %}
                    <li><a href="{{ path('category_tag', {alias: tag.category.alias, tagAlias: tag.alias}) }}" title="{{ tag.seo.h1|default(tag.seo.title|default(tag.alias))|lower }}" class="text-info">{{ tag.seo.h1|default(tag.seo.title|default(tag.alias))|lower }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}