{% extends 'MainBundle:Static:layout.html.twig' %}

{% form_theme form 'MainBundle:Form:contact_form_theme.html.twig' %}

{% block title %}{{ seoSettings.contacts.title }}{% endblock %}

{% block meta_description %}{{ seoSettings.contacts.description }}{% endblock %}

{% block meta_keywords %}{{ seoSettings.contacts.keywords }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Контакты</li>
{% endblock %}

{% block page_content %}
    <h1>Контакты</h1>
    <div class="post-content">
        <p>Все вопросы вы можете задать при помощи формы обратной связи в нижней части этой страницы</p>
    </div>
    <div class="feedback">

        {% set allFlashes = app.session.flashbag.all() %}
        {% if allFlashes|length %}
            <div class="row">
                <div class="col-md-12">
                    {% for type, flashes in allFlashes %}
                        {% for message in flashes %}
                            <div class="alert alert-{{ type }}">{{ message|trans }}</div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <h3>Форма обратной связи</h3>
            <p><small>Все поля обязательны к заполнению</small></p>

            {{ form(form) }}
        {% endif %}
    </div>
{% endblock %}