{% extends 'MainBundle::layout.html.twig' %}

{% macro catItem(title, url, image, more) %}
    <div class="cat-item">
        <figure>
            <a href="{{ url }}" title="{{ title }}">
                <img class="img-responsive lozad" alt="" data-src="{{ image }}">
            </a>
            <figcaption>
                <div class="cat-description">
                    <a href="{{ url }}" title="{{ title }}">
                        <span class="title">{{ title }}</span>
                        <span class="more">{{ more }}</span>
                    </a>
                </div>
            </figcaption>
        </figure>
    </div>
{% endmacro %}

{% block header_search %}{% endblock %}

{% block body_attributes %} class="main-page"{% endblock %}

{% block body_class %}{% endblock %}

{% block title %}Каталог одежы, обуви и аксессуаров для женщин, мужчин и детей{% endblock %}

{% block meta_description %}Самые новые каталоги {{ yearPeriod() }} одежды, обуви и аксессуаров. Скидки и акции на женскую, мужскую и детскую одежду, обувь и аксессуары. Информация о доставке и оплате.{% endblock %}

{% block main %}

    {{ block('woman_cell') }}

    {#{{ block('main_shoe') }}#}
    {{ block('main_brands') }}
    {#{{ block('main_foot') }}#}
    {{ block('main_banner') }}
    {{ block('main_description') }}
    {{ block('main_shops') }}
{% endblock %}

{% block woman_cell %}

    <style type="text/css">
        @media (min-width:768px) {
            .custom-col {
                width: 20%;
            }
        }

        @media (max-width: 480px) {
            div [class^="col-"] + [class^="col-"] {
                margin: 0;
            }
            div [class^="col-xs-6"] {
                width: 50%;
                float: left;
            }
        }
    </style>

    {% import _self as self %}
    <section class="about" style="margin-top: 15px;">
        <div class="container">
            <div class="row row-narrow">
                <div class="col-sm-6">
                    {{ self.catItem('Женская одежда и обувь', path('category', {alias: 'women'}), asset('bundles/main/images/main/new/woman.jpg'), 'Подробнее') }}
                </div>
                <div class="col-sm-6">
                    {{ self.catItem('Для мужчин', path('category', {alias: 'men'}), asset('bundles/main/images/main/new/man.jpg'), 'Подробнее') }}
                </div>
                {#<div class="col-xs-6 col-sm-3">#}
                    {#{{ self.catItem('Для мужчин', path('category', {alias: 'men'}), asset('bundles/main/images/main/men.jpg'), 'Перейти') }}#}
                {#</div>#}
                {#<div class="col-sm-3">#}
                    {#<div class="col-sm-12">#}
                        {#{{ self.catItem('Одежда для девочек', path('category', {alias: 'girls-wear'}), asset('bundles/main/images/main/girl.jpg'), 'Подробнее') }}#}
                    {#</div>#}
                    {#<div class="col-sm-12">#}
                        {#{{ self.catItem('Мужские аксессуары', path('category', {alias: 'muzhskie-aksessuary'}), asset('bundles/main/images/main/m_acc.jpeg'), 'Подробнее') }}#}
                    {#</div>#}
                {#</div>#}
            </div>
            <div class="row row-narrow">
                <div class="col-xs-6 custom-col">
                    {{ self.catItem('Одежда для мальчиков', path('category', {alias: 'boys-wear'}), asset('bundles/main/images/main/new/boy.jpg'), 'Перейти') }}
                </div>
                <div class="col-xs-6 custom-col">
                    {{ self.catItem('Одежда для девочек', path('category', {alias: 'girls-wear'}), asset('bundles/main/images/main/new/girl.jpg'), 'Перейти') }}
                </div>
                <div class="col-xs-6 custom-col">
                    {{ self.catItem('Женская обувь', path('category', {alias: 'women_shoes'}), asset('bundles/main/images/main/new/w_boots.jpg'), 'Перейти') }}
                </div>
                <div class="col-xs-6 custom-col">
                    {{ self.catItem('Мужская обувь', path('category', {alias: 'men_shoes'}), asset('bundles/main/images/main/new/m_boots.jpg'), 'Перейти') }}
                </div>
                <div class="col-xs-6 custom-col">
                    {{ self.catItem('Мужские аксессуары', path('category', {alias: 'muzhskie-aksessuary'}), asset('bundles/main/images/main/new/acessoares.jpg'), 'Перейти') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block main_brands %}
    <section class="partners text-center">
        <div class="container">
            <hr>
            <ul class="list-inline">
                {% for brand in popularBrands %}
                    <li><a href="{{ path('brand', {alias: brand.alias}) }}" title="{{ brand.name }}"><img data-src="{{ brand.logo ? file_thumb(brand.logo, 'logo_preview') : '//dummyimage.com/140x75&text=' ~ brand.name }}" alt="{{ brand.name }}" class="lozad"></a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}

{% block main_shoe %}
    <section class="partners" style="margin-top: 30px;">
        <div class="container">
            <h2 class="title"><span>Лучшие скидки на одежду</span></h2>
            <div class="row products">
                {{ include('@Main/Product/cards.html.twig', {products: shoe.products, popup: false}) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block main_foot %}
    <section class="partners">
        <div class="container">
            <h2 class="title"><span>Обувь по распродаже</span></h2>
            <div class="row products">
                {{ include('@Main/Product/cards.html.twig', {products: foot.products, popup: false}) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block main_shops %}
    <section class="partners text-center">
        <div class="container">
            <hr>
            <ul class="list-inline">
                {% for shop in popularShops %}
                    <li><a href="{{ path('shop', {alias: shop.alias}) }}" title="{{ shop.name }}"><img data-src="{{ file_thumb(shop.logo, 'logo_preview') }}" alt="{{ shop.name }}" class="lozad"></a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}

{% block main_banner %}
    {#{% if app.request.host != 'dev.footgears.ru' %}#}
    {#<section class="partners">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-md-12 text-center">#}
                    {#<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>#}
                    {#<!-- main page -->#}
                    {#<ins class="adsbygoogle"#}
                         {#style="display:block"#}
                         {#data-ad-client="ca-pub-3271531853567973"#}
                         {#data-ad-slot="7315828039"#}
                         {#data-ad-format="auto"></ins>#}
                    {#<script>#}
                        {#(adsbygoogle = window.adsbygoogle || []).push({});#}
                    {#</script>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}
    {#{% endif %}#}
{% endblock %}

{% block main_description %}
    <section class="about partners">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title"><span>О проекте</span></h2>
                    <p>Дать возможность следовать актуальным тенденциям моды и всегда быть уверенным в собственной неотразимости - именно такова цель интернет-молла, собравшего в себе самые популярные <strong>каталоги обуви и одежды</strong>, аксессуаров и детских товаров {{ yearPeriod() }}. Причем разнообразие ассортимента позволяет стильно выглядеть женщинам и мужчинам, а также детям.</p>
                    <h3>Преимущества каталога Footgears</h3>
                    <p>Почему интернет-католог Footgears пользуется спросом? Всё просто: большое количество моделей, доступность цен сделали его часто посещаемым людьми с любым достатком, разных возрастов и параметров.</p>
                    <p>Также к преимуществам Footgears следует отнести следующие его характеристики, позволяющие <strong>купить одежду и обувь</strong> быстро и с удовольствием:</p>
                    <ul style="margin: 0 0 20px">
                        <li>удобный интерфейс страницы, дающий возможность быстро переходить от одной категории каталога к другой;</li>
                        <li><strong>каталоги одежды и обуви</strong> представлены во всем многообразии размеров и цветовых решений;</li>
                        <li>максимальный объем информации по каждому наименованию позволяет получить полное представление о каждой модели.</li>
                    </ul>
                    <p>А такая возможность приобретения понравившегося товара, как <a href="{{ path('sale') }}" title="Каталог одежды, обуви и аксессуаров со скидками">распродажа одежды и обуви</a>, позволяет получить скидку и регулярно обновлять свой гардероб.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}