<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ app.request.host }}</title>
    {% if not type %}
    <meta http-equiv="refresh" content="0; URL={{ url }}">
    {% endif %}
</head>
<body>
    {% if 'image' == type %}
        <img src="{{ url }}" alt=""/>
    {% elseif 'iframe' == type %}
        <iframe src="{{ url }}"></iframe>
    {% endif %}
</body>
</html>
