{% extends 'SirianHelperBundle:Admin:form.html.twig' %}

{% block date_range_widget %}

    <link rel="stylesheet" href="{{ asset('vendor/bootstrap-daterangepicker/daterangepicker-bs2.css') }}" media="screen" />
    <script src="{{ asset('vendor/bootstrap-daterangepicker/moment.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap-daterangepicker/daterangepicker.js') }}"></script>

    <div class="input-group minimal">
        <div class="input-group-addon">
            <i class="entypo-calendar"></i>
        </div>
        <input id="{{ id }}" type="text" class="form-control daterange" value="{{ form.dateFrom.vars.value }} - {{ form.dateTo.vars.value }}">
    </div>

    <div style="display: none">
        {{ form_widget(form.dateFrom) }}
        {{ form_widget(form.dateTo) }}
    </div>
    <script type="text/javascript">
        $('#{{ id }}').daterangepicker({
                    ranges: {
                        'Сегодня': [moment(), moment()],
                        'Вчера': [moment().subtract('days', 1), moment().subtract('days', 1)],
                        '7 дней': [moment().subtract('days', 6), moment()],
                        '30 дней': [moment().subtract('days', 29), moment()],
                        'Этот месяц': [moment().startOf('month'), moment().endOf('month')],
                        'Прошлый месяц': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                    },
                    format: 'DD.MM.YYYY',
                    startDate: '{{ form.dateFrom.vars.value }}',
                    endDate: '{{ form.dateTo.vars.value }}'
                },
                function(start, end) {
                    $('#{{ id }}').val(start.format('DD.MM.YYYY') + ' - ' + end.format('DD.MM.YYYY'));

                    $('#{{ form.dateFrom.vars.id }}').val(start.format('DD.MM.YYYY'));
                    $('#{{ form.dateTo.vars.id }}').val(end.format('DD.MM.YYYY'));
                }).on('hidden', function(ev, picker) {
                });
    </script>
{% endblock %}

{% block suggest_js_hook %}
    $.extend(options, {
    width: '100%'
    });
{% endblock %}

{% block storage_file_row %}
    <div class="form-group{% if not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        <div class="controls">
            {% if value and value.file %}
                {% if value.isImage %}
                    <a href="{{ file_asset(value) }}" target="_blank"><img src="{{ file_thumb(value, 'logo_preview') }}" alt=""/></a>
                {% else %}
                    <a href="{{ file_asset(value) }}">{{ value.name }}</a>
                {% endif %}
            {% endif %}
            {{ form_widget(form.uploadedFile) }}
            {{- form_errors(form) -}}
        </div>
    </div>
{% endblock %}