{% extends 'AdminBundle::layout.html.twig' %}

{% block content_header %}<h1>Товары {{ shop.name }} {{ shopCategory.pathName }}</h1>{% endblock %}

{% block content %}

    <div class="row" style="margin: 0">
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="fa fa-picture-o"></i>
                    </span>
                    <h5>Картинки товаров</h5>
                </div>
                <div class="widget-content">
                    {% for item in pagination %}
                        <a href="{{ path('product_show', {id: item.id, slug: item.slug}) }}" target="_blank" title="{{ item.name }}"><img src="{{ item.firstImage }}" style="max-width: 500px; max-height: 250px; margin: 15px" /></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    {{ knp_pagination_render(pagination, 'SirianHelperBundle:Admin:table_pagination.html.twig') }}
{% endblock %}