{% for item in nodes %}
    {% set meta = metaInfo[item.id] %}
    <li data-id="{{ item.id }}" class="mjs-nestedSortable-branch  {{ item.enabled ? '' : 'disabled' }} {{ item.hasChildren ? 'mjs-nestedSortable-collapsed' : ''}} {{ meta.unhandled ? 'unhandled' : '' }}">
        <div>
            <span class="expander">
                <span></span>
            </span>

            <span class="name">{{ item.name }} ( Передано: {{ item.productsFromXML }}, В этой категории: {{ item.productsCount }}{% if item.hasChildren %}, Всего: {{ meta.importedProductsCount }}{% endif %})</span>
            <span class="category" data-category-id="{{ item.category ? item.category.id : '' }}">
                {{ item.category ? item.category.pathName : '------' }}
            </span>

            <div class="btn-group">
                {% if meta.unhandled %}
                <a class="btn btn-mini js-handle" title="Пометить как обработанную"><i class="icon-ok"></i></a>
                {% endif %}
                <a class="btn btn-mini js-toggle" title="Включить/Отключить импорт" href="#"><i class="icon-{{ item.enabled ? 'stop' : 'play' }}"></i></a>
            </div>

            <div class="btn-group" style="margin-right: 10px">
                <a class="btn btn-mini" target="_blank" href="{{ path('admin_shop_categories_products', {categoryId: item.id}) }}">Товары</a>
                <a class="btn btn-mini update_products" href="{{ path('admin_shop_categories_products_update', {shopId: item.shop.id, categoryId: item.id}) }}" title="Обновить категории у товаров"><i class="icon-refresh"></i></a>
            </div>

        </div>
    {% if item.hasChildren|length %}
        <ol data-nodes-url="{{ path('admin_shop_category_nodes', {categoryId: item.id}) }}"></ol>
    {% endif %}
    </li>
{% endfor %}
