{% extends 'AdminBundle::layout.html.twig' %}

{% block content_header %}<h1>Категории <a href="{{ path('admin_shop_edit', {id: shop.id}) }}">{{ shop.name }}</a></h1>{% endblock %}

{% block content_header_buttons %}
    <a class="btn btn-large update_products" href="{{ path('admin_shop_categories_products_update', {shopId: shop.id}) }}" title="Обновить категории у товаров всех категорий магазина"><i class="icon-refresh"></i></a>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div>
                <ol id="categories_tree" data-category-choose="{{ block('category_choose')|e }}" class="nestedSortable" data-nodes-url="{{ path('admin_shop_category_nodes', {categoryId: root.id}) }}"></ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block category_choose %}
{% spaceless %}
    <select>
        <option value="">------</option>
        {% for item in categories %}
            <option value="{{ item.id }}">{{ item.pathName }}</option>
        {% endfor %}
    </select>
{% endspaceless %}
{% endblock %}

{% block css %}
    {{ parent() }}
    <style type="text/css">
        #categories_tree div {
            color: #333;
        }
        #categories_tree .disabled div {
            background: #ff7373;
        }
        #categories_tree .category {
            font-weight: bold;
            cursor: pointer;
        }

        #categories_tree .unhandled>div {
            background: #e8e8a2;
        }
        #category_choose_container {
            display: inline-block;
        }

        #categories_tree .newProducts > div {
            background: #0b0;
        }
    </style>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {

            $(document).on('click', '.update_products', function(e) {
                e.preventDefault();

                $.ajax({
                    url: $(this).attr('href'),
                    type: 'get',
                    dataType: 'json',
                    success: function(data) {
                        sirian.showError({
                            title: 'Обновление запущено',
                            text: 'Скрипт успешно запущен. Если в категории много товаров, скрипт будет работать немного дольше'
                        });
                    }
                }).fail(function() {
                    sirian.showError({
                        title: 'Error in ajax request',
                        text: 'Во время работы произошла ошибка',
                        sticky: true
                    });
                });
            });

            var $categoriesTree = $('#categories_tree');
            $categoriesTree.on('click', '.js-toggle', function (e) {
                e.preventDefault();
                var $this = $(this);
                var $li = $this.closest('li');
                $li.toggleClass('disabled');
                $this.find('i').removeClass().addClass($li.hasClass('disabled') ? 'icon-play' : 'icon-stop');
                $.ajax({
                    url: "{{ path('admin_shop_categories_enabler', {categoryId: 'ID'}) }}".replace('ID', $li.attr('data-id')),
                    dataType: "json",
                    data: {
                        enabled: $li.hasClass('disabled') ? 0 : 1
                    },
                    type: 'POST'
                });
            }).on('click', '.expander', function(e) {
                e.stopImmediatePropagation();
                e.preventDefault();

                var $this = $(this);
                var $li = $this.closest('li')
                    .toggleClass('mjs-nestedSortable-collapsed')
                    .toggleClass('mjs-nestedSortable-expanded')
                ;
                var $list = $li.children('ol');
                loadNodes($list);
            }).on('click', '.js-handle', function (e) {
                e.preventDefault();
                var $this = $(this);
                var $li = $this.closest('li');
                $li.removeClass('unhandled').find('li').removeClass('unhandled');
                $li.find('.js-handle').hide();

                $.ajax({
                    url: "{{ path('admin_shop_categories_handle', {categoryId: 'ID'}) }}".replace('ID', $li.attr('data-id')),
                    dataType: "json",
                    type: 'POST'
                });
            }).on('click', '.category', function (e) {
                e.preventDefault();
                var $categoryChoose = $(this);
                $categoryChoose.removeClass('category');
                $categoryChoose.html($categoriesTree.attr('data-category-choose'));
                var $select = $categoryChoose.find('select');
                $select.val($categoryChoose.attr('data-category-id')).select2({
                    width: '500px'
                });
                $select.select2('open');
                $select.on('change', function (e) {
                    $categoryChoose.attr('data-category-id', $(this).val());
                    $categoryChoose.addClass('category').html($select.select2('data').text);
                    $.ajax({
                        url: '{{ path('admin_shop_categories_bind', {categoryId: 'ID'}) }}'.replace(/ID/, $categoryChoose.closest('li').attr('data-id')),
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            categoryId: $(this).val()
                        }
                    });
                });
            });

            function loadNodes($container) {
                if ($container.html()) {
                    return;
                }
                $container.html('Загрузка...');
                $.ajax({
                    url: $container.attr('data-nodes-url'),
                    success: function(data) {
                        $container.html(data);

                    }
                });

            }

            loadNodes($categoriesTree);
        });
    </script>
{% endblock %}
