{% extends 'AdminBundle::layout.html.twig' %}

{% block content_header_buttons %}
    <a href="{{ path('admin_shop_new') }}" class="btn btn-large tip-bottom" data-original-title="Создать"><i class="icon-plus"></i></a>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-list"></i>
                    </span>
                    <h5>Список магазинов</h5>
                </div>
                {% form_theme filterForm 'AdminBundle:Form:form_theme.html.twig' %}

                <div class="widget-content nopadding">
                    <form class="form-horizontal validate" novalidate="novalidate" id="search_filters">
                        {{ form_widget(filterForm) }}
                        <div class="form-actions">
                            <button type="submit" value="" name="_submit" class="btn btn-primary">Фильтр</button>
                            <a href="{{ path('admin_shop_list') }}" class="btn btn-primary">Сбросить</a>
                        </div>
                    </form>
                    <div class="dataTables_wrapper">
                        <table class="table table-bordered data-table">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>originalId</th>
                                <th>Лого</th>
                                <th>Название</th>
                                <th>Активный</th>
                                <th>Последний имопрт</th>
                                <th>Товаров инд/всего</th>
                                <th>Приоритет</th>
                                <th>Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in pagination %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.originalId }}</td>
                                    <td><img src="{{ file_asset(item.logo) }}" /></td>
                                    <td>
                                        <a href="{{ path('admin_shop_edit', {id: item.id}) }}">{{ item.name }}</a>
                                        <span class="label"><a href="{{ path('shop', {alias: item.alias}) }}" style="color: #fff;">{{ item.alias }}</a></span>
                                        {% if item.status != 'approved' %}
                                            <span class="label label-{{ item.status == 'pending' ? 'info' : 'warning' }}" {% if item.status == 'blocked' %}data-toggle="tooltip" title="{{ item.systemComment }}"{% endif %}>{{ item.statusName }}</span>
                                        {% endif %}
                                    </td>
                                    <td>{% if item.active %}<span class="icon-ok"></span>{% endif %}</td>
                                    <td>{{ item.importProductsSettings.lastImport ? item.importProductsSettings.lastImport|date('Y-m-d H:i') : '' }}</td>
                                    <td style="text-align: right;">{{ item.productsCountFromIndex|number }} / {{ item.productsCount|number }}</td>
                                    <td style="text-align: right">{{ item.priority }}</td>
                                    <td>
                                        <a class="btn btn-mini tip-bottom {% if handled_statuses[item.id] is defined and handled_statuses[item.id] %}btn-danger{% endif %}" title="{% if handled_statuses[item.id] is defined and handled_statuses[item.id] %}Есть измененные {% endif %}категории" href="{{ path('admin_shop_categories', {id: item.id}) }}" target="_blank"><i class="icon-folder-open"></i></a>
                                        <div class="btn-group">
                                            <a class="btn btn-mini" href="{{ path('admin_shop_edit', {id: item.id}) }}"><i class="icon-pencil"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% block pagination %}
                            {{ knp_pagination_render(pagination, 'SirianHelperBundle:Admin:table_pagination.html.twig') }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('.delete-item').on('click', function(e) {
                e.preventDefault();

                if (!confirm('Удалить элемент?')) {
                    return;
                }

                window.location.href = $(this).data('url');
            });

            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        });
    </script>
{% endblock %}