{% if rows|length %}
<div class="suggest">
    <ul>
        {% for row in rows %}
            <li><a href="{{ row.url }}">{{ row.phrase|lower }}</a></li>
        {% endfor %}
    </ul>
    {#<a href="" class="action">Выключить</a> живой поиск <span class="additional">(для медленных компьютеров)</span>#}
</div>
{% endif %}
