{% extends 'MainBundle::layout_inner.html.twig' %}

{% macro categoryTree(request, categories) %}
    {% import _self as macros %}

    <ul class="list-unstyled list-cat">
    {% for item in categories %}
        <li {% if item.current %}class="active"{% endif %}>
            <a href="{{ generateFilterUrl('category', {alias: item.category.alias}) }}">{{ item.category.shortName|capitalize }}</a>
            {% if item.count %}<small>{{ item.count|number }}</small>{% endif %}
            {% if item.children|length %}
                {{ macros.categoryTree(request, item.children) }}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endmacro %}

{% macro suggestRow(name, id, value, label, checked) %}
    <li><input type="checkbox" {% if name %}name="{{ name }}"{% endif %} id="{{ id }}" value="{{ value }}" {% if checked %}checked="checked"{% endif %}> <label for="{{ id }}">{{ label }}</label></li>
{% endmacro %}

{% block breadcrumb %}
    <li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ path('homepage') }}">Главная</a></li>
    <li class="current">Поиск <strong>{{ request.searchQuery }}</strong></li>
{% endblock %}

{% block meta_robots %}{% if app.request.query.get('page') %}<meta name="robots" content="noindex,nofollow">{% endif %}{% endblock %}

{% block search_query %}{{ request.searchQuery }}{% endblock %}

{% block title %}{{ request.searchQuery|capitalize }}{% if result.page > 1 %} - страница {{ result.page }}{% endif %}{% endblock %}

{% block content %}
    {% import _self as macros %}

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-push-2">

                <ol class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
                    {{ block('breadcrumb') }}
                </ol>

                {% block search_result %}

                    <div class="catalog-title">
                        <h1>{% block searchTitle %}{{ request.searchQuery|capitalize }}{% endblock %}{% block page_edit %}{% endblock %}</h1>
                        {% block title_tags %}{% endblock %}
                    </div>

                    {% if not result.total %}

                        {% block search_result_no_results %}
                        <div class="catalog">
                            {{ block('selected_filters') }}
                        </div>

                        <section class="no-results">
                            {% block no_results_alert %}
                            <div class="alert alert-warning">
                                <p>Все товары уже раскупили.</p>
                            </div>
                            {% endblock %}

                            {% if searches|length %}
                                <section class="popular-queries">
                                    <div class="title">Самые популярные запросы на поиске</div>
                                    <ul>
                                        {% for search in searches %}
                                            <li><a href="{{ path('search', {q: search.query}) }}">{{ search.query }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </section>
                            {% endif %}
                        </section>

                        {% endblock %}
                        {% block similar %}{% endblock %}

                    {% else %}

                        <div class="catalog">
                            {% block tags %}{% endblock %}

                            <div class="toolbar clearfix">
                                <p class="">
                                    {% block found_count %}{{ pluralize(result.total, ['Найден', 'Найдено', 'Найдено']) }} <strong>{{ result.total|number }}</strong> {{ pluralize(result.total, ['товар', 'товара', 'товаров']) }}{% endblock %}
                                </p>
                                <!--noindex-->
                                <p class="sort-variants">
                                    Сортировать по:
                                    {% set currentRoute = app.request.attributes.get('_route') %}

                                    {% for item in [
                                        {field: '', label: 'новизне'},
                                        {field: 'price', label: 'цене'},
                                        {field: 'discount', label: 'скидке'}
                                    ] %}
                                        <a href="{{ mergedPath(currentRoute, {sortField: item.field}) }}" title="Сортировать по {{ item.label }}" {% if item.field == request.sortField %}class="active"{% endif %} rel="nofollow">{{ item.label }}</a>{% if not loop.last %} | {% endif %}
                                    {% endfor %}
                                </p>
                                <!--/noindex-->
                            </div>

                            <!--noindex-->
                            {{ block('selected_filters') }}
                            <!--/noindex-->

                            {#<div id="ajax_load_products" data-page="{{ result.page }}">#}

                                {#<div class="text-center">#}
                                    {#<i class="fa fa-circle-o-notch fa-4x fa-spin"></i>#}
                                    {#<span class="sr-only">Loading...</span>#}
                                {#</div>#}
                            {#</div>#}

                            <div class="row products">
                                {{ include('@Main/Product/cards.html.twig', {products: result.products, cols: 4}) }}
                            </div>
                            {{ knp_pagination_render(result.pagination, '@Main/pagination.html.twig') }}

                            {% block similar_found %}{% endblock %}
                        </div>

                    {% endif %}

                {% endblock search_result %}
            </div>
            <!--noindex-->
            <div class="col-md-2 col-md-pull-10 hidden-xs hidden-sm">
                <aside class="sidebar">
                    {% block sidebar %}
                    <form id="filter_form" {% block filter_form_attr %}action="{{ app.request.pathInfo }}"{% endblock %}>

                        <a href="#" id="found_count" class="notifyQuantity rounded5" style="display: none; opacity: 1;" data-label="показать товары" data-action="клик" data-category="форма поиска">
                            <i class="fa fa-search"></i> Показать товары: <span class="count">1243546572345</span>
                        </a>

                        {% block filter_form %}

                            <input type="hidden" name="q" value="{{ request.searchQuery }}"/>
                            <input type="hidden" id="limit" name="limit" value="{{ request.limit }}"/>
                            <input type="hidden" id="sortField" name="sortField" value="{{ app.request.query.get('sortField', request.sortField) }}"/>

                            {% block filter_categories %}
                                {% if availableCategories|length %}

                                    <aside class="block blk-cat filter-blk">
                                        {{ macros.categoryTree(request, availableCategories) }}
                                    </aside>
                                {% endif %}
                            {% endblock filter_categories %}

                        {% if result.total %}
                            {% block filter_brands %}

                                <aside class="block blk-brands brands filter-blk">

                                    <div class="filter-block filter-list js-filter-list" data-url="{{ path('search_suggest_brands') }}" data-name="brandId" data-template="{{ macros.suggestRow('brandId[]', 'brand_ID', 'ID', 'NAME')|e }}">
                                        <div class="title">Бренды</div>
                                        <input type="text" placeholder="Введите название бренда" class="search">

                                        <div>
                                            <div class="items">
                                                <ul class="list-unstyled list-cat js-search-items">
                                                </ul>
                                            </div>
                                            <div class="selected" style="display: {{ requestedBrands|length ? 'block' : 'none' }}">
                                                <div>
                                                    <span>Выбранные</span>
                                                </div>
                                                <ul class="js-selected-items list-unstyled items">
                                                    {% for brand in requestedBrands %}
                                                        {{ macros.suggestRow('brandId[]', 'brand_' ~ brand.id, brand.id, brand.name, true) }}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </aside>

                            {% endblock %}

                            {% block filter_price %}

                                <aside class="block filter-blk">
                                    <div class="title">Ценовой диапазон</div>

                                    <ul class="price">
                                        {% if result.priceMax >= 3000 %}
                                            <li><a rel="nofollow" class="js-set-price" data-price-from="{{ result.priceMin }}" data-price-to="3000">до 3 000 {{ base_currency|currency }}</a></li>
                                        {% endif %}
                                        {% if result.priceMax >= 8000 %}
                                            <li><a rel="nofollow" class="js-set-price" data-price-from="3000" data-price-to="8000">от 3 000 до 8 000 {{ base_currency|currency }}</a></li>
                                        {% endif %}
                                        {% if result.priceMax >= 15000 %}
                                            <li><a rel="nofollow" class="js-set-price" data-price-from="8000" data-price-to="15000">от 8 000 до 15 000 {{ base_currency|currency }}</a></li>
                                        {% endif %}
                                        {% if result.priceMax > 15000 %}
                                            <li><a rel="nofollow" class="js-set-price" data-price-from="15000" data-price-to="{{ result.priceMax }}">от 15 000 {{ base_currency|currency }}</a></li>
                                        {% endif %}
                                    </ul>

                                    <div id="price-range">
                                        <div class="padding-range">
                                            <div id="slider-range" data-default-min="{{ result.priceMin }}" data-default-max="{{ result.priceMax }}" data-max="{{ request.priceTo|default(result.priceMax) }}" data-min="{{ request.priceFrom|default(result.priceMin) }}"></div>
                                        </div>
                                        <label for="amount">Цена:</label>
                                        <input type="text" id="amount" disabled>

                                        <input id="price-min" type="hidden" name="priceFrom" class="number" value="">
                                        <input id="price-max" type="hidden" name="priceTo" class="number" value="">

                                        <p class="clearfix"></p>
                                    </div>

                                </aside>

                            {% endblock %}

                            {% block attribute_filters %}
                                {% for attributeForm in attributeFilters %}

                                    <aside class="block blk-colors filter-blk {{ attributeForm.class }}">
                                        <div class="title">{{ attributeForm.name }}</div>
                                        <ul class="list-unstyled list-cat list-cat-inline">
                                            {% for value in attributeForm.values %}
                                                <li><input type="checkbox" name="attr[]" {% if value.selected %}checked="checked"{% endif %} id="attribute{{ value.value }}" value="{{ value.value }}"> <label for="attribute{{ value.value }}"> {{ value.text }}</label></li>
                                            {% endfor %}
                                        </ul>
                                    </aside>

                                {% endfor %}
                            {% endblock %}

                            {% block filter_shares %}

                                <aside class="block filter-blk">
                                    <div class="title">Акции</div>
                                    <ul class="list-unstyled list-cat">
                                        {% block filter_form_is_sale %}
                                            <li><input type="checkbox" name="isSale" {% if request.isSale %}checked="checked"{% endif %} id="is_sale" value="1"> <label for="is_sale">Скидки</label></li>
                                        {% endblock %}
                                    </ul>
                                </aside>

                            {% endblock %}

                            {% block filter_shops %}

                                <aside class="block blk-brands filter-blk">
                                    <div class="title">Магазины</div>
                                    <div class="items">
                                        <ul class="list-unstyled list-cat">

                                            {% for shop in availableShops %}
                                                {{ macros.suggestRow('shopId[]', 'shop_' ~ shop.id, shop.id, shop.name, shop.id in request.shopIds) }}
                                            {% endfor %}

                                        </ul>
                                    </div>
                                </aside>

                            {% endblock %}
                        {% endif %}

                        {% endblock filter_form %}
                    </form>

                    {% block sidebar_bottom %}{% endblock %}
                    {% endblock sidebar %}
                </aside>
            </div>
            <!--/noindex-->
        </div>
    </div>
{% endblock %}

{% block selected_filters %}
    {% if selectedFilters.groupFiltersList %}
        <div class="row selected-filters">
            <div class="col-sm-12">
                <ul class="list-inline">
                    {% for groupFilters in selectedFilters.groupFiltersList %}
                        {% for filter in groupFilters.filters %}
                            <li><a href="#" class="selected-filter" data-field="{{ filter.field|url_encode }}" data-value="{{ filter.value|url_encode }}">{{ groupFilters.title }} {{ filter.title }} <span class="close-btn"><i class="fa fa-times"></i></span></a></li>
                        {% endfor %}
                    {% endfor %}
                    <li><a href="#" class="clear-all-filters">Очистить все фильтры <span class="close-btn"><i class="fa fa-times"></i></span></a></li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block main_breadcrumbs %}{% endblock %}
