{% extends 'MainBundle:Search:layout.html.twig' %}

{% macro categoryTree(request, categories) %}
    {% import _self as macros %}

    <ul class="list-unstyled list-cat">
        {% for item in categories %}
            <li {% if item.current %}class="active"{% endif %}>
                <a href="{{ path('category_sale', {alias: item.category.alias}) }}">{{ item.category.shortName|capitalize }}</a>
                {% if item.count %}<small>{{ item.count|number }}</small>{% endif %}
                {% if item.children|length %}
                    {{ macros.categoryTree(request, item.children) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block filter_categories %}
    {% import _self as macros %}

    {% if availableCategories|length %}
        <aside class="block blk-cat filter-blk">
            {{ macros.categoryTree(request, availableCategories) }}
        </aside>
    {% endif %}
{% endblock filter_categories %}

{% block breadcrumb %}
    <li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ path('homepage') }}">Главная</a></li>
    <li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ path('sale') }}" title="Обувь со скидкой">Обувь со скидкой</a></li>
{% endblock %}

{% block title %}{% spaceless %}
    {% if result.page > 1 %}
        Купить одежду и обувь со скидкой - страница {{ result.page }}
    {% else %}
        {{ replaceSeoVariables(seoSettings.sale.title, ['%min%', '%amt%', '%host%'], [result.priceMin, result.total, app.request.host])|ucfirst }}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block meta_description %}{% spaceless %}
    {{ replaceSeoVariables(seoSettings.sale.description, ['%min%', '%amt%', '%host%'], [result.priceMin, result.total, app.request.host])|ucfirst }}
{% endspaceless %}{% endblock %}

{% block meta_keywords %}{% spaceless %}
    {{ replaceSeoVariables(seoSettings.sale.keywords, ['%min%', '%amt%', '%host%'], [result.priceMin, result.total, app.request.host])|ucfirst }}
{% endspaceless %}{% endblock %}

{% block searchTitle %}Одежда, обувь и аксессуары со скидкой{% endblock %}

{% block filter_form_attr %}action="{{ path('search') }}"{% endblock %}

{% block search_result %}

    {{ parent() }}

    {{ block('sale_description') }}

{% endblock %}

{% block sale_description %}

    {% if result.page == 1 and result.total %}
        <section class="about-category">
            <p class="name">Одежда, обувь и аксессуары со скидкой</p>
            <div class="description">
                <h4>Интернет-молл одежды и обуви Footgears: С нами покупать выгодно</h4>
                <p>Скидки на одежду и обувь - актуальный вопрос для наших соотечественников. Ежедневно тысячи мужчин и женщин задаются вопросом: где идет распродажа одежды, где лучшие скидки на обувь.  Интернет-молл обуви Footgears.ru - огромный выбор качественной и красивой одежды. Так же имеется большой каталог женской, мужской и детской обуви: качественные ботинки, сапоги, туфли женские, туфли мужские, кроссовки, различные другие модели обуви на зиму и лето.</p>
                <p>Стоит сказать, разнообразие моделей впечатлит даже самых капризных и требовательных покупателей. Практичные клиенты обязательно оценят ценовую политику. На страницах каталога можно найти:</p>
                <ul>
                    <li>адидас скидки на кроссовки <a href="{{ path('category_brand_sale', {alias: 'women-shoes-and-sneakers', brandAlias: 'adidas'}) }}" title="женские кроссовки со скидкой">женских</a> и <a href="{{ path('category_brand_sale', {alias: 'men-sneakers-and-gumshoes', brandAlias: 'adidas'}) }}" title="Мужские кроссовки со скидкой">мужских</a> моделей</li>
                    <li>туфли со скидкой различных брендов и статусов для леди и джентльменов</li>
                    <li>ботинки распродажа, самые модные модели конечно же.</li>
                </ul>
                <p>А так же огромное количество других моделей.</p>
                <p>Предлагаемая Footgears одежда и обувь - коллекций российских и иностранных марок. Когда вы слышите слова распродажа обуви - это не значит что пары будут плохими, отнюдь, вся обувь имеет сертификаты качества и проходит жесткий отбор на заводах производителей. Вы можете быть уверены, приобретая товар у нас - вы получите качественную обувь по сниженной цене.  Она обязательно сослужит вам долгую службу и будет радовать комфортом.</p>
                <p>На все модели предоставляется гарантия производителя, при обнаружении каких-либо проблем вы можете обменять пару, но на нашей практике такие случаи крайне редки.</p>
                <p>Покупая обувь в Москве совсем необязательно тратить много времени на поездки по торговым центрам и поиски хорошей пары по приемлемой цене. Достаточно зайти в интернет-каталог Footgears.ru. Мы предоставим вашему вниманию огромный каталог товара со скидками от 30 до 90 процентов. Согласитесь, так приятно получать бонусы и экономить. Удачного шоппинга.</p>
            </div>
        </section>
    {% endif %}

{% endblock %}