{% extends 'form_div_layout.html.twig' %}

{%- block form_widget_compound -%}
    {%- if form.parent is empty -%}
        {{ form_errors(form) }}
    {%- endif -%}
    {{- block('form_rows') -}}
    {{- form_rest(form) -}}
{%- endblock form_widget_compound -%}

{% block form_row %}
    {% spaceless %}
        <div class="form-group{{ form.vars.errors|length ? ' error' : '' }}">
            <div class="row">
                <div class="col-sm-12">
                    {{ form_label(form) }}
                    <div class="controls">
                        {{ form_widget(form) }}
                        {{ form_errors(form) }}
                    </div>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block form_widget %}
    {% set attr=attr|merge({class: 'form-control'}) %}
    {{ parent() }}
{% endblock %}

{% block email_widget %}
    {% set attr=attr|merge({class: 'form-control'}) %}
    {{ parent() }}
{% endblock %}

{% block textarea_widget %}
    {% set attr=attr|merge({class: 'form-control', rows: 10}) %}
    {{ parent() }}
{% endblock textarea_widget %}

{% block form_errors %}
    {% if errors|length %}
        <label id="{{ id }}-error" class="error" for="{{ id }}">{% for error in errors %}{{ error.message }}<br/>{% endfor %}</label>
    {% endif %}
{% endblock %}

{% block button_row %}
    <div class="form-group">
        {{- form_widget(form) -}}
    </div>
{% endblock button_row %}

{% block submit_widget %}
    {% set attr=attr|merge({class: 'btn btn-primary'}) %}
    {% set type = type|default('submit') %}
    {{ block('button_widget') }}
{% endblock submit_widget %}