body {
    font-family: 'PT Sans',sans-serif;
    padding-top: 120px;
}

.main {
    margin-top: 10px;
}

.page-top .container, .page-top-md .container, .page-top-lg .container {
    height: auto;
}

.page-top, .page-top-md, .page-top-lg {
    background-color: #fff;
    margin: 20px auto 10px;
}

#top {
    font-size: 13px;
    text-transform: none;
    background: #eee;
}

.nav-top>li>a {
    padding: 3px 5px;
    color: #777;
}








/* --------------------------------------- */

.navbar {
    min-height: 40px;
}

.navbar-top {
    margin-top: 0;
    -webkit-transition: margin-top .2s linear;
    -moz-transition: margin-top .2s linear;
}

.navbar-white {
    background-color: rgba(255,255,255,.95);
    border: none;
}

.navbar-brand {
    padding: 8px 15px;
}

.navbar-42 {
    min-height: 42px;
}

.navbar-collapse {
    border: none;
}

.navbar-collapse.in {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
}

.top-promo {
    background: #444;
    text-align: center;
    font-size: 12px;
    min-height: 27px;
    font-weight: 700;
}

.top-promo a, .top-promo>span {
    padding: 5px 0;
    display: block;
}

.top-promo a:hover {
    background: #666;
    text-decoration: underline;
}

.top-promo, .top-promo a {
    color: #fff;
}

.navbar-toggle {
    border: none;
    margin-top: 3px;
    margin-bottom: 7px;
    color: #444;
}

.navbar-toggle .icon-bar {
    width: 20px;
    height: 3px;
    border-radius: 0;
    margin: 0 auto;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #444;
}

.navbar-default .navbar-toggle:hover {
    color: #1bbeb4;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #1bbeb4;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-toggle .menu-title {
    font-size: 10px;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
}

.navbar-collapse-divider {
    height: 2px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #fff;
}

.navbar-form {
    margin: 9px 0;
    padding: 0;
    text-align: center;
    border: none;
}

.navbar .form-group {
    position: relative;
    display: inline-block;
}

.navbar .search-input {
    border-radius: 0;
    height: 32px;
    width: 300px!important;
    padding-right: 34px;
}

.icon-search, .navbar .dropdown:hover .dropdown-menu {
    display: block;
}

.icon-search {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 6px;
    right: 8px;
    cursor: pointer;
}

.navbar-categories {
    margin-top: 0;
    background-color: rgba(255,255,255,.95);
    padding: 1px 0 0;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    border-top: 1px solid #eee;
    border-bottom: 0 solid #eee;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,.26);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.navbar-categories .dropdown-menu {
    margin-top: 0;
    border-radius: 0;
    text-align: left;
}

.navbar-categories .dropdown-menu a:hover {
    text-decoration: underline;
}

.navbar-categories ul.navbar-categories-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-categories ul.navbar-categories-list li.top-category {
    display: inline-block;
    margin: 0 20px;
}

.navbar-categories ul.navbar-categories-list li.top-category>a {
    color: #000;
    display: block;
    line-height: 41px;
    text-transform: uppercase;
}

.navbar-categories ul.navbar-categories-list li.top-category>a:hover {
    color: #3598db;
    text-decoration: none;
}

.navbar-categories .dropdown-sub {
    list-style: none;
    padding: 5px 10px 15px;
}

.navbar-categories .dropdown-sub>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
}

.navbar-categories .dropdown-sub>li>a.bold-link, .sidebar-block ul.parent-categories, .top-promo {
    font-weight: 700;
}

.navbar-categories .dropdown-sub >li>a.all {
    color: #3598db;
}

.footer .title {
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    margin: 0 0 20px;
    line-height: 1.1;
    font-family: inherit;
    font-weight: 500;
    text-align: left;
}

.footer .title:after {
    content: none;
}


/* --------------------------------------- */

.breadcrumb {
    margin: 0 0 5px;
}

.breadcrumb a {
    color: #777;
}

.breadcrumb > li + li:before {
    color: #ccc;
}

.breadcrumb li, .breadcrumb > .active {
    color: #777;
}

.products-page.products-slide {
    margin-bottom: 40px;
}

.summary h1 {
    font-size: 30px;
    margin-right: 170px;
}

.summary .brand {
    float: right;
}

.summary .price {
    font-weight: bold;
    font-size: 2em;
}

.modal .summary .title {
    font-size: 19px;
    font-weight: normal;
    text-align: initial;
    text-transform: initial;
    position: initial;
    margin: initial;
}

.modal .summary .title:after {
    content: none;
}

.modal .summary .price {
    margin: 0 0 5px;
    font-size: 1em;
}

.modal .summary .cart {
    padding: 10px 0;
    margin: 0 0 10px;
}

.modal .summary .cart a {
    width: inherit;
    font-size: inherit;
}

.cart a {
    width: 100%;
    margin: 0;
    font-size: 1.3em;
}

.cart .category-link {
    width: auto;
    margin: auto;
    font-size: .857em;
}

.catalog .toolbar {
    margin-bottom: 10px;
    border: none;
}

.toolbar p:first-child {
    margin-top: 5px;
}

.toolbar p {
    line-height: 1;
    margin-bottom: 10px;
}

.sort-variants {
    color: #666;
}

.sort-variants a {
    color: #000;
    border-bottom: 1px dotted;
}

.sort-variants a:hover {
    color: #3598db;
}

.sort-variants a.active {
    font-weight: 700;
    color: #3598db;
}

.catalog .row {
    margin-bottom: 20px;
}

.catalog .selected-filters {

}

.catalog .selected-filters {
    margin-bottom: 0;
}

.catalog .selected-filters li {
    display: inline-block;
    margin: 10px 0 0 0;
}

.catalog .selected-filters li a {
    border: none;
    margin: 0;
    padding: 0 0 0 10px;
    height: 24px;
    font-size: 12px;
    line-height: 2.1;
    color: #606060;
    background-color: #eee;
    display: block;
}

.catalog .selected-filters li .close-btn {
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 12px;
    background-color: #dedede;
    color: #999999;
    font-weight: bold;
    margin-left: 5px;
    line-height: 2.1;
}

.catalog .selected-filters li a:hover {
    background-color: #dedede;
}

.catalog .selected-filters li a:hover .close-btn {
    background-color: #6b6b6b;
    color: #fefefe;
}

.catalog .selected-filters li a.clear-all-filters {
    background-color: #dedede;
}

.catalog .selected-filters li a.clear-all-filters .close-btn {
    background-color: #aaa;
    color: #fefefe;
}

.catalog .products > div {
    padding-left: 0;
    padding-right: 0;
}

.catalog .products .product:hover {
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15), inset 0 -3px #e6e6e6, inset 0 0 0 1px #e0e0e0;
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15), inset 0 -3px #e6e6e6, inset 0 0 0 1px #e0e0e0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15), inset 0 -3px #e6e6e6, inset 0 0 0 1px #e0e0e0;
    z-index: 2;
}

.catalog .products .product:before {
    content: '';
    display: block;
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 36px;
    left: 0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(16.85%, #e1e1e1), color-stop(100%, #e1e1e1));
    background-image: -webkit-linear-gradient(#ffffff 0%, #e1e1e1 16.85%, #e1e1e1 100%);
    background-image: -moz-linear-gradient(#ffffff 0%, #e1e1e1 16.85%, #e1e1e1 100%);
    background-image: -o-linear-gradient(#ffffff 0%, #e1e1e1 16.85%, #e1e1e1 100%);
    background-image: linear-gradient(#ffffff 0%, #e1e1e1 16.85%, #e1e1e1 100%);
}

.catalog .products .product:hover:before {
    display: none;
}

.catalog .products .product:nth-child(3n+1):before {
    display: none;
 }

.item.product {
    margin-bottom: 0;
    padding-top: 1px;
    line-height: 1.4;
}

.item.product .product-thumb-info {
    /*height: 490px;*/
    height: 405px;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
}

.product-thumb-info-content a {
    display: block;
}

.item.product .product-thumb-info-image {
    height: 320px;
    vertical-align: middle;
    display: table-cell;
}

.item.product .product-thumb-info-content {
    margin-top: 5px;
    text-align: center;
}

.item.product .brand {
}

.catalog .products > div:hover .item.product h4 a {
    color: #3598db;
}

.item .product-thumb-info-content .price-info, .summary .price .price-info {
    font-size: 1em;
    line-height: 1;
}

.summary .price .price-info {
    color: #000;
}

.item .product-thumb-info-content .price-info .percent, .summary .price .price-info .percent {

}

.summary .price .price-info .percent {
    color: #f00 !important;
}

.item .product-thumb-info-content .price-info .price, .summary .price .price-info .price {
    display: inherit;
}

.item .product-thumb-info-content .price-info .price.discount, .summary .price .price-info .price.discount {
    color: #3598db;
}

.item.product .item-cat a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.catalog .products .product .about {
    display: none;
    background: rgb(43, 43, 43);
    background: rgba(43, 43, 43, .75);
    font-size: 16px;
    font-weight: bold;
    color: #e2e2e2;
    border: none;
    box-shadow: none;
    border-radius: 0;
    height: 40px;
    line-height: 40px;
    position: absolute;
    left: 0;
    top: 281px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 1;
}

.item.product .about {
    display: none;
}

.catalog .products .product:hover .about {
    display: block;
}

.catalog .products .product:hover .about:hover {
    background: rgba(43, 43, 43, .85);
}

.product-container div.product.unavailable .blind .label {
    position: absolute;
    left: 10px;
    right: 10px;
    text-align: center;
    top: 50%;
    color: white;
    z-index: 2;
    padding: 1em 0;
    background-color: rgba(0,0,0,0.5);
}

.product-container div.product .blind {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
}

.product-container div.product.unavailable .blind {
    display: block;
}

.catalog .products .product.unavailable .about {
    display: block;
    left: 5%;
    width: 90%;
    top: 150px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.5);
    font-weight: normal;
}

.bag {
    left: auto;
    right: 20px;
}

.item.product .bag, .modal .product-detail .bag {
    font-size: 1.2em;
    height: 50px;
    width: 50px;
    line-height: 49px;
}

.bag-cool, .bag-onsale {
    background-color: #eb1d41;
}

.blk-brands {
    margin-top: 20px;
}

.blk-cat ul {
    list-style: none;
    padding-left: 10px;
}

.sidebar .logo {
    text-align: center;
    margin: 0 0 20px;
}

.sidebar .block.blk-brands {
    margin: 20px 0;
}

.sidebar .block + .block {
    margin-top: 0;
    padding-top: 0;
}

.sidebar .block + .block:after {
    height: 0;
}

.js-filter-list input[type=text] {
    margin-bottom: 10px;
    width: 100%;
    padding: 0 5px;
}

.blk-cat > ul {
    padding-left: 0;
}

.blk-cat li.active > a {
    /*color: #3598db;*/
    font-weight: bold;
}

.blk-cat .list-cat li {
    line-height: 1.7;
}

.list-cat-inline {
    display: inline-block;
}

.list-cat-inline li {
    float: left;
    margin: 0 5px;
}

.list-cat small {
    font-size: 70%;
}

.list-cat li {
    line-height: 1.5;
}

.filter-blk .title {
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.1em;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    text-align: left;
    /*margin: 0 0 30px;*/
}

.filter-blk .title:after {
    content: none;
}

.filter-blk h4 {
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.filter-blk a {
    color: #134e98;
}

.filter-blk a:hover, .filter-blk a:focus {
    color: #000;
}

.filter-blk .price a {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px dashed;
    color: #000;
    font-size: 0.8em;
}

.filter-blk .price a:hover, .filter-blk .price a:focus {
    color: #134e98;
}

.blk-brands .items {
    border: 1px solid #ccc;
    padding: 10px;
}

.blk-brands ul {
    max-height: 200px;
    overflow-y: auto;
}

.blk-brands .items ul {
    margin-bottom: 0;
}

.blk-brands.brands ul {
    margin-top: 0;
}

.blk-brands.brands .selected {
    margin-top: 10px;
}

#price-range input {
    width: 120px;
}

#price-range p {
    padding: 0;
}

.letters-tabs li {
    margin-bottom: 15px;
}

.letters-tabs > li > a {
    width: inherit;
    padding: 2px 7px;
    font-size: 20px;
}

.letters-items .letter {
    font-weight: bold;
    font-size: 80px;
    text-transform: uppercase;
    color: #000;
}

.letters-items .letter-block {
    margin-bottom: 50px;
}

.letters-items .letter-block:last-child {
    margin-bottom: 100px;
}

.letters-items ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.letter-block .all-items > div {
    font-size: 1.7em;
    line-height: 1.2;
    margin-top: 15px;
    text-align: center;
    background-color: #3598db;
    font-weight: 700;
    padding: 10px;
}

.letter-block .all-items a {
    color: #fff;
}

.shop-list {
    margin-bottom: 30px;
}

.shop-list .shop {
    text-align: center;
    padding-bottom: 20px;
}

.banner {
    margin-bottom: 15px;
    text-align: center;
}

.product-meta a {
    color: #3598db;
    text-decoration: underline;
}

.popular-banners {
    margin-bottom: 30px;
}

.popular-banners .item {
    padding: 15px 0;
    text-align: center;
}

.popular-banners .item a {
    display: block;
    height: 75px;
}

.popular-banners .item img {
    margin: 0 auto;
}

.about-category {
    padding: 15px 20px;
    margin-bottom: 50px;
    background-color: #f7f7f7;
}

.about-category .name {
    font-size: 28px;
    margin: 0 0 6px;
    font-weight: bold;
    color: #333;
}

.about-category .description {
    overflow: hidden;
    font-size: 13px;
    position: relative;
    display: inline;
}

.about-category a {
    color: #3598db;
}

.about-category a:hover {
    text-decoration: underline;
}

.about-category .box-content .row {
    margin: 0;
}

.about-category .stat .title {
    font-size: 1em;
    padding-bottom: 5px;
    margin-bottom: 20px;
    line-height: 1;
    text-align: left;
}

.about-category .stat .title:after {
    border-bottom: 2px solid black;
    top: 100%;
}

.about-category .stat .item {
    display: inline-block;
    padding: 0 0 7px 17px;
    margin-left: 3%;
    border-left: 1px solid #dedede;
}

.about-category .stat .item:first-child {
    margin-left: 0;
    padding-left: 0;
    border-left: 0;
}

.about-category .stat .item .text {
    margin-bottom: 16px;
    line-height: 15px;
    display: block;
}

.about-category .stat .item .value {
    font-weight: bold;
}

.popular-brands .title {
    font-size: 1em;
    margin-bottom: 10px;
    line-height: 1;
    text-align: left;
}

.popular-brands .title:after {
    content: none;
}

.popular-brands ul {
    margin: 0 0 30px;
    padding: 0;
    list-style: none;
}

.popular-brands li {
    display: inline-block;
    padding: 0 15px 5px 10px;
    position: relative;
}

.popular-brands li:before {
    content: '•';
    /*content: '·';*/
    position: absolute;
    left: 0;
}

.suggest {
    position: absolute;
    top: 58px;
    border: 1px #000 solid;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: #fff;
    width: 500px;
    z-index: 10;
}

.suggest ul {
    list-style: none;
    padding-left: 0;
    padding-top: 10px;
}

.suggest li {
    padding: 0;
    margin: 0;
}

.suggest li a {
    display: block;
    padding: 3px 10px;
}

.suggest li a:hover {
    background-color: #3598db;
    color: #333;
}

#filter_form .notifyQuantity {
    font-size: 1.1em;
    right: -190px;
    margin-left: 100%;
    margin-right: 0;
    position: absolute;
    top: 50%;
    white-space: nowrap;
    z-index: 100000;
    background: #3598db;
    /*border: 1px solid #ccc;*/
    border-radius: 3px;
    padding: 7px 17px;
    color: #fff;
}

#filter_form .notifyQuantity:hover {
    background: #000;
}

#filter_form .notifyQuantity .count {
    font-weight: bold;
}

.product-additional-info .types {
    margin: 0;
    padding: 10px;
}

.product-additional-info .types li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

.product-additional-info a.more {
    color: #3598db;
}

.feedback {

}

.feedback label {
    color: #666666;
}

.feedback .form-group.error input, .feedback .form-group.error textarea {
    border-color: #f64243;
}

.feedback .form-group.error label.error {
    color: #f64243;
}

.feedback label.required:after {
    content: '*';
    margin-left: 3px;
    color: #3598db;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #3598db;
    border-color: #3598db;
}

.catalog .tags {
    margin: 12px 0;
}

.catalog .tags ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.catalog .tags li {
    display: inline-block;
    padding: 0 20px 5px 0;
    position: relative;
}

.catalog .tags li:first-child {
    padding-left: 0;
}

.catalog .tags li .tag {
    color: #3598db;
}

.catalog .tags li.active .tag {
    color: #333;
}

.catalog-title {

}

.catalog-title h1 {
    display: inline;
}

.catalog-title .tag {
    float: right;
    background: #f0f2f7;
    padding: 7px 9px;
    font-size: 13px;
    border-radius: 2px;
}

.catalog-title .tag:hover {
    color: #f0f2f7;
    background: #3598db;
    padding: 7px 9px;
}

.catalog-title .tag.tag-sale {
    background: #f0f2f7;
}

.catalog-title .tag.tag-sale:hover {
    background: #f0f2f7;
    color: #3598db;
}

.catalog-title .tag.tag-sale span {
    display: inline-block;
    text-transform: uppercase;
    background: #eb1d41;
    color: #fff;
    padding: 0 5px;
    margin-left: 5px;
}

.cities-list-link {
    color: #666 !important;
}

.cities-list ul {
    max-height: 200px;
    overflow: scroll;
    background: #fff;
    color: #000;
}

.cities-list ul li {
    padding: 3px 10px;
}

.cat-item .cat-description {
    padding: 0;
}

.cat-item .cat-description a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 20px;
}

.cat-description .more, .cat-description .title {
    transition: transform 0.5s;
}

.cat-item .cat-description .title {
    display: block;
    margin: 0 0 5px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
    color: white;
    font-size: 1.714em;
    text-transform: none;
}

.cat-item .cat-description .title:after {
    content: none;
}

.cat-item:hover .cat-description .title, .cat-item:hover .cat-description .more {
    transform: translate3d(0, 0, 0);
}

.cat-item .cat-description .more {
    display: block;
    text-transform: uppercase;
    text-decoration: underline;
    transform: translate3d(0, 0, 0);
    color: rgba(255, 255, 255, 0.5);
    font-size: .857em;
    font-weight: 700;
}

@media only screen and (max-width: 414px), only screen and (max-device-width: 414px) {
    .products .col-xs-6 {
        width: 50% !important;
        float: left !important;
        border: #c0c0c0 1px solid;
        margin: 0 !important;
    }

    .upper-foot .col-xs-6 {
        width: 50% !important;
        float: left !important;
        margin: 0 !important;
        min-height: 200px;
        padding-right: 0 !important;
    }

    .about-category .stat .item {
        display: block;
        padding: 17px 0 0;
        margin: 3% 0 0;
        border: 0;
        border-top: 1px solid #dedede;
    }

    .about-category .stat .item:first-child {
        margin: 0 !important;
        border: 0 !important;
    }
}

@media only screen and (max-width: 735px), only screen and (max-device-width: 735px) {
    body.main-page {
        padding-top: 75px;
    }

    body {
        padding-top: 75px;
    }

    .navbar-header {
        box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
        -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
        -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    }
}

.recommend-products .price .old .amount {
    color: #000;
    text-decoration: line-through;
}