/* line 5, ../sass/datetimepicker.scss */
.input-group .input-group-addon {
  border-radius: 0;
}

/* line 11, ../sass/datetimepicker.scss */
.bootstrap-datetimepicker-widget a {
  color: #1abc9c;
}
/* line 14, ../sass/datetimepicker.scss */
.bootstrap-datetimepicker-widget a:hover, .bootstrap-datetimepicker-widget a:focus {
  color: #333333;
}
/* line 18, ../sass/datetimepicker.scss */
.bootstrap-datetimepicker-widget .btn {
  border: 1px solid transparent;
  min-width: 0;
  padding: 6px 12px;
  text-transform: none;
}
/* line 24, ../sass/datetimepicker.scss */
.bootstrap-datetimepicker-widget .btn:hover, .bootstrap-datetimepicker-widget .btn:focus {
  background-color: transparent;
  border-color: transparent;
  color: #333333;
}
/* line 30, ../sass/datetimepicker.scss */
.bootstrap-datetimepicker-widget.dropdown-menu {
  background-color: white;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
/* line 38, ../sass/datetimepicker.scss */
.bootstrap-datetimepicker-widget td.active, .bootstrap-datetimepicker-widget td.active:hover {
  background-color: #1abc9c;
}
/* line 41, ../sass/datetimepicker.scss */
.bootstrap-datetimepicker-widget td.today:before {
  border-bottom-color: #1abc9c;
}
