/* line 4, ../sass/theme-elements.scss */
h1, h2, h3, h4, h5, h6 {
  color: #333333;
  margin: 0 0 20px;
}

/* line 9, ../sass/theme-elements.scss */
p, ul, ol {
  margin: 0 0 20px;
}

/* line 13, ../sass/theme-elements.scss */
a {
  color: #333333;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}
/* line 24, ../sass/mixins/_mixins.scss */
a:hover, a:focus {
  color: #1abc9c;
}
/* line 16, ../sass/theme-elements.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 21, ../sass/theme-elements.scss */
address {
  line-height: 2.4;
}

/* line 25, ../sass/theme-elements.scss */
small, .post-meta {
  font-size: 95%;
}

/* line 29, ../sass/theme-elements.scss */
input, button, select, textarea {
  background: #fafafa;
  border: 1px solid #dddddd;
}

/* line 34, ../sass/theme-elements.scss */
textarea {
  resize: none;
}

/* line 39, ../sass/theme-elements.scss */
blockquote p {
  line-height: 1.4;
}
/* line 41, ../sass/theme-elements.scss */
blockquote p:before {
  content: "\'\' ";
}
/* line 45, ../sass/theme-elements.scss */
blockquote p:after {
  content: " \'\'";
}
/* line 49, ../sass/theme-elements.scss */
blockquote footer:before {
  display: none;
}

/* drop caps */
/* line 55, ../sass/theme-elements.scss */
.drop-caps:first-letter {
  color: #1abc9c;
  float: left;
  font-size: 5.357em;
  line-height: 60px;
  padding: 4px;
  margin-right: 5px;
  margin-top: 5px;
}

/* line 66, ../sass/theme-elements.scss */
.drop-caps.secondary:first-letter {
  background-color: #1abc9c;
  border-radius: 3px;
  color: white;
  padding: 6px;
  margin-right: 5px;
}

/* line 74, ../sass/theme-elements.scss */
.form-control {
  border-color: #dddddd;
  box-shadow: none;
  height: 35px;
}
/* line 78, ../sass/theme-elements.scss */
.form-control:focus {
  border-color: #666666;
  box-shadow: none;
}

/* line 84, ../sass/theme-elements.scss */
.input-lg, .form-horizontal .form-group-lg .form-control {
  font-size: 1em;
  height: 48px;
}

/* line 89, ../sass/theme-elements.scss */
.formDropdown {
  width: 100%;
  padding: 7px 40px 10px 15px;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  height: 41px;
  display: block;
}

/* line 98, ../sass/theme-elements.scss */
select {
  -webkit-appearance: none;
  /*Removes default chrome and safari style*/
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  background: url("../images/dropdown-button.png") no-repeat right -1px white;
  cursor: pointer;
}

/* line 107, ../sass/theme-elements.scss */
.error {
  color: #f64243;
}

/* line 111, ../sass/theme-elements.scss */
.alert {
  margin-bottom: 30px;
}

/* Firefox select button fix */
@-moz-document url-prefix() {
  /* line 117, ../sass/theme-elements.scss */
  select {
    background-position: 88.9% -1px;
    background-image: url("../images/dropdown-button2.png");
  }

  /* line 121, ../sass/theme-elements.scss */
  .formDropdown {
    width: 111%;
    padding: 10px 40px 10px 15px;
  }
}

/* line 127, ../sass/theme-elements.scss */
select::-ms-expand {
  display: none;
}

/* line 132, ../sass/theme-elements.scss */
label {
  font-weight: 400;
}

/* line 136, ../sass/theme-elements.scss */
.divider {
  background-color: white;
  display: block;
  height: 1px;
  margin: 0 auto 15px;
  width: 50px;
}

/* line 144, ../sass/theme-elements.scss */
.bg-color {
  background-color: #555;
}

/* line 148, ../sass/theme-elements.scss */
.tall {
  margin: 50px 0;
}

/* line 152, ../sass/theme-elements.scss */
.short {
  padding-top: 30px !important;
}

/* line 156, ../sass/theme-elements.scss */
.img-circle img {
  border-radius: 50%;
}

/* line 161, ../sass/theme-elements.scss */
.btn,
.form-control {
  border-radius: 0;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

/* line 166, ../sass/theme-elements.scss */
.btn {
  background-color: transparent;
  border: 2px solid #333333;
  color: #333333;
  font-size: .857em;
  font-weight: 700;
  min-width: 140px;
  padding: 14px 15px 13px;
  text-transform: uppercase;
}
/* line 175, ../sass/theme-elements.scss */
.btn:hover, .btn:focus {
  background-color: #1abc9c;
  border-color: #1abc9c;
  color: white;
}

/* line 182, ../sass/theme-elements.scss */
.btn-icon i {
  margin-right: 8px;
}

/* line 186, ../sass/theme-elements.scss */
.btn-default {
  background-color: #333333;
  color: white;
}

/* line 191, ../sass/theme-elements.scss */
.btn-primary {
  background-color: #1abc9c;
  border-color: #1abc9c;
  color: white;
}
/* line 195, ../sass/theme-elements.scss */
.btn-primary:hover, .btn-primary:focus {
  background-color: #333333;
  border-color: #333333;
  color: white;
}

/* line 202, ../sass/theme-elements.scss */
.btn-white {
  background-color: transparent;
  border-color: white;
  color: white;
}
/* line 206, ../sass/theme-elements.scss */
.btn-white:hover, .btn-white:focus {
  background-color: #1abc9c;
  border-color: #1abc9c;
}

/* line 212, ../sass/theme-elements.scss */
.btn-grey {
  background-color: whitesmoke;
  border-color: whitesmoke;
  color: #666666;
  min-width: 50px;
}

/* line 219, ../sass/theme-elements.scss */
.btn-black {
  background-color: black;
  border-color: black;
  color: #333333;
}

/* line 225, ../sass/theme-elements.scss */
.btn-greyer {
  border-color: #666666;
  color: #666666;
}

/* line 230, ../sass/theme-elements.scss */
.btn-active {
  background-color: #1abc9c;
  border-color: #1abc9c;
  color: white;
}

/* line 236, ../sass/theme-elements.scss */
.btn-xs {
  min-width: 0;
  padding: 5px 20px 4px;
}

/* line 241, ../sass/theme-elements.scss */
.btn-sm {
  min-width: 0;
  padding: 9px 20px 8px;
}

/* line 246, ../sass/theme-elements.scss */
.btn-lg, .btn-group-lg > .btn {
  padding-left: 35px;
  padding-right: 35px;
}

/* line 251, ../sass/theme-elements.scss */
.title {
  font-weight: 700;
  font-size: 1.714em;
  margin-bottom: 50px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 45px;
}
/* line 73, ../sass/mixins/_mixins.scss */
.title:after {
  border-top: 1px solid #dddddd;
  content: "";
  left: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 1;
}
/* line 98, ../sass/mixins/_mixins.scss */
.title span {
  background: white;
  padding: 0 40px;
  position: relative;
  z-index: 2;
}

/* line 256, ../sass/theme-elements.scss */
.post-info-act {
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  position: absolute;
  top: 50%;
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 350%, 0);
  transform: translate3d(0, 350%, 0);
  z-index: 1;
}
/* line 269, ../sass/theme-elements.scss */
.post-info-act a {
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

/* line 281, ../sass/theme-elements.scss */
.post-image {
  background-color: #1abc9c;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}
/* line 286, ../sass/theme-elements.scss */
.post-image > a > img, .post-image > img {
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
/* line 292, ../sass/theme-elements.scss */
.post-image:hover .post-info-act {
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 298, ../sass/theme-elements.scss */
.post-image:hover > a > img, .post-image:hover > img {
  filter: alpha(opacity=60);
  opacity: .6;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 307, ../sass/theme-elements.scss */
.post-audio,
.post-video {
  margin-bottom: 20px;
}

/* line 311, ../sass/theme-elements.scss */
.post-meta {
  color: #999999;
}
/* line 314, ../sass/theme-elements.scss */
.post-meta a {
  color: #1abc9c;
}
/* line 316, ../sass/theme-elements.scss */
.post-meta a:hover, .post-meta a:focus {
  color: #333333;
}
/* line 320, ../sass/theme-elements.scss */
.post-meta span {
  margin-right: 10px;
}
/* line 322, ../sass/theme-elements.scss */
.post-meta span i {
  margin-right: 3px;
}

/* line 328, ../sass/theme-elements.scss */
.pro-tabs {
  border-bottom: none;
  margin-bottom: 50px;
}
/* line 331, ../sass/theme-elements.scss */
.pro-tabs > li {
  display: inline-block;
  float: none;
  margin: 0 1px;
}
/* line 335, ../sass/theme-elements.scss */
.pro-tabs > li a {
  border-radius: 0;
  background: white;
  border: 2px solid black;
  color: black;
  font-size: .929em;
  font-weight: 700;
  display: inline-block;
  padding: 12px 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 150px;
}
/* line 349, ../sass/theme-elements.scss */
.pro-tabs > li a:hover {
  background: black;
  border-color: black;
  color: white;
}
/* line 355, ../sass/theme-elements.scss */
.pro-tabs > li.active > a, .pro-tabs > li.active > a:hover, .pro-tabs > li.active > a:focus {
  background-color: black;
  border-color: black;
  border-width: 2px;
  color: white;
}

/* line 364, ../sass/theme-elements.scss */
.second-tabs {
  border-bottom: none;
  font-size: .929em;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: -3px;
  margin-right: -3px;
  overflow: hidden;
  /* end li */
}
/* line 372, ../sass/theme-elements.scss */
.second-tabs li {
  margin: 0 3px 10px;
}
/* line 374, ../sass/theme-elements.scss */
.second-tabs li a {
  background: #f0f0f0;
  border: none;
  border-radius: 0;
  color: #333333;
  display: block;
  margin-right: 0;
  padding: 12px 15px;
}
/* line 384, ../sass/theme-elements.scss */
.second-tabs li.active:after {
  bottom: -5px;
  height: 0;
  border-top: 5px solid #1abc9c;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  content: "";
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 0;
}
/* line 387, ../sass/theme-elements.scss */
.second-tabs li.active a {
  background-color: #1abc9c;
  border: none;
  color: white;
}
/* line 391, ../sass/theme-elements.scss */
.second-tabs li.active a:hover, .second-tabs li.active a:focus {
  border: none;
}

/* line 399, ../sass/theme-elements.scss */
.product {
  margin-bottom: 30px;
  position: relative;
}

/* line 404, ../sass/theme-elements.scss */
.bag {
  border-radius: 50%;
  color: white;
  font-size: .857em;
  height: 40px;
  line-height: 40px;
  left: 20px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 40px;
  z-index: 2;
}
/* line 416, ../sass/theme-elements.scss */
.bag a {
  color: white;
}

/* line 420, ../sass/theme-elements.scss */
.bag-new {
  background-color: #1abc9c;
}

/* line 423, ../sass/theme-elements.scss */
.bag-hot {
  background-color: #f64243;
}

/* line 427, ../sass/theme-elements.scss */
.bag-cool,
.bag-onsale {
  background-color: #a57bcd;
}

/* line 431, ../sass/theme-elements.scss */
.product-thumb-info-act {
  left: 0;
  position: absolute;
  text-align: center;
  bottom: 50%;
  margin-bottom: -25px;
  width: 100%;
  z-index: 3;
}
/* line 439, ../sass/theme-elements.scss */
.product-thumb-info-act a {
  background: white;
  color: #333333;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin: 0 3px;
  opacity: 0;
  width: 50px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translate3d(0, 172px, 0);
  transform: translate3d(0, 172px, 0);
}
/* line 452, ../sass/theme-elements.scss */
.product-thumb-info-act a:hover, .product-thumb-info-act a:focus {
  background-color: #1abc9c;
  color: white;
}
/* line 457, ../sass/theme-elements.scss */
.product-thumb-info-act .add-to-cart-product {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

/* line 463, ../sass/theme-elements.scss */
.product-thumb-info-image {
  margin-bottom: 15px;
  position: relative;
}
/* line 466, ../sass/theme-elements.scss */
.product-thumb-info-image:hover .product-thumb-info-act a {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 473, ../sass/theme-elements.scss */
.price {
  color: #1abc9c;
}

/* line 478, ../sass/theme-elements.scss */
.item-cat, .price {
  display: block;
}

/* line 483, ../sass/theme-elements.scss */
.product-thumb-info-content h4 {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 0;
  padding-right: 85px;
}
/* line 489, ../sass/theme-elements.scss */
.product-thumb-info-content .item-cat a {
  color: #999999;
}
/* line 491, ../sass/theme-elements.scss */
.product-thumb-info-content .item-cat a:hover, .product-thumb-info-content .item-cat a:focus {
  color: #1abc9c;
}

/* line 497, ../sass/theme-elements.scss */
.required {
  color: #e21313;
}

/* product-list */
/* line 502, ../sass/theme-elements.scss */
.list-icons {
  margin: 0 15px 0 0;
}
/* line 504, ../sass/theme-elements.scss */
.list-icons li {
  padding-left: 0;
}
/* line 507, ../sass/theme-elements.scss */
.list-icons a {
  border: 1px solid #ddd;
  color: #333333;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
}
/* line 516, ../sass/theme-elements.scss */
.list-icons .active a, .list-icons a:hover, .list-icons a:focus {
  background-color: #333333;
  border-color: #333333;
  color: white;
}

/* line 524, ../sass/theme-elements.scss */
.product-list .product-thumb-info-content .product-thumb-info-act {
  position: static;
  margin-bottom: 0;
  width: auto;
}
/* line 528, ../sass/theme-elements.scss */
.product-list .product-thumb-info-content .product-thumb-info-act .add-to-cart-product {
  background-color: #eee;
  margin: 0 0 0 6px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 534, ../sass/theme-elements.scss */
.product-list .product-thumb-info-content .product-thumb-info-act .add-to-cart-product:hover, .product-list .product-thumb-info-content .product-thumb-info-act .add-to-cart-product:focus {
  background-color: #1abc9c;
}

/* form-newsletter */
/* line 542, ../sass/theme-elements.scss */
.form-newsletter {
  position: relative;
}
/* line 544, ../sass/theme-elements.scss */
.form-newsletter .form-group {
  width: 100%;
}
/* line 546, ../sass/theme-elements.scss */
.form-newsletter .form-group .form-control {
  border: none;
  font-size: .857em;
  padding-right: 45px;
  width: 100%;
}
/* line 554, ../sass/theme-elements.scss */
.form-newsletter .btn {
  background: white;
  border: none;
  height: 35px;
  min-width: 40px;
  padding: 10px 0 9px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
}

/* tags */
/* line 568, ../sass/theme-elements.scss */
.tagclouds a {
  border: 1px solid #484848;
  color: #999999;
  display: inline-block;
  margin: 0 2px 5px 0;
  padding: 5px 10px;
  text-transform: capitalize;
}
/* line 575, ../sass/theme-elements.scss */
.tagclouds a:hover, .tagclouds a:focus {
  color: #1abc9c;
  border-color: #1abc9c;
}

/* Scroll to Top */
/* line 582, ../sass/theme-elements.scss */
.scroll-to-top {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  background-color: #1abc9c;
  bottom: 20px;
  color: white;
  display: block;
  font-size: 1.285em;
  height: 50px;
  line-height: 50px;
  opacity: 0;
  position: fixed;
  right: 20px;
  text-align: center;
  text-decoration: none;
  width: 50px;
  z-index: 1040;
}
/* line 598, ../sass/theme-elements.scss */
.scroll-to-top:hover, .scroll-to-top:focus {
  background-color: #333333;
  color: white;
}
/* line 602, ../sass/theme-elements.scss */
.scroll-to-top.visible {
  filter: alpha(opacity=10);
  opacity: 1;
}

/* breadcrumb */
/* line 609, ../sass/theme-elements.scss */
.breadcrumb, .pager, .pagination {
}

/* line 613, ../sass/theme-elements.scss */
.breadcrumb {
  background-color: transparent;
  border-radius: 0;
  margin: 20px 0 0;
  padding: 0;
}
/* line 618, ../sass/theme-elements.scss */
.breadcrumb li, .breadcrumb > .active {
  color: white;
}
/* line 621, ../sass/theme-elements.scss */
.breadcrumb > li + li:before {
  color: rgba(255, 255, 255, 0.8);
}
/* line 624, ../sass/theme-elements.scss */
.breadcrumb a {
  color: rgba(255, 255, 255, 0.8);
}
/* line 626, ../sass/theme-elements.scss */
.breadcrumb a:hover, .breadcrumb a:focus {
  color: #666666;
}

/* pager */
/* line 633, ../sass/theme-elements.scss */
.pager {
  margin: 20px 0;
  text-align: right;
}
/* line 636, ../sass/theme-elements.scss */
.pager li > a, .pager li > span {
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
}
/* line 641, ../sass/theme-elements.scss */
.pager li > a:hover, .pager li > a:focus, .pager li > span:hover, .pager li > span:focus {
  background-color: transparent;
  color: #666666;
}
/* line 646, ../sass/theme-elements.scss */
.pager a {
  color: white;
}
/* line 649, ../sass/theme-elements.scss */
.pager li + li {
  border-left: 1px solid white;
  margin-left: 6px;
  padding-left: 8px;
}

/* pagination */
/* line 657, ../sass/theme-elements.scss */
.pagination {
  margin: 0 0 50px;
}
/* line 660, ../sass/theme-elements.scss */
.pagination li {
  background: #333333;
  display: inline-block;
  margin: 0 4px;
  text-align: center;
}
/* line 668, ../sass/theme-elements.scss */
.pagination li > a,
.pagination li > span {
  background-color: #333333;
  border: none;
  color: white;
  line-height: 40px;
  padding: 0 18px;
}
/* line 681, ../sass/theme-elements.scss */
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  background-color: whitesmoke;
  border-color: whitesmoke;
  color: #333333;
}
/* line 686, ../sass/theme-elements.scss */
.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
/* line 691, ../sass/theme-elements.scss */
.pagination li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
/* line 705, ../sass/theme-elements.scss */
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #1abc9c;
  color: white;
  border-color: #1abc9c;
}

/* accordion */
/* line 713, ../sass/theme-elements.scss */
.panel-group {
  margin-bottom: 50px;
}
/* line 715, ../sass/theme-elements.scss */
.panel-group .panel-default {
  border-radius: 0;
  border-color: transparent;
  box-shadow: none;
  font-size: .928em;
}
/* line 720, ../sass/theme-elements.scss */
.panel-group .panel-default + .panel {
  margin-top: 0;
}
/* line 723, ../sass/theme-elements.scss */
.panel-group .panel-default > .panel-heading {
  background-color: transparent;
  border-color: transparent;
  border-top: 1px solid #333333;
  color: #333333;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0 0 13px;
}
/* line 732, ../sass/theme-elements.scss */
.panel-group .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
  padding: 0;
}
/* line 736, ../sass/theme-elements.scss */
.panel-group .panel-default h4 {
  padding-top: 15px;
}
/* line 739, ../sass/theme-elements.scss */
.panel-group .panel-default .panel-title {
  font-size: 1em;
  font-weight: 700;
  position: relative;
}
/* line 743, ../sass/theme-elements.scss */
.panel-group .panel-default .panel-title:after {
  bottom: -5px;
  height: 0;
  border-top: 5px solid #1abc9c;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  content: "";
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 0;
  border-top-color: #e0e0e0;
  bottom: auto;
  left: auto;
  margin-left: 0;
  right: 0;
  top: 15px;
}
/* line 752, ../sass/theme-elements.scss */
.panel-group .panel-default .panel-title a {
  display: block;
}

/* line 760, ../sass/theme-elements.scss */
.panel-body.post-comments > .comments > li:first-child {
  border-top: none;
  padding-top: 0;
}

/* line 766, ../sass/theme-elements.scss */
.panel-group2 .panel-default {
  font-size: 1em;
}
/* line 768, ../sass/theme-elements.scss */
.panel-group2 .panel-default > .panel-heading {
  border-top: none;
}
/* line 771, ../sass/theme-elements.scss */
.panel-group2 .panel-default .panel-title {
  font-weight: 400;
}
/* line 773, ../sass/theme-elements.scss */
.panel-group2 .panel-default .panel-title:after {
  display: none;
}
/* line 776, ../sass/theme-elements.scss */
.panel-group2 .panel-default .panel-title label {
  display: block;
}
/* line 778, ../sass/theme-elements.scss */
.panel-group2 .panel-default .panel-title label a {
  display: inline-block;
}
/* line 783, ../sass/theme-elements.scss */
.panel-group2 .panel-default > .panel-heading + .panel-collapse > .panel-body {
  background-color: whitesmoke;
  margin-bottom: 15px;
  padding: 15px 20px;
  position: relative;
}
/* line 788, ../sass/theme-elements.scss */
.panel-group2 .panel-default > .panel-heading + .panel-collapse > .panel-body:after {
  height: 0;
  border-bottom: 6px solid whitesmoke;
  border-left: 6px solid rgba(0, 0, 0, 0);
  border-right: 6px solid rgba(0, 0, 0, 0);
  content: "";
  left: 15px;
  position: absolute;
  top: -7px;
  width: 0;
}
/* line 791, ../sass/theme-elements.scss */
.panel-group2 .panel-default > .panel-heading + .panel-collapse > .panel-body p {
  margin: 0;
}

/* btn-group */
/* line 800, ../sass/theme-elements.scss */
.btn-group a {
  color: #666666;
  display: inline-block;
  padding: 9px 15px 8px;
}
/* line 804, ../sass/theme-elements.scss */
.btn-group a:hover, .btn-group a:focus {
  color: #1abc9c;
}

/* sitemap */
/* line 811, ../sass/theme-elements.scss */
.sitemap {
  padding: 30px 0 60px;
}
/* line 813, ../sass/theme-elements.scss */
.sitemap h3 {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}
