@media (min-width: 1367px) {
  /* Firefox select button fix */
  @-moz-document url-prefix() {
    /* line 7, ../sass/theme-responsive.scss */
    .formDropdown {
      width: 110.5%;
    }

    /* line 12, ../sass/theme-responsive.scss */
    .list-select .list-sort {
      border-right: 1px solid #333333;
      height: 41px;
    }
    /* line 16, ../sass/theme-responsive.scss */
    .list-select .formDropdown {
      width: 109.5%;
    }
}
}
@media (max-width: 1280px) {
  /* Firefox select button fix */
  @-moz-document url-prefix() {
    /* line 26, ../sass/theme-responsive.scss */
    .formDropdown {
      width: 110.5%;
    }

    /* line 31, ../sass/theme-responsive.scss */
    .list-select .list-sort {
      border-right: 1px solid #333333;
      height: 41px;
    }
    /* line 35, ../sass/theme-responsive.scss */
    .list-select .formDropdown {
      width: 109.5%;
    }
}
}
@media (max-width: 1024px) {
  /* line 43, ../sass/theme-responsive.scss */
  .navbar-nav > .megamenu .dropdown-menu .sub-menu > li > a {
    white-space: normal;
  }

  /* line 47, ../sass/theme-responsive.scss */
  .wp-ads li {
    padding: 10px 0 10px 10px;
  }
  /* line 48, ../sass/theme-responsive.scss */
  .wp-ads li .fa {
    font-size: 1.857em;
    margin-top: 5px;
  }

  /* Firefox select button fix */
  @-moz-document url-prefix() {
    /* line 58, ../sass/theme-responsive.scss */
    .featured-box .formDropdown {
      width: 111%;
    }

    /* line 62, ../sass/theme-responsive.scss */
    .featured-box-cart .formDropdown {
      width: 111.7%;
    }
}

  /* line 67, ../sass/theme-responsive.scss */
  .featured-box-cart .box-content {
    overflow-x: auto;
    padding-bottom: 30px;
  }

  /* line 71, ../sass/theme-responsive.scss */
  .featured-box-secondary.featured-box-cart .box-content {
    overflow-x: hidden;
    padding-bottom: 0;
  }

  /* line 76, ../sass/theme-responsive.scss */
  .pgl-fixed .container {
    padding-left: 0;
    padding-right: 0;
  }
}
/*@media (max-width: 992px) {*/
  /* line 84, ../sass/theme-responsive.scss */
  /*.navbar-header {*/
    /*float: none;*/
  /*}*/

  /* line 88, ../sass/theme-responsive.scss */
  /*.navbar-default .navbar-toggle {*/
    /*display: block;*/
  /*}*/

  /* line 92, ../sass/theme-responsive.scss */
  /*.navbar-collapse.collapse {*/
    /*display: none !important;*/
  /*}*/

  /* line 96, ../sass/theme-responsive.scss */
  /*.navbar-collapse.in {*/
    /*overflow-y: auto;*/
  /*}*/

  /* line 100, ../sass/theme-responsive.scss */
  /*.collapse.in {*/
    /*display: block !important;*/
  /*}*/

  /* line 104, ../sass/theme-responsive.scss */
  /*.navbar-act {*/
    /*position: absolute;*/
    /*right: 45px;*/
    /*top: 0;*/
  /*}*/

  /* line 110, ../sass/theme-responsive.scss */
  /*.navbar-main .navbar-nav {*/
    /*float: none !important;*/
  /*}*/

  /* line 114, ../sass/theme-responsive.scss */
  /*.navbar-collapse {*/
    /*background-color: black;*/
    /*border-bottom: none !important;*/
    /*width: 260px;*/
    /*padding-left: 0;*/
    /*padding-right: 0;*/
    /*position: absolute;*/
    /*right: 15px;*/
    /*top: 85px;*/
  /*}*/
  /* line 123, ../sass/theme-responsive.scss */
  /*.navbar-collapse .navbar-nav > li {*/
    /*float: none;*/
  /*}*/
  /* line 125, ../sass/theme-responsive.scss */
  /*.navbar-collapse .navbar-nav > li > a {*/
    /*border-top: 1px solid rgba(255, 255, 255, 0.1);*/
    /*color: white;*/
    /*padding-bottom: 10px;*/
    /*padding-top: 10px;*/
  /*}*/
  /* line 131, ../sass/theme-responsive.scss */
  /*.navbar-collapse .navbar-nav > li > a.dropdown-toggle:before {*/
    /*content: "\f107";*/
    /*font-family: 'FontAwesome';*/
    /*position: absolute;*/
    /*right: 15px;*/
    /*top: 11px;*/
    /*color: #7e7e7e;*/
    /*font-size: 1.5em;*/
    /*font-weight: 700;*/
  /*}*/
  /* line 141, ../sass/theme-responsive.scss */
  /*.navbar-collapse .navbar-nav > li > a.dropdown-toggle:hover:before, .navbar-collapse .navbar-nav > li > a.dropdown-toggle:focus:before {*/
    /*color: white;*/
  /*}*/
  /* line 148, ../sass/theme-responsive.scss */
  /*.navbar-collapse .dropdown-menu {*/
    /*background: none;*/
    /*border-top: 1px solid rgba(255, 255, 255, 0.1);*/
    /*box-shadow: none;*/
    /*float: none;*/
    /*padding: 10px 20px !important;*/
    /*position: static;*/
  /*}*/
  /* line 157, ../sass/theme-responsive.scss */
  /*.navbar-collapse .dropdown-submenu > .dropdown-menu {*/
    /*border-top: none;*/
    /*margin-top: 0;*/
  /*}*/

  /* line 163, ../sass/theme-responsive.scss */
  /*.collapse.in {*/
    /*-moz-transform: translate3d(0, 0, 0);*/
    /*-ms-transform: translate3d(0, 0, 0);*/
    /*-webkit-transform: translate3d(0, 0, 0);*/
    /*transform: translate3d(0, 0, 0);*/
  /*}*/

  /* line 171, ../sass/theme-responsive.scss */
  /*.navbar-main .navbar-nav .open > a:after {*/
    /*display: none;*/
  /*}*/
  /*!* line 174, ../sass/theme-responsive.scss *!*/
  /*.navbar-main .navbar-nav .dropdown-menu {*/
    /*font-size: .928em;*/
  /*}*/
  /*!* line 177, ../sass/theme-responsive.scss *!*/
  /*.navbar-main .navbar-nav .dropdown-menu .dropdown-menu {*/
    /*font-size: 1em;*/
  /*}*/

  /*!* line 184, ../sass/theme-responsive.scss *!*/
  /*.navbar-nav > .megamenu .dropdown-menu {*/
    /*margin: 0;*/
  /*}*/
  /*!* line 187, ../sass/theme-responsive.scss *!*/
  /*.navbar-nav > .megamenu .mega-menu-content {*/
    /*padding: 0 20px;*/
  /*}*/
  /*!* line 189, ../sass/theme-responsive.scss *!*/
  /*.navbar-nav > .megamenu .mega-menu-content .row {*/
    /*margin-left: 0;*/
    /*margin-right: 0;*/
  /*}*/
  /*!* line 193, ../sass/theme-responsive.scss *!*/
  /*.navbar-nav > .megamenu .mega-menu-content .menu-column {*/
    /*display: block;*/
    /*float: none;*/
    /*padding: 0;*/
    /*width: 100%;*/
  /*}*/
  /*!* line 198, ../sass/theme-responsive.scss *!*/
  /*.navbar-nav > .megamenu .mega-menu-content .menu-column + .menu-column {*/
    /*border-left: none;*/
    /*display: block;*/
    /*margin-top: 20px;*/
  /*}*/

  /*!* line 208, ../sass/theme-responsive.scss *!*/
  /*.dropdown-submenu > a:after {*/
    /*display: none;*/
  /*}*/
  /*!* line 211, ../sass/theme-responsive.scss *!*/
  /*.dropdown-submenu > .dropdown-menu {*/
    /*display: block;*/
  /*}*/

  /*!* line 218, ../sass/theme-responsive.scss *!*/
  /*.navbar-main .navbar-collapse .navbar-nav > li > a:hover, .navbar-main .navbar-collapse .navbar-nav > li > a:focus {*/
    /*background-color: #1abc9c;*/
    /*color: white;*/
  /*}*/
  /*!* line 228, ../sass/theme-responsive.scss *!*/
  /*.navbar-main .navbar-collapse .navbar-nav > .active > a,*/
  /*.navbar-main .navbar-collapse .navbar-nav > .active > a:hover,*/
  /*.navbar-main .navbar-collapse .navbar-nav > .active > a:focus,*/
  /*.navbar-main .navbar-collapse .navbar-nav > .open > a,*/
  /*.navbar-main .navbar-collapse .navbar-nav > .open > a:hover,*/
  /*.navbar-main .navbar-collapse .navbar-nav > .open > a:focus {*/
    /*color: white;*/
    /*background-color: #1abc9c;*/
  /*}*/
  /*!* line 232, ../sass/theme-responsive.scss *!*/
  /*.navbar-main .navbar-collapse .navbar-nav > .active > a:before {*/
    /*color: white;*/
  /*}*/

  /*!* line 238, ../sass/theme-responsive.scss *!*/
  /*.navbar-main-narrow .logo {*/
    /*margin: 26px 0;*/
  /*}*/
  /*!* line 242, ../sass/theme-responsive.scss *!*/
  /*.navbar-main-narrow .navbar-act > li > a {*/
    /*padding-bottom: 34px;*/
    /*padding-top: 34px;*/
  /*}*/
  /*!* line 247, ../sass/theme-responsive.scss *!*/
  /*.navbar-main-narrow .shopping-bag {*/
    /*top: 24px;*/
  /*}*/

  /*!* home 2 *!*/
  /*!* line 253, ../sass/theme-responsive.scss *!*/
  /*.wp-ads li {*/
    /*min-height: 80px;*/
    /*text-align: center;*/
  /*}*/
  /*!* line 256, ../sass/theme-responsive.scss *!*/
  /*.wp-ads li .fa {*/
    /*display: block;*/
    /*float: none;*/
    /*margin-right: 0;*/
    /*margin-top: 5px;*/
  /*}*/

  /*!* home 4 *!*/
  /*!* line 265, ../sass/theme-responsive.scss *!*/
  /*.navbar-main-drop {*/
    /*!* main nav *!*/
  /*}*/
  /*!* line 267, ../sass/theme-responsive.scss *!*/
  /*.navbar-main-drop .navbar-collapse {*/
    /*right: auto;*/
  /*}*/
  /*!* line 270, ../sass/theme-responsive.scss *!*/
  /*.navbar-main-drop .navbar-act {*/
    /*position: static;*/
  /*}*/

  /*!* parallax *!*/
  /*!* line 275, ../sass/theme-responsive.scss *!*/
  /*.pi-parallax .item .intro h2 {*/
    /*font-size: 2.714em;*/
  /*}*/

  /*!* shop *!*/
  /*!* line 281, ../sass/theme-responsive.scss *!*/
  /*.shop_table th, .shop_table td {*/
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
  /*}*/

  /*!* quickview-wrapper *!*/
  /*!* line 289, ../sass/theme-responsive.scss *!*/
  /*.quickview-wrapper .modal-dialog {*/
    /*width: auto;*/
  /*}*/
  /*!* line 292, ../sass/theme-responsive.scss *!*/
  /*.quickview-wrapper .product-detail {*/
    /*padding: 50px 30px 0;*/
  /*}*/
/*}*/
@media (max-width: 980px) {
  /* Firefox select button fix */
  @-moz-document url-prefix() {
    /* line 302, ../sass/theme-responsive.scss */
    .featured-box .formDropdown {
      width: 110.5%;
    }

    /* line 305, ../sass/theme-responsive.scss */
    .featured-box-cart .formDropdown {
      width: 111.8%;
    }
}
}
@media (max-width: 800px) {
  /* line 313, ../sass/theme-responsive.scss */
  .owl-carousel .item .item-caption {
    height: 100%;
    width: 100%;
  }

  /* line 318, ../sass/theme-responsive.scss */
  .item-caption h2 {
    font-size: 2.857em;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  /* line 326, ../sass/theme-responsive.scss */
  .pi-parallax .item {
    height: 300px;
  }
  /* line 328, ../sass/theme-responsive.scss */
  .pi-parallax .item blockquote {
    font-size: 1.857em;
  }

  /* line 332, ../sass/theme-responsive.scss */
  .pgl-fixed .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 767px) {
  /* line 339, ../sass/theme-responsive.scss */
  .item-caption h2 {
    margin-bottom: 0;
  }
}
@media (max-width: 640px) {
  /* line 346, ../sass/theme-responsive.scss */
  /*.navbar-nav {*/
    /*margin: 0;*/
  /*}*/

  /* line 353, ../sass/theme-responsive.scss */
  /*.container > .navbar-header,*/
  /*.container-fluid > .navbar-header,*/
  /*.container > .navbar-collapse,*/
  /*.container-fluid > .navbar-collapse {*/
    /*margin-left: 0;*/
    /*margin-right: 0;*/
  /*}*/

  /* line 358, ../sass/theme-responsive.scss */
  /*.nav-top.navbar-right {*/
    /*float: right;*/
  /*}*/

  /*!* line 362, ../sass/theme-responsive.scss *!*/
  /*.navbar-right .dropdown-menu {*/
    /*left: auto;*/
    /*right: -1px;*/
  /*}*/

  /*!* line 367, ../sass/theme-responsive.scss *!*/
  /*.navbar-act > li {*/
    /*float: left;*/
  /*}*/

  /* line 371, ../sass/theme-responsive.scss */
  .pi-parallax .item .intro h2 {
    font-size: 2.142em;
  }

  /* line 375, ../sass/theme-responsive.scss */
  .wp-ads li {
    display: block;
    width: 50%;
  }

  /* line 382, ../sass/theme-responsive.scss */
  .page-top .container,
  .page-top-md .container,
  .page-top-lg .container {
    width: 100%;
  }
}
@media (max-width: 568px) {
  /* line 388, ../sass/theme-responsive.scss */
  .item-caption h2 {
    font-size: 2.142em;
  }
}
@media (max-width: 480px) {
  /* line 395, ../sass/theme-responsive.scss */
  #top .text-note {
    display: none;
  }

  /* line 399, ../sass/theme-responsive.scss */
  .navbar-main-narrow .logo {
    float: left;
  }

  /* line 403, ../sass/theme-responsive.scss */
  .item-caption h2 {
    margin-bottom: 0;
  }

  /* line 407, ../sass/theme-responsive.scss */
  .login-wrapper {
    width: 100%;
  }

  /* line 411, ../sass/theme-responsive.scss */
  .page-top h2, .page-top-md h2, .page-top-lg h2 {
    font-size: 2.857em;
  }

  /* ads */
  /* line 416, ../sass/theme-responsive.scss */
  div [class^="col-"] {
    float: none;
    width: 100%;
  }
  /* line 419, ../sass/theme-responsive.scss */
  div [class^="col-"] + [class^="col-"] {
    margin-top: 40px;
  }

  /* line 424, ../sass/theme-responsive.scss */
  .form-group [class^="col-"] + [class^="col-"] {
    margin-top: 0;
  }

  /* parallax */
  /* line 429, ../sass/theme-responsive.scss */
  .pi-parallax .item .intro h2 {
    font-size: 1.428em;
  }

  /* line 433, ../sass/theme-responsive.scss */
  .parallax-shop p {
    margin-bottom: 20px;
  }

  /* footer */
  /* line 438, ../sass/theme-responsive.scss */
  .footer [class^="col-xs-"] {
    float: none;
    width: 100%;
  }

  /* line 442, ../sass/theme-responsive.scss */
  .below-foot {
    text-align: center;
  }
  /* line 444, ../sass/theme-responsive.scss */
  .below-foot .text-right {
    text-align: center;
  }

  /* line 448, ../sass/theme-responsive.scss */
  .pro-tabs > li a {
    width: 120px;
  }

  /* shop */
  /* line 454, ../sass/theme-responsive.scss */
  .shop_table th, .shop_table td {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 458, ../sass/theme-responsive.scss */
  .shop_table td {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  /* Firefox select button fix */
  @-moz-document url-prefix() {
    /* line 466, ../sass/theme-responsive.scss */
    .featured-box .formDropdown {
      width: 111.5%;
    }
}

  /* line 472, ../sass/theme-responsive.scss */
  .toolbar .list-icons {
    margin-bottom: 15px;
  }
  /* line 475, ../sass/theme-responsive.scss */
  .toolbar .list-sort.pull-right {
    float: none !important;
    width: 100%;
  }

  /* Firefox select button fix */
  @-moz-document url-prefix() {
    /* line 483, ../sass/theme-responsive.scss */
    .formDropdown {
      width: 111.5%;
    }
}
}
@media (max-width: 360px) {
  /* line 491, ../sass/theme-responsive.scss */
  .item-caption {
    display: none;
  }

  /* line 495, ../sass/theme-responsive.scss */
  .about, .collections {
    margin-top: 50px;
  }

  /* line 499, ../sass/theme-responsive.scss */
  .login-wrapper .list-inline {
    display: block;
  }
  /* line 501, ../sass/theme-responsive.scss */
  .login-wrapper .list-inline li + li {
    margin-left: 0;
  }

  /* line 506, ../sass/theme-responsive.scss */
  .menu-shop .dropdown-menu {
    min-width: 300px;
  }

  /* line 510, ../sass/theme-responsive.scss */
  .btn {
    min-width: 0;
  }

  /* line 514, ../sass/theme-responsive.scss */
  .pro-tabs > li {
    display: block;
    margin: 0;
  }
  /* line 517, ../sass/theme-responsive.scss */
  .pro-tabs > li a {
    width: 100%;
  }

  /* line 523, ../sass/theme-responsive.scss */
  .toolbar p.pull-left {
    float: none !important;
  }

  /* line 529, ../sass/theme-responsive.scss */
  .toolbar p.pull-left,
  .toolbar .list-sort.pull-right {
    float: none !important;
  }

  /* Firefox select button fix */
  @-moz-document url-prefix() {
    /* line 536, ../sass/theme-responsive.scss */
    .formDropdown {
      width: 111.2%;
    }

    /* line 539, ../sass/theme-responsive.scss */
    .featured-box .formDropdown {
      width: 111%;
    }
}

  /* line 543, ../sass/theme-responsive.scss */
  .list-select .color {
    margin-left: 2px;
    margin-right: 2px;
    padding: 9px 9px 10px;
  }
}
@media (max-width: 320px) {
  /* line 551, ../sass/theme-responsive.scss */
  .list-select .color {
    margin-left: 1px;
    margin-right: 0;
    padding: 9px 5px 10px;
  }
}
