{% extends 'SirianHelperBundle:Admin:CRUD/list_items.html.twig' %}

{% block thead %}
    <tr>
        <th>Id</th>
        <th>Запрос</th>
        <th>Действия</th>
    </tr>
{% endblock %}

{% block tr %}
    <tr data-crud-item>
        <td>{{ item.id }}</td>
        <td><a href="{{ crud.generateOperationUrl('_edit', {id: item.id}) }}">{{ item.query }}</a></td>
        <td>
            {{ block('crud_actions') }}
        </td>
    </tr>
{% endblock %}
