ol.nestedSortable .placeholder {
    outline: 1px dashed #4183C4 !important;
}

.mjs-nestedSortable-error {
    background: #fbe3e4;
    border-color: transparent;
}

ol {
    margin: 0;
    padding: 0;
    padding-left: 30px;
}

ol.nestedSortable, ol.nestedSortable ol {
    margin: 0 0 0 25px;
    padding: 0;
    list-style-type: none;
}

ol.nestedSortable {
    margin: 0;
}

.nestedSortable li {
    margin: 5px 0 0 0;
    padding: 0;
    overflow: hidden;
}

.nestedSortable li .btn-group{
    float: right;
}

.nestedSortable li>div  {
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-color: #D4D4D4 #D4D4D4 #BCBCBC;
    padding: 6px;
    margin: 0;
    background: #f6f6f6;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

.nestedSortable .icon-move {
    cursor: move;
}

.nestedSortable li>div {
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #f0ece9 100%);
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#f0ece9 100%);

}

.nestedSortable .expander {
    cursor: pointer;
    width: 10px;
    display: none;
}

.nestedSortable li.mjs-nestedSortable-collapsed > ol {
    display: none;
}

.nestedSortable li.mjs-nestedSortable-branch > div > .expander {
    display: inline-block;
}

.nestedSortable li.mjs-nestedSortable-collapsed > div > .expander > span:before {
    content: '+ ';
}

.nestedSortable li.mjs-nestedSortable-expanded > div > .expander > span:before {
    content: '- ';
}