{% extends '@Admin/layout.html.twig' %}

{% form_theme form '@SirianHelper/Admin/form.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-pencil"></i>
                    </span>
                    <h5>{{ isNew ? 'Добавление' : 'Редактирование' }} элемента в "{{ constant('Footgears\\MainBundle\\Document\\MenuItem::TYPES')[type]|lower }}"</b></h5>
                </div>
                <div class="widget-content nopadding">
                    {{ form_start(form, {attr: {class: 'form-horizontal validate'}}) }}
                        {{ form_widget(form) }}
                        <div class="form-actions">
                            <button type="submit" value="" name="_submit" class="btn btn-primary">Сохранить</button>
                            <button type="submit" value="{{ path('admin_menu_items_new', {type: type}) }}" name="_submit" class="btn btn-primary">Сохранить и добавить новый</button>
                            <button type="submit" value="{{ path('admin_menu_items_tree', {type: type}) }}" name="_submit" class="btn btn-primary">Сохранить и вернуться к дереву</button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}