{% extends 'AdminBundle::layout.html.twig' %}

{% block content_header %}<h1>Меню сайта</h1>{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <ul>
            {% for type, name in types %}
                <li><a href="{{ path('admin_menu_items_tree', {type: type}) }}">{{ name }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
