{% extends 'AdminBundle::layout.html.twig' %}

{% block content_header %}<h1>{{ constant('Footgears\\MainBundle\\Document\\MenuItem::TYPES')[type] }}</h1>{% endblock %}

{% block tree_node %}
    {% for node in root.children %}
        {% set item = node.item %}
        <li data-id="{{ item.id }}">
            <div>
                <span class="expander">
                    <span></span>
                </span>
                <span class="icon-move"></span>
                <span>{{ item.label }}</span>

                {% if item.category %}
                    {% set link = path('category', {alias: item.category.alias}) %}
                    <span>(<b>Поиск:</b> {{ item.category.name }} <a class="btn btn-mini" target="_blank" href="{{ path('admin_category_edit', {id: item.category.id}) }}"><i class="icon-pencil"></i></a>)</span>
                {% elseif item.brand %}
                    {% set link = path('brand', {alias: item.brand.alias}) %}
                    <span>(<b>Бренд:</b> {{ item.brand.name }} <a class="btn btn-mini" target="_blank" href="{{ path('admin_brand_edit', {id: item.brand.id}) }}"><i class="icon-pencil"></i></a>)</span>
                {% elseif (item.customUrl) %}
                    {% set link = item.customUrl %}
                {% else %}
                    {% set link = false %}
                {% endif %}

                {% if link %}
                    <a href="{{ link }}" target="_blank">{{ link }}</a>
                {% endif %}
                <div class="btn-group">
                    <a class="btn btn-mini" href="{{ mergedPath('admin_menu_items_new', {parentId: item.id}) }}"><i class="icon-plus"></i></a>
                    <a class="btn btn-mini" href="{{ mergedPath('admin_menu_items_edit', {id: item.id, type: type}) }}"><i class="icon-pencil"></i></a>
                    <button data-url="{{ mergedPath('admin_menu_items_delete', {id: item.id}) }}" class="btn btn-mini btn-danger delete-item"><i class="icon-remove icon-white"></i></button>
                </div>
            </div>
            {% if node.children|length %}
                {% set root = node %}
                <ol>
                    {{ block('tree_node') }}
                </ol>
            {% endif %}
        </li>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div>
                <div>
                    <a class="btn" href="{{ path('admin_menu_items_new', {type: type}) }}">
                        <i class="icon-plus"></i> Добавить
                    </a>
                </div>
                <ol id="menu_tree" class="nestedSortable js-tree" data-menu="{{ type }}" data-move-url="{{ mergedPath('admin_menu_items_move') }}">
                    {{ block('tree_node') }}
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
