{% extends 'MainBundle:Category:index.html.twig' %}

{% macro categoryTree(request, categories, brand) %}
    {% import _self as macros %}
    <ul class="list-unstyled list-cat">
        {% for item in categories %}
            <li {% if item.current %}class="active"{% endif %}>
                <a href="{{ generateFilterUrl('category_brand', {alias: item.category.alias, brandAlias: brand.alias, q: request.searchQuery}) }}">{{ item.category.shortName|capitalize }}</a>
                {% if item.count %}<small>{{ item.count|number }}</small>{% endif %}
                {% if item.children|length %}
                    {{ macros.categoryTree(request, item.children, brand) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro suggestShop(id, value, label, alias, category_alias, checked, brand) %}
    <li>
        <input type="checkbox" name="shopId[]" id="{{ id }}" value="{{ value }}" {% if checked %}checked="checked"{% endif %}> <label for="{{ id }}">{{ label }}</label>
    </li>
{% endmacro %}

{% block page_edit %}
    {% if is_granted('ROLE_ADMIN') %}
        {% if pageInfo %}
            <a href="{{ path('admin_category_brand_edit', {id: pageInfo.id}) }}" target="_blank"><i class="fa fa-pencil small"></i></a>
        {% else %}
            <a href="{{ path('admin_category_brand_new', {category: category.id, brand: brand.id}) }}" target="_blank"><i class="fa fa-pencil small"></i></a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block title_tags %}{% spaceless %}
    <a href="{{ path('brand', {alias: brand.alias}) }}" class="tag" title="Все товары {{ brand.name }}">Все товары {{ brand.name }}</a>
{% endspaceless %}{% endblock %}

{% block filter_categories %}
    {% import _self as macros %}

    {% if availableCategories|length %}
        <aside class="block blk-cat filter-blk">
            {{ macros.categoryTree(request, availableCategories, brand) }}
        </aside>
    {% endif %}
{% endblock filter_categories %}

{% block filter_form_attr %}action="{{ path('category', {alias: category.alias}) }}"{% endblock %}

{% block filter_form %}
    <input type="hidden" name="brandId[]" value="{{ request.brand.id }}"/>
    {{ parent() }}
{% endblock %}

{% block filter_form_is_sale %}{% spaceless %}
    <li>
        <input type="checkbox" name="isSale" {% if request.isSale %}checked="checked"{% endif %} id="is_sale" value="1">
        <label for="is_sale">
            <a href="{{ path('category_brand_sale', {alias: category.alias, brandAlias: brand.alias}) }}">Скидки</a>
        </label>
    </li>
{% endspaceless %}{% endblock %}

{% block filter_brands %}{% endblock %}

{% block filter_shops %}
    {% import _self as macros %}

    <aside class="block blk-brands filter-blk">
        <div class="title">Магазины</div>
        <div class="items">
            <ul class="list-unstyled list-cat">
                {% for shop in availableShops %}
                    {{ macros.suggestShop('shop_' ~ shop.id, shop.id, shop.name, shop.alias, category.alias, shop.id in request.shopIds, brand) }}
                {% endfor %}
            </ul>
        </div>
    </aside>
{% endblock %}

{% block default_search_title %}{{ category.name }} {{ brand.name }}{{ request.searchQuery ? ': ' ~ request.SearchQuery : '' }}{% if isSale %} со скидкой{% endif %}{% endblock %}

{% block searchTitle %}{% spaceless %}
    {% if pageInfo %}
        {% if isSale and pageInfo.saleSeo.h1 %}
            {{ pageInfo.saleSeo.h1 }}
        {% elseif pageInfo.seo.h1 %}
            {{ pageInfo.seo.h1 }}{% if isSale %} со скидкой{% endif %}
        {% else %}
            {{ block('default_search_title') }}
        {% endif %}
    {% else %}
        {{ block('default_search_title') }}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block title %}{% spaceless %}

    {% if result.page == 1 %}
        {% if isSale %}
{#            {% if pageInfo and pageInfo.saleSeo.title %}#}
{#                {{ replaceSeoVariables(pageInfo.saleSeo.title, ['%category%', '%brand%', '%parent%', '%min%', '%amt%'], [pageInfo.category.name|lower|replaceSuffix, pageInfo.brand.name, pageInfo.category.parent ? pageInfo.category.parent.name : '', result.priceMin, result.total])|ucfirst }}#}
{#            {% else %}#}
                {{ 'Распродажа %category% %brand%'|replace({'%category%': category.name|lower|replaceSuffix, '%brand%': brand.name}) }}
{#            {% endif %}#}
        {% else %}
{#            {% if pageInfo and pageInfo.seo.title %}#}
{#                {{ replaceSeoVariables(pageInfo.seo.title, ['%category%', '%brand%', '%parent%', '%min%', '%amt%'], [pageInfo.category.name|lower|replaceSuffix, pageInfo.brand.name, pageInfo.category.parent ? pageInfo.category.parent.name : '', result.priceMin, result.total])|ucfirst }}#}
{#            {% else %}#}
                {{ '%category_one% %brand%. Купить с доставкой'|replace({'%category_one%': category.name, '%brand%': brand.name}) }}
{#            {% endif %}#}
        {% endif %}
    {% else %}
        {{ '%category% %brand%. Страница %page%'|replace({'%category%': category.name|lower|replaceSuffix, '%brand%': brand.name, '%host%': app.request.host, '%page%': result.page}) }}
    {% endif %}

{% endspaceless %}{% endblock %}

{% block meta_description %}{% spaceless %}

    {% if result.page == 1 %}
        {% if isSale %}
            {% if pageInfo and pageInfo.saleSeo.description %}
                {{ replaceSeoVariables(pageInfo.saleSeo.description, ['%category%', '%brand%', '%parent%', '%min%', '%amt%'], [pageInfo.category.name|lower, pageInfo.brand.name, pageInfo.category.parent ? pageInfo.category.parent.name : '', result.priceMin, result.total])|ucfirst }}
            {% else %}
                {{ 'Распродажа! %category% от %brand% со скидкой в интернет-каталоге %host%'|replace({'%category%': category.name, '%brand%': brand.name, '%host%': app.request.host}) }}
            {% endif %}
        {% else %}
            {% if pageInfo and pageInfo.seo.description %}
                {{ replaceSeoVariables(pageInfo.seo.description, ['%category%', '%brand%', '%parent%', '%min%', '%amt%'], [pageInfo.category.name|lower, pageInfo.brand.name, pageInfo.category.parent ? pageInfo.category.parent.name : '', result.priceMin, result.total])|ucfirst }}
            {% else %}
                {{ '%cnt% моделей %brand% в наличии. Скидки на %category% %brand% каждый день!'|replace({'%category_one%': category.name, '%category%': category.name|lower|replaceSuffix, '%brand%': brand.name, '%years%': yearPeriod(), '%cnt%': result.total}) }}
            {% endif %}
        {% endif %}
    {% else %}
        {{ 'Отличные предложения на %category% от %brand% в интернет-каталоге %host% - страница %page%'|replace({'%category%': category.name|lower|replaceSuffix, '%brand%': brand.name, '%host%': app.request.host, '%page%': result.page}) }}
    {% endif %}

{% endspaceless %}{% endblock %}

{% block meta_keywords %}{% endblock %}

{% block category_description %}
    {% if result.page == 1 and result.total and app.request.query.all is empty and pageInfo %}
        {% if isSale and pageInfo.saleSeo.text|length > 4 %}
            <section class="about-category">
                <div class="description">
                    {{ pageInfo.saleSeo.text|raw }}
                </div>
            </section>
        {% elseif not isSale and pageInfo.seo.text|length > 4 %}
            <section class="about-category">
                <div class="description">
                    {{ pageInfo.seo.text|raw }}
                </div>
            </section>
        {% endif %}
    {% endif %}
{% endblock %}

{% block category_stat %}{% endblock %}

{% block recommend_products %}{% endblock %}

{% block no_results_alert %}
    <div class="alert alert-warning">
        <p>Все товары этого бренда уже раскупили.</p>
    </div>
{% endblock %}

{% block search_result_no_results %}
    <div class="alert alert-warning">
        <p>Все товары этого бренда уже раскупили.</p>
    </div>
    
    {% if similar|slice(0, 6)|length %}
        <div class="catalog">
            {{ block('selected_filters') }}

            <div class="row products">
                {%  include '@Main/Product/cards.html.twig' with {products: similar|slice(0, 8) } %}
            </div>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block similar %}
    {% if similar|slice(6)|length %}
        <div class="catalog">
            <div class="title">
                <span>Возможно вас заинтересует</span>
            </div>
            <div class="row products">
                {% include '@Main/Product/cards.html.twig' with {products: similar|slice(8) } %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block similar_found %}
    {% if similar|length %}
        <div class="catalog">
            <div class="title">
                <span>Возможно вас заинтересует</span>
            </div>
            <div class="row products">
                {% include '@Main/Product/cards.html.twig' with {products: similar } %}
            </div>
        </div>
    {% endif %}
{% endblock %}