{% extends 'MainBundle:Category:index.html.twig' %}

{% macro categoryTree(request, categories, shop) %}
    {% import _self as macros %}

    <ul class="list-unstyled list-cat">
        {% for item in categories %}
            <li {% if item.current %}class="active"{% endif %}>
                <a href="{{ generateFilterUrl('category_shop', {alias: item.category.alias, shopAlias: shop.alias, q: request.searchQuery}) }}">{{ item.category.shortName|capitalize }}</a>
                {% if item.count %}<small>{{ item.count|number }}</small>{% endif %}
                {% if item.children|length %}
                    {{ macros.categoryTree(request, item.children, shop) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro suggestBrand(id, value, label, alias, category_alias, checked, shop) %}
    <li>
        <input type="checkbox" name="brandId[]" id="{{ id }}" value="{{ value }}" {% if checked %}checked="checked"{% endif %}>
        <label for="{{ id }}">
            <a rel="nofollow" href="{{ path('category_brand', app.request.query.all|merge({alias: category_alias, brandAlias: alias, 'shopId[]': shop.id})) }}">{{ label }}</a>
        </label>
    </li>
{% endmacro %}

{% block meta_robots %}{% endblock %}

{% block page_edit %}{% endblock %}

{% block meta %}
    {{ parent() }}
    {% if relatedBrand %}
        <link rel="canonical" href="{{ url('category_brand', {alias: category.alias, brandAlias: relatedBrand.alias}) }}" />
    {% endif %}
{% endblock %}

{% block filter_categories %}
    {% import _self as macros %}

    {% if availableCategories|length %}

        <aside class="block blk-cat filter-blk">
            {{ macros.categoryTree(request, availableCategories, shop) }}
        </aside>
    {% endif %}
{% endblock filter_categories %}

{% block filter_form_attr %}action="{{ path('category', {alias: category.alias}) }}"{% endblock %}

{% block filter_form %}
    <input type="hidden" name="shopId[]" value="{{ request.shop.id }}"/>
    {{ parent() }}
{% endblock %}

{% block filter_shops %}{% endblock %}

{% block filter_brands %}
    {% import _self as macros %}

    <aside class="block blk-brands brands filter-blk">

        <div class="filter-block filter-list js-filter-list" data-url="{{ path('search_suggest_brands') }}" data-name="brandId" data-template="{{ macros.suggestBrand('brand_ID', 'ID', 'NAME', 'ALIAS', category.alias, false, shop)|e }}">
            <div class="title">Бренды</div>
            <input type="text" placeholder="Введите название бренда" class="search">

            <div>
                <div class="items">
                    <ul class="list-unstyled list-cat js-search-items">
                    </ul>
                </div>
                <div class="selected" style="display: {{ requestedBrands|length ? 'block' : 'none' }}">
                    <div>
                        <span>Выбранные</span>
                    </div>
                    <ul class="js-selected-items list-unstyled items">
                        {% for brand in requestedBrands %}
                            {{ macros.suggestBrand('brand_' ~ brand.id, brand.id, brand.name, brand.alias, category.alias, true, shop) }}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </aside>
{% endblock %}

{% block default_search_title %}{{ category.name }} {{ shop.name }}{{ request.searchQuery ? ': ' ~ request.SearchQuery : '' }}{% if isSale %} со скидкой{% endif %}{% endblock %}

{% block searchTitle %}{% spaceless %}
    {{ block('default_search_title') }}
{% endspaceless %}{% endblock %}

{% block title %}{% spaceless %}

    {% if result.page == 1 %}
        {% if isSale %}
            {{ replaceSeoVariables(seoSettings.categoryShopSale.title, ['%category%', '%shop%', '%parent%', '%min%', '%amt%'], [category.name|lower|replaceSuffix, shop.name, category.parent ? category.parent.name : '', result.priceMin, result.total])|ucfirst }}
        {% else %}
            {{ replaceSeoVariables(seoSettings.categoryShop.title, ['%category%', '%shop%', '%host%'], [category.name|lower|replaceSuffix, shop.name, app.request.host])|ucfirst }}
        {% endif %}
    {% else %}
        {{ replaceSeoVariables(seoSettings.categoryShop.title, ['%category%', '%shop%', '%host%'], [category.name|lower|replaceSuffix, shop.name, app.request.host])|ucfirst }}
    {% endif %}

{% endspaceless %}{% endblock %}

{% block meta_description %}{% spaceless %}

    {% if result.page == 1 %}
        {% if isSale %}
            {{ replaceSeoVariables(seoSettings.categoryShopSale.description, ['%category%', '%shop%', '%parent%', '%min%', '%amt%'], [category.name, shop.name, category.parent ? category.parent.name : '', result.priceMin, result.total])|ucfirst }}
        {% else %}
            {{ replaceSeoVariables(seoSettings.categoryShop.description, ['%category%', '%shop%', '%host%'], [category.name|lower, shop.name, app.request.host])|ucfirst }}
        {% endif %}
    {% else %}
        {{ replaceSeoVariables(seoSettings.categoryShop.description, ['%category%', '%shop%', '%host%'], [category.name|lower, shop.name, app.request.host])|ucfirst }}
    {% endif %}

{% endspaceless %}{% endblock %}

{% block meta_keywords %}{% spaceless %}
    {% if result.page == 1 %}
        {% if isSale %}
            {{ replaceSeoVariables(seoSettings.categoryShopSale.keywords, ['%category%', '%shop%', '%brand%', '%parent%'], [category.name, shop.name, shop.name, category.parent ? category.parent.name : ''])|lower }}
        {% else %}
            {{ replaceSeoVariables(seoSettings.categoryShop.keywords, ['%category%', '%shop%', '%host%'], [category.name|lower, shop.name, app.request.host])|ucfirst }}
        {% endif %}
    {% else %}
        {{ replaceSeoVariables(seoSettings.categoryShop.keywords, ['%category%', '%shop%', '%host%'], [category.name|lower, shop.name, app.request.host]) }}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block category_description %}{% endblock %}

{% block category_stat %}{% endblock %}
{% block recommend_products %}{% endblock %}
{% block similar %}{% endblock %}