{% extends '@Main/Category/index.html.twig' %}

{% macro suggestBrand(id, value, label, alias, category_alias, tagAlias, checked) %}
    <li>
        <input type="checkbox" name="brandId[]" id="{{ id }}" value="{{ value }}" {% if checked %}checked="checked"{% endif %}>
        <label for="{{ id }}">{{ label }}</label>
    </li>
{% endmacro %}

{% macro suggestShop(id, value, label, alias, category_alias, tag, checked) %}
    <li>
        <input type="checkbox" name="shopId[]" id="{{ id }}" value="{{ value }}" {% if checked %}checked="checked"{% endif %}>
        <label for="{{ id }}">{{ label }}</label>
    </li>
{% endmacro %}

{% macro breadcrumb(category) %}
    {% import _self as macros %}

    {% if category.parent %}
        {{ macros.breadcrumb(category.parent) }}
    {% endif %}
    <li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ generateFilterUrl('category', {alias: category.alias}) }}">{{ category.shortName|capitalize }}</a></li>
{% endmacro %}

{% block breadcrumb %}
    <li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ path('homepage') }}">Главная</a></li>
    {% import _self as macros %}
    {{ macros.breadcrumb(category) }}
    <li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ generateFilterUrl('category_tag', {alias: tag.category.alias, tagAlias: tag.alias}) }}">{{ tag.seo.h1|capitalize }}</a></li>
{% endblock %}

{% block page_edit %}
    {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('admin_tag_edit', {id: tag.id}) }}" target="_blank"><i class="fa fa-pencil small"></i></a>
    {% endif %}
{% endblock %}

{% block title_tags %}{% spaceless %}
    {% if result.total %}
        <a href="{{ path('category', {alias: category.alias}) }}" class="tag" title="Смотреть все {{ category.name|lower }}">Смотреть все {{ category.name|lower }}</a>
    {% endif %}
{% endspaceless %}{% endblock %}

{% block title %}{% spaceless %}
    {% if result.page > 1 %}
        {{ tag.seo.h1 }} - страница {{ result.page }}
    {% else %}
        {{ replaceSeoVariables('%tag%. Купить с доставкой', ['%tag%'], [tag.seo.h1|lower])|ucfirst }}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block meta_description %}{% spaceless %}
    {{ replaceSeoVariables(tag.seo.text|default(seoSettings.tag.description), ['%category%', '%tag%', '%min%', '%amt%', '%brand%', '%host%'], [tag.category.name, tag.seo.h1|lower, result.priceMin, result.total, '', app.request.host])|ucfirst }}
{% endspaceless %}{% endblock %}

{% block meta_keywords %}{% endblock %}

{% block searchTitle %}{{ tag.seo.h1 }} {{ request.searchQuery ? ': ' ~ request.SearchQuery : '' }}{% endblock %}

{% block category_description %}
    {% if result.page == 1 and result.total and app.request.query.all is empty and tag.seo.text|length > 4 %}
        <div class="about-category">
            <div class="description">
                {{ tag.seo.text|raw }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block filter_form %}
    <input type="hidden" name="tagId" value="{{ tag.id }}"/>
    {{ parent() }}
{% endblock %}

{% block filter_form_attr %}action="{{ path('category_tag', {alias: category.alias, tagAlias: tag.alias}) }}"{% endblock %}

{% block filter_form_is_sale %}{% spaceless %}
    <li><input type="checkbox" name="isSale" {% if request.isSale %}checked="checked"{% endif %} id="is_sale" value="1"><label for="is_sale">Скидки</label></li>
{% endspaceless %}{% endblock %}

{% block filter_brands %}
    {% import _self as macros %}

    <aside class="block blk-brands brands filter-blk">

        <div class="filter-block filter-list js-filter-list" data-url="{{ path('search_suggest_brands') }}" data-name="brandId" data-template="{{ macros.suggestBrand('brand_ID', 'ID', 'NAME', 'ALIAS', category.alias, tag.alias, false)|e }}">
            <div class="title">Бренды</div>
            <input type="text" placeholder="Введите название бренда" class="search">

            <div>
                <div class="items">
                    <ul class="list-unstyled list-cat js-search-items">
                    </ul>
                </div>
                <div class="selected" style="display: {{ requestedBrands|length ? 'block' : 'none' }}">
                    <div>
                        <span>Выбранные</span>
                    </div>
                    <ul class="js-selected-items list-unstyled items">
                        {% for brand in requestedBrands %}
                            {{ macros.suggestBrand('brand_' ~ brand.id, brand.id, brand.name, brand.alias, category.alias, tag.alias, true) }}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </aside>
{% endblock %}

{% block meta %}
    {{ parent() }}
    {% if canonical is defined and canonical %}
        <link rel="canonical" href="{{ canonical }}" />
    {% endif %}
{% endblock %}

{% block filter_price %}{% endblock %}
{% block attribute_filters %}{% endblock %}
{% block filter_shares %}{% endblock %}
{% block filter_shops %}{% endblock %}

{% block category_stat %}{% endblock %}

{% block recommend_products %}{% endblock %}