{% extends '@Main/Search/layout.html.twig' %}

{% macro suggestBrand(id, value, label, alias, category_alias, checked) %}
    <li>
        <input type="checkbox" name="brandId[]" id="{{ id }}" value="{{ value }}" {% if checked %}checked="checked"{% endif %}>
        <label for="{{ id }}">
            <a rel="nofollow" href="{{ path('category_brand', app.request.query.all|merge({alias: category_alias, brandAlias: alias})) }}">{{ label }}</a>
        </label>
    </li>
{% endmacro %}

{% macro suggestShop(id, value, label, alias, category_alias, checked) %}
    <li>
        <input type="checkbox" name="shopId[]" id="{{ id }}" value="{{ value }}" {% if checked %}checked="checked"{% endif %}>
        <label for="{{ id }}">
            <a rel="nofollow" href="{{ path('category_shop', app.request.query.all|merge({alias: category_alias, shopAlias: alias})) }}">{{ label }}</a>
        </label>
    </li>
{% endmacro %}

{% block page_edit %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_category_edit', {id: category.id}) }}" target="_blank"><i class="fa fa-pencil small"></i></a>
    {% endif %}
{% endblock %}

{% block title_tags %}{% spaceless %}
    {% if result.total %}
        {% if isSale %}
            <a href="{{ path('category', {alias: category.alias}) }}" class="tag" title="Все {{ category.name|lower }}">Все {{ category.name|lower }}</a>
        {% else %}
            <a href="{{ path('category_sale', {alias: category.alias}) }}" class="tag tag-sale" title="Скидки на {{ category.name }}">{{ category.name }}<span>sale</span></a>
        {% endif %}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block filter_brands %}
    {% import _self as macros %}
    <aside class="block blk-brands brands filter-blk">

        <div class="filter-block filter-list js-filter-list" data-url="{{ path('search_suggest_brands') }}" data-name="brandId" data-template="{{ macros.suggestBrand('brand_ID', 'ID', 'NAME', 'ALIAS', category.alias, false)|e }}">
            <div class="title">Бренды</div>
            <input type="text" placeholder="Введите название бренда" class="search">

            <div>
                <div class="items">
                    <ul class="list-unstyled list-cat js-search-items">
                    </ul>
                </div>
                <div class="selected" style="display: {{ requestedBrands|length ? 'block' : 'none' }}">
                    <div>
                        <span>Выбранные</span>
                    </div>
                    <ul class="js-selected-items list-unstyled items">
                        {% for brand in requestedBrands %}
                            {{ macros.suggestBrand('brand_' ~ brand.id, brand.id, brand.name, brand.alias, category.alias, true) }}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </aside>
{% endblock %}

{% block filter_shops %}
    {% import _self as macros %}
    <aside class="block blk-brands filter-blk">
        <div class="title">Магазины</div>
        <div class="items">
            <ul class="list-unstyled list-cat">
                {% for shop in availableShops %}
                    {{ macros.suggestShop('shop_' ~ shop.id, shop.id, shop.name, shop.alias, category.alias, shop.id in request.shopIds) }}
                {% endfor %}
            </ul>
        </div>
    </aside>
{% endblock %}

{% macro breadcrumb(category) %}
    {% import _self as macros %}

    {% if category.parent %}
        {{ macros.breadcrumb(category.parent) }}
    {% endif %}
    <li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ generateFilterUrl('category', {alias: category.alias}) }}">{{ category.shortName|capitalize }}</a></li>
{% endmacro %}

{% block breadcrumb %}
    {% import _self as macros %}

    <li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ path('homepage') }}">Главная</a></li>
    {{ macros.breadcrumb(category) }}
    {% if brand is defined and brand %}
        <li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ path('category_brand', {alias: category.alias, brandAlias: brand.alias}) }}">{{ category.name|capitalize }} {{ brand.name }}</a></li>
    {% endif %}
    {% if shop is defined and shop %}
        <li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ path('category_shop', {alias: category.alias, shopAlias: shop.alias}) }}">{{ category.name|capitalize }} {{ shop.name }}</a></li>
    {% endif %}
{% endblock %}

{% block title %}{% spaceless %}
    {% if result.page > 1 %}
        {{ category.name }}{{ request.searchQuery ? ': ' ~ request.SearchQuery : '' }} - страница {{ result.page }}
    {% else %}
        {% if isSale %}
{#            {{ replaceSeoVariables(category.saleSeo.title|default(seoSettings.categorySale.title), ['%category%', '%brand%', '%parent%', '%min%', '%amt%', '%host%'], [category.name|lower|replaceSuffix, brand is defined ? brand.name : '', category.parent ? category.parent.name : '', result.priceMin, result.total, app.request.host])|ucfirst }}#}
            {{ replaceSeoVariables(seoSettings.categorySale.title, ['%category%', '%brand%', '%parent%', '%min%', '%amt%', '%host%'], [category.name|lower|replaceSuffix, brand is defined ? brand.name : '', category.parent ? category.parent.name : '', result.priceMin, result.total, app.request.host])|ucfirst }}
        {% else %}
{#            {{ replaceSeoVariables(category.seo.title|default(seoSettings.category.title), ['%category%', '%brand%', '%parent%', '%min%', '%amt%'], [category.name|lower|replaceSuffix, brand is defined ? brand.name : '', category.parent ? category.parent.name : '', result.priceMin, result.total])|ucfirst }}#}
            {{ replaceSeoVariables(seoSettings.category.title, ['%category%', '%brand%', '%parent%', '%min%', '%amt%'], [category.name|lower, brand is defined ? brand.name : '', category.parent ? category.parent.name : '', result.priceMin, result.total])|ucfirst }}
        {% endif %}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block meta_description %}{% spaceless %}
    {% if isSale %}
        {{ replaceSeoVariables(category.saleSeo.description|default(seoSettings.categorySale.description), ['%category%', '%brand%', '%parent%', '%min%', '%amt%', '%host%'], [category.name|lower, brand is defined ? brand.name : '', category.parent ? category.parent.name : '', result.priceMin, result.total, app.request.host])|ucfirst }}
    {% else %}
        {{ replaceSeoVariables(category.seo.description|default(seoSettings.category.description), ['%category%', '%brand%', '%parent%', '%min%', '%amt%', '%host%'], [category.name, brand is defined ? brand.name : '', category.parent ? category.parent.name : '', result.priceMin, result.total, app.request.host])|ucfirst }}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block meta_keywords %}{% spaceless %}
    {% if isSale %}
        {{ replaceSeoVariables(category.saleSeo.keywords|default(seoSettings.categorySale.keywords), ['%category%', '%brand%', '%parent%', '%min%', '%amt%', '%host%'], [category.name, brand is defined ? brand.name : '', category.parent ? category.parent.name : '', result.priceMin, result.total, app.request.host]) }}
    {% else %}
        {{ replaceSeoVariables(category.seo.keywords|default(seoSettings.category.keywords), ['%category%', '%brand%', '%parent%', '%host%'], [category.name, brand is defined ? brand.name : '', category.parent ? category.parent.name : '', app.request.host])|lower }}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block searchTitle %}{% spaceless %}
    {% if isSale %}
        {{ category.saleSeo.h1|default(category.name ~ ' со скидкой') }}
    {% else %}
        {{ category.seo.h1|default(category.name) }}
    {% endif %}
    {{ request.searchQuery ? ': ' ~ request.SearchQuery : '' }}
{% endspaceless %}{% endblock %}

{% block filter_form_attr %}action="{{ path('category', {alias: category.alias}) }}"{% endblock %}

{% block filter_form %}
    <input type="hidden" name="categoryId[]" value="{{ request.category.id }}"/>
    {{ parent() }}
{% endblock %}

{% block filter_form_is_sale %}
    <li>
        <input type="checkbox" name="isSale" {% if request.isSale %}checked="checked"{% endif %} id="is_sale" value="1">
        <label for="is_sale">
            <a href="{{ path('category_sale', {alias: category.alias}) }}">Скидки</a>
        </label>
    </li>
{% endblock %}

{% block no_results_alert %}
    <div class="alert alert-warning">
        <p>Все товары этой категории уже раскупили.</p>
    </div>
{% endblock %}

{% block search_result %}
    {{ parent() }}

    <div class="row">
        <div class="col-sm-12 banner catalog-top">
            {% if app.request.host != 'dev.footgears.ru' %}
                {% block catalog_top_banner %}
                    {#<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>#}
                    {#<!-- Над каталогом -->#}
                    {#<ins class="adsbygoogle"#}
                         {#style="display:block"#}
                         {#data-ad-client="ca-pub-3271531853567973"#}
                         {#data-ad-slot="8917836434"#}
                         {#data-ad-format="auto"></ins>#}
                    {#<script>#}
                        {#(adsbygoogle = window.adsbygoogle || []).push({});#}
                    {#</script>#}
                {% endblock catalog_top_banner %}
            {% endif %}
        </div>
    </div>

    {% block popular_brands %}
        {% if popularBrands is defined and popularBrands|length %}
        <div class="popular-brands">
            <div class="title">Популярные бренды:</div>
            <ul>
                {% for brand in popularBrands %}
                    <li>
                        <a href="{{ path('category_brand', {alias: category.alias, brandAlias: brand.alias}) }}" title="{{ category.name }} {{ brand.name }}">{{ brand.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endblock %}

    {{ block('category_stat') }}
    {{ block('category_description') }}
{% endblock %}

{% block tags %}{% spaceless %}
    {% set tags = getTags(category, constant('Footgears\\MainBundle\\Document\\Tag::TYPE_POPULAR_TOP')) %}
    {% if tags|length %}
        <div class="tags">
            <ul>
            {% for item in tags %}
                <li{% if filterPage is defined and filterPage.id == item.id %} class="active"{% endif %}>
                    <a href="{{ path('category_tag', {alias: category.alias, tagAlias: item.alias}) }}" title="{{ item.h1Title|default(item.title) }}" class="tag">{{ item.title }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endspaceless %}{% endblock %}

{% block category_tags_bottom %}
    {% set tags = getTags(category, constant('Footgears\\MainBundle\\Document\\Tag::TYPE_POPULAR')) %}
    {% if tags|length and result.page == 1 %}
        <div class="popular-tags">
            <div class="title">Популярные метки</div>
            <ul>
                {% for item in tags %}
                    <li><a href="{{ path('category_tag', {alias: category.alias, tagAlias: item.alias}) }}" title="{{ item.h1Title|default(item.title) }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block attribute_filters %}
    {% set tags = getFilterTags(category, constant('Footgears\\MainBundle\\Document\\Tag::TYPE_FILTER')) %}
    {% for attributeForm in attributeFilters %}

        <aside class="block filter-blk {{ attributeForm.class }}">
            <div class="title">{{ attributeForm.name }}</div>
            <ul class="list-unstyled list-cat list-cat-inline">
                {% for value in attributeForm.values %}
                    <li>
                        <input type="checkbox" name="attr[]" {% if value.selected %}checked="checked"{% endif %} id="attribute{{ value.value }}" value="{{ value.value }}">
                        <label for="attribute{{ value.value }}">
                            {% if tags[value.value] is defined %}
                                <a href="{{ path('category_tag', app.request.query.all|merge({alias: category.alias, tagAlias: tags[value.value].alias})) }}" title="{{ tags[value.value].h1Title|default(tags[value.value].title) }}">{{ value.text }}</a>
                            {% else %}
                                {{ value.text }}
                            {% endif %}
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </aside>

    {% endfor %}
{% endblock %}

{% block category_stat %}
    {% if result.page == 1 and result.total %}
    <section class="about-category">
        <div class="stat">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box-content">
                        <div class="title">Сегодня в категории {{ category.name }}:</div>
                        <div class="row">
                            <div class="col-sm-2 col-xs-6 item">
                                <span class="text">Минимальная цена</span>
                                <span class="value">{{ result.priceMin|number }} руб</span>
                            </div>
                            <div class="col-sm-2 col-xs-6 item">
                                <span class="text">Максимальная цена</span>
                                <span class="value">{{ result.priceMax|number }} руб</span>
                            </div>
                            <div class="col-sm-2 col-xs-6 item">
                                <span class="text">Максимальная <br>скидка (руб)</span>
                                <span class="value">{{ result.maxSale|number }}</span>
                            </div>
                            <div class="col-sm-2 col-xs-6 item">
                                <span class="text">Лучшая скидка (%)</span>
                                <span class="value">{{ result.maxSalePercent|number(2) }}</span>
                            </div>
                            <div class="col-sm-2 col-xs-6 item">
                                <span class="text">Средняя скидка <br>в категории</span>
                                <span class="value">{{ result.avgSale|number(2) }} руб</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}

{% block category_description %}
    {% if result.page == 1 and result.total and app.request.query.all is empty %}
        {% if isSale and category.saleSeo.text|length > 4 %}
            <section class="about-category">
                <div class="description">
                    {{ category.saleSeo.text|raw }}
                </div>
            </section>
        {% elseif not isSale and category.seo.text|length > 4 %}
            <section class="about-category">
                <div class="description">
                    {{ category.seo.text|raw }}
                </div>
            </section>
        {% endif %}
    {% endif %}
{% endblock %}

{% block sidebar_bottom %}
    {#<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>#}
    {#<!-- Категории - под фильтрами -->#}
    {#<ins class="adsbygoogle"#}
         {#style="display:block"#}
         {#data-ad-client="ca-pub-3271531853567973"#}
         {#data-ad-slot="7910459786"#}
         {#data-ad-format="auto"></ins>#}
    {#<script>#}
        {#(adsbygoogle = window.adsbygoogle || []).push({});#}
    {#</script>#}

    {#{{ block('recommend_products') }}#}
{% endblock %}

{% block similar %}
    {% if not result.total and similar is defined and similar|length %}
        <div class="catalog">
            <div class="title">
                <span>Похожие товары</span>
            </div>
            <div class="row products">
                {%  include '@Main/Product/cards.html.twig' with {products: similar } %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block similar_found %}
    {% if result.total <= 8 and similar is defined and similar|length %}
        <div class="catalog">
            <div class="title">
                <span>Возможно вас заинтересует</span>
            </div>
            <div class="row products">
                {%  include '@Main/Product/cards.html.twig' with {products: similar } %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block recommend_products %}
    {% if result.page == 1 and result.total and recommend is defined and recommend|length %}
        <section class="list-thumbs recommend-products">
            <div class="row">
                <div class="col-sm-12 featured animation">
                    <h3>Рекомендуем</h3>
                    <div class="row">
                        <div id="owl-featured-slide" class="owl-carousel product-slide product-thumbs-slide">

                            {% for items in recommend|batch(3) %}
                                <div class="col-md-12">
                                    <div class="item">
                                        <ul class="list-unstyled list-thumbs-pro">
                                            {% for item in items %}
                                                {% set url = path('category_product', {alias: item.category.alias, id: item.position}) %}
                                                {% set title = item.product.name ~ (item.product.brand ? ' ' ~ item.product.brand.name : '') %}
                                                <li class="product">
                                                    <div class="product-thumb-info">
                                                        <div class="product-thumb-info-image">
                                                            <a href="{{ url }}" title="{{ title }}"><img alt="" width="60" src="{{ item.product.firstImage|productImage('product_card_image') }}"></a>
                                                        </div>

                                                        <div class="product-thumb-info-content">
                                                            <h4><a href="{{ url }}" title="{{ title }}">{{ item.product.brand.name|default }}</a></h4>
                                                            <span class="item-cat"><small><a href="{{ url }}" title="{{ title }}">{{ item.product.name }}</a></small></span>
                                                            <span class="price">
                                                                <span class="amount">{{ item.product.price|number }} {{ item.product.currency|currency }}</span>
                                                                {% if item.product.sale %}
                                                                    <span class="old"><span class="amount">{{ item.product.oldPrice|number }}</span></span>
                                                                {% endif %}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}