{% extends '@Main/Category/by_tag.html.twig' %}

{% block meta_robots %}
    {% if not result.total %}<meta name="robots" content="noindex,nofollow">{% endif %}
{% endblock %}

{% block title %}{% spaceless %}
    {% if result.page > 1 %}
        {{ tag.seo.h1 }} {{ brand.name }} - страница {{ result.page }}
    {% else %}
        {{ replaceSeoVariables('Купить %tag% %brand% с доставкой. %category% в интернет каталоге Footgears', ['%category%', '%brand%', '%tag%'], [tag.category.name, brand.name, tag.seo.h1|lower|replaceSuffix])|ucfirst }}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block meta_description %}{% spaceless %}
    {% if filterPage.seoDescription %}
        {{ replaceSeoVariables(filterPage.seoDescription, ['%category%', '%tag%', '%min%', '%amt%', '%brand%'], [filterPage.category.name, (filterPage.h1Title ~ ' ' ~ brand.name)|lower, result.priceMin, result.total, ''])|ucfirst }}
    {% else %}
        {{ replaceSeoVariables(seoSettings.tag.description, ['%tag%', '%host%'], [(filterPage.h1Title ~ ' ' ~ brand.name)|lower, app.request.host])|ucfirst }}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block meta_keywords %}{% endblock %}

{% block searchTitle %}{{ tag.seo.h1 }} {{ brand.name }}{% endblock %}
