{% extends 'MainBundle:Search:layout.html.twig' %}

{% block page_edit %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_shop_edit', {id: shop.id}) }}" target="_blank"><i class="fa fa-pencil small"></i></a>
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    <li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ path('homepage') }}">Главная</a></li>
    <li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ path('shops') }}">Магазины</a></li>
    <li class="current">{{ shop.name }}</li>
{% endblock %}

{% block meta %}
    {{ parent() }}
    {% if relatedBrand %}
        <link rel="canonical" href="{{ url('brand', {alias: relatedBrand.alias}) }}" />
    {% endif %}
{% endblock %}

{% block title %}{% spaceless %}
    {% if result.page > 1 %}
        {{ shop.name }} - страница {{ result.page }}
    {% else %}
        {% if shop.seo.title %}
            {{ replaceSeoVariables(shop.seo.title, ['%shop%', '%min%', '%amt%'], [shop.name, result.priceMin, result.total]) }}
        {% else %}
            {{ replaceSeoVariables(seoSettings.shop.title, ['%shop%'], [shop.name]) }}
        {% endif %}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block meta_description %}{% spaceless %}
    {% if shop.seo.description %}
        {{ replaceSeoVariables(shop.seo.description, ['%shop%', '%min%', '%amt%'], [shop.name, result.priceMin, result.total]) }}
    {% else %}
        {{ replaceSeoVariables(seoSettings.shop.description, ['%shop%'], [shop.name]) }}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block meta_keywords %}{% spaceless %}
    {% if shop.seo.keywords %}
        {{ replaceSeoVariables(shop.seo.keywords, ['%shop%'], [shop.name])|lower }}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block filter_form %}
    <input type="hidden" name="shopId[]" value="{{ request.shop.id }}"/>
    {{ parent() }}
{% endblock %}

{% block searchTitle %}Одежда, обувь и аксессуары от {{ shop.name }}{% endblock %}

{% macro categoryTree(request, categories, shop) %}
    {% import _self as macros %}

    <ul class="list-unstyled list-cat">
        {% for item in categories %}
            <li {% if item.current %}class="active"{% endif %}>
                <a href="{{ generateFilterUrl('category_shop', {alias: item.category.alias, shopAlias: shop.alias, q: request.searchQuery}) }}">{{ item.category.shortName|capitalize }}</a>
                {% if item.count %}<small>{{ item.count|number }}</small>{% endif %}
                {% if item.children|length %}
                    {{ macros.categoryTree(request, item.children, shop) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block filter_categories %}
    {% import _self as macros %}

    {% if availableCategories|length %}
        <aside class="block blk-cat filter-blk">
            {{ macros.categoryTree(request, availableCategories, shop) }}
        </aside>
    {% endif %}
{% endblock filter_categories %}

{% block filter_brands %}{% endblock %}
{% block filter_price %}{% endblock %}
{% block attribute_filters %}{% endblock %}
{% block filter_shares %}{% endblock %}
{% block filter_shops %}{% endblock %}

{% block search_result %}
    {{ parent() }}
    {{ block('category_description') }}
{% endblock %}

{% block category_description %}
    {% if result.page == 1 and result.total and shop.seo.text|length %}
        <section class="about-category">
            <div class="description">
                {{ shop.seo.text|raw }}
            </div>
        </section>
    {% endif %}
{% endblock %}