{% extends 'MainBundle::layout_inner.html.twig' %}

{% block breadcrumb %}
    <li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ path('homepage') }}">Главная</a></li>
    <li>Магазины</li>
{% endblock %}

{% block title %}{{ seoSettings.shops.title }}{% endblock %}

{% block meta_description %}{{ seoSettings.shops.description }}{% endblock %}

{% block meta_keywords %}{{ seoSettings.shops.keywords }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="title"><span>Магазины</span></h1>
            </div>
        </div>

        <div class="row shop-list">
        {% for shop in shops %}
            <div class="col-sm-3 col-xs-12 shop">
                <a href="{{ path('shop', {alias: shop.alias}) }}" title="{{ shop.name }}"><img src="{{ file_thumb(shop.logo, 'logo_preview') }}" alt="{{ shop.name }}"></a>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}