{% extends 'MainBundle:Mail:layout.html.twig' %}

{% block subject %}[footgears.ru] Пустые категории ({{ emptyCategories }}){% endblock %}

{% block content %}
    Количество пустых категорий превышает 10%!
{% endblock %}
