{% extends 'MainBundle:Mail:layout.html.twig' %}

{% block subject %}Ошибки импорта{% endblock %}

{% block content %}
    Произошли ошибки при импорте в магазинах:
    <ul>
    {% for row in histories %}
        <li>
            {{ row.shop.name }}
            <div>
                {{ row.exception }}
            </div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
