{% extends 'MainBundle:Mail:layout.html.twig' %}

{% block subject %}[footgears.ru] Дата последнего импорта{% endblock %}

{% block content %}
    {% if not importHistory %}
        Не найдена дата последнего импорта
    {% else %}
        Дата последнего импорта: {{ importHistory.endDate.format('Y-m-d H:i:s') }} ({{ importHistory.shop.name }})
    {% endif %}
{% endblock %}
