{% block subject %}{% endblock %}

{% block body %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ block('subject') }}</title>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
{% endblock %}
