{% extends 'MainBundle:Mail:layout.html.twig' %}

{% block subject %}Новое сообщение через форму обратной связи{% endblock %}

{% block content %}
    <ul>
        <li>Дата: {{ feedback.created.format('Y-m-d H:i:s') }}</li>
        <li>Email: {{ feedback.email }}</li>
        <li>Имя: {{ feedback.name }}</li>
    </ul>
    <p>{{ feedback.text|nl2br }}</p>
{% endblock %}