{% extends 'AdminBundle::layout.html.twig' %}

{% form_theme form 'SirianHelperBundle:Admin:form.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-pencil"></i>
                    </span>
                    <h5></h5>
                </div>
                <div class="widget-content nopadding">
                    <form action="" class="form-horizontal validate" method="post" novalidate="novalidate" enctype="multipart/form-data">
                        {{ form_widget(form) }}
                        <div class="form-actions">
                            <button type="submit" value="" name="_submit" class="btn btn-primary">Добавить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-list"></i>
                    </span>
                    <h5></h5>
                </div>
                <div class="widget-content nopadding">
                    <div class="dataTables_wrapper">
                        <table class="table table-bordered data-table">
                            <thead>
                            <tr>
                                <th>№</th>
                                <th>Название файла</th>
                                <th>Ссылка</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for num, item in files %}
                                    <tr>
                                        <td>{{ num+1 }}</td>
                                        <td><a href="{{ item.url }}"><strong>{{ item.subDirectory }}</strong>{{ item.filename }}</a></td>
                                        <td><a href="{{ item.url }}">{{ item.url }}</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

