.data-table td {
    position: relative;
}

.data-table img {
    max-height: 25px;
    position: static;
}

.data-table td:hover img {
    max-height: 400px;
    max-width: 600px;
    position: absolute;
    z-index: 1;
    background: #ffffff;
}

