{% block root %}
    {% for e in matcher.getCurrentBreadCrumbs(item)|slice(1) %}
        {% if e.item.extras.icon is defined %}
            <i class="icon icon-{{ e.item.extras.icon|e('html_attr') }}"></i>
        {% endif %}
        <a href="{{ e.uri}}" class="{{ loop.last ? 'current' : '' }}">{{ e.label }}</a>
    {%  endfor %}
{% endblock %}
