{% extends 'knp_menu.html.twig' %}


{% block root %}
{# force to find current element in menu #}
{% set tmp=matcher.findCurrent(item) %}
{% set listAttributes = item.childrenAttributes %}
{{ block('list') -}}
{% endblock %}


{% block label %}
    {% if item.extras.icon is defined %}
        <i class="icon icon-{{ item.extras.icon }}"></i>
    {% endif %}
    <span>
        {% if options.allow_safe_labels and item.getExtra('safe_label', false) %}{{ item.label|raw }}{% else %}{{ item.label }}{% endif %}
    </span>
{% endblock %}
