{% extends 'AdminBundle::layout.html.twig' %}

{% block content_header_buttons %}
    <a href="{{ path('admin_category_brand_new') }}" class="btn btn-large tip-bottom" data-original-title="Создать"><i class="icon-plus"></i></a>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-list"></i>
                    </span>
                    <h5>Category + Brand</h5>
                </div>
                {% form_theme form '@Admin/Form/form_theme.html.twig' %}

                <div class="widget-content nopadding">
                    <form class="form-horizontal validate" novalidate="novalidate" id="search_filters">
                        {{ form_widget(form) }}
                        <div class="form-actions">
                            <button type="submit" value="" name="_submit" class="btn btn-primary">Фильтр</button>
                            <a href="{{ path('admin_category_brand_list') }}" class="btn btn-primary">Сбросить</a>
                        </div>
                    </form>
                    <div class="dataTables_wrapper">
                        <table class="table table-bordered data-table">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>Category</th>
                                <th>Brand</th>
                                <th>Заголовок</th>
                                <th>Описание</th>
                                <th>Товаров</th>
                                <th>Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in pagination %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.category.name }}</td>
                                    <td>{{ item.brand.name }}</td>
                                    <td><a href="{{ path('category_brand', {alias: item.category.alias, brandAlias: item.brand.alias}) }}" target="_blank">{{ item.seo.h1 }}</a></td>
                                    <td>{% if item.seo.text|length > 10 %}<span class="icon-ok"></span>{% endif %}</td>
                                    <td style="text-align: right;">{{ item.productsCount|number }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-mini" href="{{ path('admin_category_brand_edit', {id: item.id}) }}"><i class="icon-pencil"></i></a>
                                            <a class="btn btn-mini btn-danger" href="{{ path('admin_category_brand_delete', {id: item.id}) }}"><i class="icon-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% block pagination %}
                            {{ knp_pagination_render(pagination, '@SirianHelper/Admin/table_pagination.html.twig') }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('.delete-item').on('click', function(e) {
                e.preventDefault();

                if (!confirm('Удалить элемент?')) {
                    return;
                }

                window.location.href = $(this).data('url');
            });

            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        });
    </script>
{% endblock %}