{% extends 'MainBundle:Search:layout.html.twig' %}

{% block page_edit %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_brand_edit', {id: brand.id}) }}" target="_blank"><i class="fa fa-pencil small"></i></a>
    {% endif %}
{% endblock %}

{% block meta_robots %}
{#    {% set hidePage = (not isSale and not result.total) or (isSale and result.total < 20) %}#}
{#    {% if hidePage %}<meta name="robots" content="noindex,nofollow">{% endif %}#}
{% endblock %}

{% block breadcrumb %}
    <li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ path('homepage') }}">Главная</a></li>
    <li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ path('brands') }}">Все бренды</a></li>
    <li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ path('brands', {letter: brand.letter}) }}">Бренды на "{{ brand.letter }}"</a></li>
    <li class="current">{{ brand.name }}</li>
{% endblock %}

{% block title_tags %}{% spaceless %}
    {% if result.total %}
        {% if isSale %}
            <a href="{{ path('brand', {alias: brand.alias}) }}" class="tag" title="Все товары {{ brand.name }}">Все товары {{ brand.name }}</a>
        {% else %}
            <a rel="nofollow" href="{{ path('brand_sale', {alias: brand.alias}) }}" class="tag tag-sale" title="Скидки на {{ brand.name }}">{{ brand.name }}<span>sale</span></a>
        {% endif %}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block title %}{% spaceless %}
    {% if result.page > 1 %}
        {{ brand.name }} {% if isSale %}со скидкой {% endif %}- страница {{ result.page }}
    {% else %}
        {% if isSale %}
            {{ '%brand% - распродажа коллекции %years% в интернет-магазине %host%'|replace({'%brand%': brand.name, '%min%': result.priceMin, '%amt%': result.total, '%host%': app.request.host, '%years%': yearPeriod()}) }}
        {% else %}
            {{ '%brand% - каталог коллекции %years% в интернет-магазине %host%'|replace({'%brand%': brand.name, '%min%': result.priceMin, '%amt%': result.total, '%host%': app.request.host, '%years%': yearPeriod()}) }}
        {% endif %}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block meta_description %}{% spaceless %}
    {% if isSale %}
        {{ 'Распродажа коллекции! Скидки на товары из каталога %brand% в %host% от лучших магазинов. Доставка во все регионы, удобный выбор.'|replace({'%brand%': brand.name, '%min%': result.priceMin, '%amt%': result.total, '%host%': app.request.host, '%years%': yearPeriod()}) }}
    {% else %}
        {{ 'Большой выбор одежды, обуви и аксессуаров из каталога %brand% в %host% от лучших магазинов. Постоянные скидки, доставка во все регионы, удобный выбор.'|replace({'%brand%': brand.name, '%min%': result.priceMin, '%amt%': result.total, '%host%': app.request.host, '%years%': yearPeriod()}) }}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block meta_keywords %}{% endblock %}

{% block searchTitle %}{% spaceless %}
    {% if isSale %}
        {{ brand.saleSeo.h1|default('Распродажа ' ~ brand.name) }}
    {% else %}
        Каталог {{ brand.name }}{{ request.searchQuery ? ': ' ~ request.SearchQuery : '' }}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block filter_form %}
    <input type="hidden" name="brandId[]" value="{{ brand.id }}"/>
    <input type="hidden" name="isSale" value="{{ isSale|default(0) }}">
    {{ parent() }}
{% endblock %}

{% block filter_form_is_sale %}{% spaceless %}
    <li>
        <input type="checkbox" name="isSale" {% if isSale %}checked="checked"{% endif %} id="is_sale" value="1">
        <label for="is_sale">
            <a href="{{ path('brand_sale', {alias: brand.alias}) }}" rel="nofollow">Скидки</a>
        </label>
    </li>
{% endspaceless %}{% endblock %}

{% block filter_form_attr %}action="{{ path('brand', {alias: brand.alias}) }}"{% endblock %}

{% block search_result %}
    {% if not result.total and popular|length %}

        <div class="catalog-title">
            <h1>{{ block('searchTitle') }}</h1>
        </div>

        {{ block('flashes') }}

        <div class="row">
            <div class="col-xs-12">
                <h2 class="title"><span>Популярные бренды</span></h2>
            </div>
        </div>

        <div class="row popular-banners">
            {% for brand in popular %}
                <div class="col-xs-6 col-sm-3 item">
                    <a href="{{ path('brand', {alias: brand.alias}) }}" title="{{ brand.name }}"><img src="{{ brand.logo ? file_asset(brand.logo) : '//dummyimage.com/140x75&text=' ~ brand.name }}" alt="{{ brand.name }}"></a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        {{ block('flashes') }}
        {{ parent() }}
    {% endif %}

    {#{{ block('banner_bottom') }}#}

    {{ block('brand_description') }}

{% endblock %}

{% macro categoryTree(request, categories, brand) %}
    {% import _self as macros %}

    <ul class="list-unstyled list-cat">
        {% for item in categories %}
            <li {% if item.current %}class="active"{% endif %}>
                <a href="{{ generateFilterUrl('category_brand', {alias: item.category.alias, brandAlias: brand.alias, q: request.searchQuery}) }}" title="Товары каталога {{ item.category.name }} {{ brand.name }}">{{ item.category.shortName|capitalize }}</a>
                {% if item.count %}<small>{{ item.count|number }}</small>{% endif %}
                {% if item.children|length %}
                    {{ macros.categoryTree(request, item.children, brand) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block filter_categories %}
    {% import _self as macros %}

    {% if availableCategories|length %}
        <aside class="block filter-blk blk-cat">
            {{ macros.categoryTree(request, availableCategories, brand) }}
        </aside>
    {% endif %}
{% endblock filter_categories %}

{% block filter_brands %}{% endblock %}
{% block filter_price %}{% endblock %}
{% block attribute_filters %}{% endblock %}
{% block filter_shares %}{% endblock %}
{% block filter_shops %}{% endblock %}

{% block brand_description %}
    {% if result.page == 1 %}
        {% if isSale and brand.saleSeo.text|length %}
            <div class="about-category">
                <div class="description">
                    {{ replaceSeoVariables(brand.saleSeo.text, ['%brand%', '%min%', '%amt%', '%categories%'], [brand.name, result.priceMin, brand.productsCount, getPopularBrandCategoriesHTML(brand)])|raw }}
                </div>
            </div>
        {% elseif not isSale and brand.seo.text|length and app.request.query.all is empty %}
            <div class="about-category">
                <div class="description">
                    {{ replaceSeoVariables(brand.seo.text, ['%brand%', '%min%', '%amt%', '%categories%'], [brand.name, result.priceMin, brand.productsCount, getPopularBrandCategoriesHTML(brand)])|raw }}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block banner_bottom %}
    {#<div class="row">#}
        {#<div class="col-sm-12 banner catalog-top">#}
            {#{% if app.request.host != 'dev.footgears.ru' %}#}
                {#<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>#}
                {#<!-- brands bottom -->#}
                {#<ins class="adsbygoogle"#}
                     {#style="display:block"#}
                     {#data-ad-client="ca-pub-3271531853567973"#}
                     {#data-ad-slot="5699494035"#}
                     {#data-ad-format="auto"></ins>#}
                {#<script>#}
                    {#(adsbygoogle = window.adsbygoogle || []).push({});#}
                {#</script>#}
            {#{% endif %}#}
        {#</div>#}
    {#</div>#}
{% endblock %}

{% block sidebar %}
    {% if brand.logo %}
    <div class="logo">
        {#<a href="{{ path('brand', {alias: brand.alias}) }}" title="Каталог {{ brand.name }}">#}
            <img src="{{ file_thumb(brand.logo, 'logo_preview') }}" alt="Каталог {{ brand.name }}">
        {#</a>#}
    </div>
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block sidebar_bottom %}
    {#<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>#}
    {#<!-- Бренд - под категориями -->#}
    {#<ins class="adsbygoogle"#}
         {#style="display:block"#}
         {#data-ad-client="ca-pub-3271531853567973"#}
         {#data-ad-slot="3825898639"#}
         {#data-ad-format="auto"></ins>#}
    {#<script>#}
        {#(adsbygoogle = window.adsbygoogle || []).push({});#}
    {#</script>#}
{% endblock %}