{% extends 'MainBundle::layout_inner.html.twig' %}

{% block breadcrumb %}
    <li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ path('homepage') }}">Главная</a></li>

    {% if current|length %}
        <li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ path('brands') }}">Все бренды</a></li>

        {% if current|lower == 'rus' %}
            <li>Бренды от А до Я</li>
        {% elseif current|lower == 'other' %}
            <li>Бренды 0-9#</li>
        {% else %}
            <li>Бренды на букву "{{ current|upper }}"</li>
        {% endif %}
    {% else %}
        <li>Все бренды</li>
    {% endif %}
{% endblock %}

{% block title %}{% spaceless %}

    {% if current|lower == 'rus' %}
        {{ seoSettings.brandsRUS.title }}
    {% elseif current|lower == 'other' %}
        {{ seoSettings.brands09.title }}
    {% elseif not current %}
        {{ seoSettings.brands.title }}
    {% else %}
        {{ replaceSeoVariables(seoSettings.brandsAZ.title, ['%current%'], [current|upper]) }}
    {% endif %}

{% endspaceless %}{% endblock %}

{% block meta_description %}{% spaceless %}
    {% if current|lower == 'rus' %}
        {{ replaceSeoVariables(seoSettings.brandsRUS.description, ['%current%', '%popular%'], [current|upper, popularNames|join(', ')]) }}
    {% elseif current|lower == 'other' %}
        {{ replaceSeoVariables(seoSettings.brands09.description, ['%current%', '%popular%'], [current|upper, popularNames|join(', ')]) }}
    {% elseif not current %}
        {{ replaceSeoVariables(seoSettings.brands.description, ['%current%', '%popular%'], [current|upper, popularNames|join(', ')]) }}
    {% else %}
        {{ replaceSeoVariables(seoSettings.brandsAZ.description, ['%current%', '%popular%'], [current|upper, popularNames|join(', ')]) }}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block meta_keywords %}{% endblock %}

{% block content %}

    <div class="container">

        {{ block('flashes') }}

        {% if popular %}
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="title"><span>Популярные бренды</span></h2>
                </div>
            </div>

            <div class="row popular-banners">
                {% for brand in popular %}
                    <div class="col-xs-6 col-sm-3 item">
                        <a href="{{ path('brand', {alias: brand.alias}) }}" title="{{ brand.name }}"><img src="{{ brand.logo ? file_thumb(brand.logo, 'logo_preview') : '//dummyimage.com/140x75&text=' ~ brand.name }}" alt="{{ brand.name }}"></a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="row">
            <div class="col-xs-12">
                <h1 class="title">
                    {% if current|lower == 'rus' %}
                        <span>Все российские бренды</span>
                    {% elseif current|lower == 'other' %}
                        <span>Все бренды 0-9#</span>
                    {% elseif not current %}
                        <span>Все бренды</span>
                    {% else %}
                        <span>Все бренды на букву "{{ current|upper }}"</span>
                    {% endif %}
                </h1>

                <ul class="nav nav-tabs pro-tabs letters-tabs text-center">
                    {% for letter in 'A'..'Z' %}
                        <li {% if current|lower == letter|lower %}class="active"{% endif %}><a href="{{ path('brands', {letter: letter|lower}) }}">{{ letter }}</a></li>
                    {% endfor %}
                    <li {% if current|lower == 'rus' %}class="active"{% endif %}><a href="{{ path('brands', {letter: 'rus'}) }}">А-Я</a></li>
                    <li {% if current|lower == 'other' %}class="active"{% endif %}><a href="{{ path('brands', {letter: 'other'}) }}">#</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="letters-items">
                    {% for letter, brands in brands %}
                        {% set letterName = {rus: 'А-Я', other: '#'}[letter]|default(letter) %}

                        <div class="letter-block">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-sm-3">
                                        <div class="letter">{{ letterName }}</div>
                                    </div>

                                    {% set perColumn = (brands|length / 3)|ceil %}
                                    <div class="col-sm-3">
                                        <ul>
                                            {% for brand in brands %}
                                            <li>
                                                <a href="{{ path('brand', {alias: brand.alias}) }}">{{ brand.name|capitalize  }}</a>
                                            </li>
                                            {% if perColumn and loop.index % perColumn == 0 and not loop.last %}
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <ul>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            {% if all %}
                                <div class="row all-items">
                                    <div class="col-xs-9 col-sm-8 col-sm-offset-3">
                                        <a href="{{ path('brands', {letter: letter}) }}">Показать все бренды  "{{ letterName|upper }}"</a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
