{% extends 'AdminBundle::layout.html.twig' %}

{% block content_header %}<h1>Товар {{ product.id }}</h1>{% endblock %}

{% block content %}
    <table class="table">
        <tr>
            <td>id</td>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <td>Оригинальнй id</td>
            <td>{{ product.originalId }}</td>
        </tr>
        <tr>
            <td>Название</td>
            <td>{{ product.name }}</td>
        </tr>
        <tr>
            <td>url</td>
            <td><a href="{{ product.url }}">{{ product.url }}</a></td>
        </tr>
        <tr>
            <td>Цена</td>
            <td>{{ product.price}}</td>
        </tr>
        <tr>
            <td>Старая цена</td>
            <td>{{ product.oldPrice }}</td>
        </tr>
        <tr>
            <td>Бренд</td>
            <td>{{ product.brand.name|default('-') }}</td>
        </tr>
        <tr>
            <td>Магазин</td>
            <td>#{{ product.shop.id }} {{ product.shop.name}}</td>
        </tr>
        <tr>
            <td>Категория</td>
            <td>{{ product.category ? product.category.pathName : '-' }}</td>
        </tr>
        <tr>
            <td>Категория магазина</td>
            <td>{{ product.shopCategory ? product.shopCategory.pathName : '-' }}</td>
        </tr>
        <tr>
            <td>Аттрибуты</td>
            <td>
                {% if product.attributes %}
                    {% set attributesArr = attributesArr(product.attributes) %}
                    <ul>
                    {% for name, attributes in attributesArr %}
                        <li>{{ name }}: {{ attributes|sort|join(', ') }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>xml</td>
            <td><pre>{{ product.formattedXml }}</pre></td>
        </tr>
        <tr>
            <td>From search</td>
            <td>
                <table>
                    {% for field, value in searchData %}
                        <tr>
                            <td>{{ field }}</td>
                            <td>{{ value|json_encode(constant('JSON_UNESCAPED_UNICODE')) }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
            <td>Изображения</td>
            <td>
                {% for img in product.images %}
                    <img src="{{ img }}" alt=""/>
                {% endfor %}
            </td>
        </tr>
    </table>
{% endblock %}

