{% extends 'AdminBundle::layout.html.twig' %}

{% form_theme form 'AdminBundle:Form:form_theme.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-pencil"></i>
                    </span>
                    <h5>{% block form_title %}{{ isNew ? 'Добавление категории' : 'Редактирование категории' }}{% endblock %}</b></h5>
                </div>
                <div class="widget-content nopadding">
                    {{ form_start(form, {attr: {class: 'form-horizontal validate'}}) }}
                    {{ form_widget(form) }}
                    <div class="form-actions">
                        <button type="submit" value="" name="_submit" class="btn btn-primary">Сохранить</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}