{% extends 'AdminBundle::layout.html.twig' %}

{% block content_header %}<h1>Категории</h1>{% endblock %}

{% block tree_node %}
    {% for node in root.children %}
        {% set item = node.item %}
        <li data-id="{{ item.id }}">
            <div>
                <span class="expander">
                    <span></span>
                </span>
                <span class="icon-move"></span>

                <span>{{ item.name }}</span>

                <a href="{{ path('category', {alias: item.alias}) }}" target="_blank">{{ item.alias }}</a>

                {% if item.seo.text|length > 5 %}<span class="label label-success"><i class="icon-ok"></i> Есть текст</span>{% endif %}
                {% if item.saleSeo.text|length > 5 %}<span class="label label-success"><i class="icon-ok"></i> Есть текст распродажи</span>{% endif %}

                <div class="btn-group">
                    <a class="btn btn-mini" href="{{ mergedPath('admin_category_new', {parentId: item.id}) }}"><i class="icon-plus"></i></a>
                    <a class="btn btn-mini" href="{{ mergedPath('admin_category_edit', {id: item.id}) }}"><i class="icon-pencil"></i></a>
                    <button data-url="{{ mergedPath('admin_category_delete', {id: item.id}) }}" class="btn btn-mini btn-danger delete-item"><i class="icon-remove icon-white"></i></button>
                </div>
                <div class="btn-group" style="padding-right: 15px">
                    <a class="btn btn-mini" href="{{ path('admin_tag_new', {category: item.id}) }}" title="Добавить тег"><i class="icon-plus"></i></a>
                    <a class="btn btn-mini" href="{{ path('admin_tag_list', {form: {category: item.id}}) }}" title="Теги"><i class="icon-tags"></i></a>
                </div>

                <div style="float: right; padding-right: 15px;">
                    {% set shopCategories = item.shopCategories|length %}
                    <span class="label label-{{ item.productsCount == 0 ? 'important' : (item.productsCount <= 6 ? 'warning' : 'default') }}">{{ item.productsCount|number }} {{ pluralize(item.productsCount, ['товар', 'товара', 'товаров']) }}</span>
                    {# todo: add category references popup #}
                    <a href="#categoryReferences-{{ item.id }}" data-toggle="modal"><span class="label label-{{ shopCategories == 0 ? 'important' : 'default' }}">{{ shopCategories|number }} {{ pluralize(shopCategories, ['категория', 'категории', 'категорий']) }}</span></a>
                </div>
            </div>
            {% if node.children|length %}
                {% set root = node %}
                <ol>
                    {{ block('tree_node') }}
                </ol>
            {% endif %}
        </li>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div>
                <div>
                    <a class="btn" href="{{ path('admin_category_new') }}">
                        <i class="icon-plus"></i> Добавить
                    </a>
                </div>
                <ol id="menu_tree" class="nestedSortable js-tree" data-move-url="{{ mergedPath('admin_category_move') }}">
                    {{ block('tree_node') }}
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

