{% extends 'AdminBundle::layout.html.twig' %}

{% block content_header_buttons %}
    <a href="{{ path('admin_brand_new') }}" class="btn btn-large tip-bottom" data-original-title="Создать"><i class="icon-plus"></i></a>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-list"></i>
                    </span>
                    <h5>Список брендов</h5>
                </div>
                {% form_theme form '@Admin/Form/form_theme.html.twig' %}

                <div class="widget-content nopadding">
                    <form class="form-horizontal validate" novalidate="novalidate" id="search_filters">
                        {{ form_widget(form) }}
                        <div class="form-actions">
                            <button type="submit" value="" name="_submit" class="btn btn-primary">Фильтр</button>
                            <a href="{{ path('admin_brand_list') }}" class="btn btn-primary">Сбросить</a>
                        </div>
                    </form>
                    <div class="dataTables_wrapper">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Лого</th>
                                    <th>Название</th>
                                    <th>Товаров</th>
                                    <th>Описание</th>
                                    <th>Включен</th>
                                    <th>Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in pagination %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td><img src="{{ file_asset(item.logo) }}" /></td>
                                    <td>
                                        <a href="{{ path('admin_brand_edit', {id: item.id}) }}">{{ item.name }}</a>
                                        <a href="{{ path('brand', {alias: item.alias}) }}" class="label label-default">{{ item.alias }}</a>
                                    </td>
                                    <td style="text-align: right">{{ item.productsCount|number }}</td>
                                    <td>{% if item.seo.text|length > 10 %}<span class="icon-ok"></span>{% endif %}</td>
                                    <td>{% if item.enabled %}<span class="icon-ok"></span>{% endif %}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-mini" href="{{ path('admin_brand_edit', {id: item.id}) }}"><i class="icon-pencil"></i></a>
                                            <a class="btn btn-mini btn-danger" href="{{ path('admin_brand_delete', {id: item.id}) }}"><i class="icon-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% block pagination %}
                            {{ knp_pagination_render(pagination, '@SirianHelper/Admin/table_pagination.html.twig') }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}