{% extends 'MainBundle:Static:layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">О проекте</li>
{% endblock %}

{% block title %}{{ seoSettings.about.title }}{% endblock %}

{% block meta_description %}{{ seoSettings.about.description }}{% endblock %}

{% block meta_keywords %}{{ seoSettings.about.keywords }}{% endblock %}

{% block page_content %}
    <h1>О проекте</h1>
    <div class="post-content">
        <p>Footgears.ru - интернет каталог брендированной одежды, обуви и аксессуаров, в котором представлены товары всех популярных интернет-магазинов, работающих в России. Все товары распределены по удобному древовидному каталогу.</p>
        <p>К вашим услугам огромная торговая площадка, работающая без перерывов и выходных. Более трехсот тысяч моделей одежды, обуви для женщин, мужчин и детей, свыше десяти тысяч популярнейших брендов. Так же в каталоге представлены <a href="{{ path('sale') }}" title="Одежда и обувь со скидками">товары со скидками</a>, продающиеся по различным акциям.</p>
        <p>Чтобы облегчить ваш поиск нужных товаров мы разработали специальную систему поиска, работающую практически мгновенно. Форма поиска расположена на всех страницах нашего каталога в верхней части экрана. Так же на страницах сайта можно воспользоваться расширенной формой поиска, которая позволяет отфильтровать интересующие вас вещи по различным параметрам: цвет, состав, страна-производитель, бренд, магазин-продавец, размер и т.д.</p>
        <p>Если Вы нашли то, что искали и хотите купить выбранный товар, вам необходимо перейти на страницу товара в магазине, предоставляющий данный товар и оформить покупку. Перейти в магазин можно или нажав на кнопку "Купить на ...", или просто кликнув на изображение товара, если вы находитесь в каталоге.</p>
        <p>Удачных покупок!</p>
    </div>
{% endblock %}