{% extends 'MainBundle:Static:layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">О проекте</li>
{% endblock %}

{% block page_content %}
    <h1>Контакты</h1>
    <div class="post-content">
        <p>Все вопросы вы можете задать при помощи формой обратной связи в нижней части этой страницы</p>
    </div>
    <div class="post-block post-leave-comment">
        <h3>Форма обратной связи</h3>
        <p><small>Make sure you enter the (*) required information where indicated. HTML code is not allowed.</small></p>
        <form action="" type="post">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <label>Your name *</label>
                        <input type="text" value="" maxlength="100" class="form-control" name="name" id="name">
                    </div>
                    <div class="col-xs-6">
                        <label>Your email address *</label>
                        <input type="email" value="" maxlength="100" class="form-control" name="email" id="email">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <label>Website URL</label>
                        <input type="text" value="" maxlength="100" class="form-control" name="url" id="url">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <label>Comment *</label>
                        <textarea maxlength="5000" rows="10" class="form-control" name="comment" id="comment"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" value="Post Comment" class="btn btn-sm" data-loading-text="Loading...">
                </div>
            </div>
        </form>
    </div>
{% endblock %}