{% extends 'MainBundle::layout_inner.html.twig' %}

{% block breadcrumb %}
    <li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ path('homepage') }}">Главная</a></li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <aside class="sidebar">
                    <aside class="block blk-ads">
                        <div class="list-group">
                            {% for item in [
                            {url: path('about'), title: 'О проекте', test: '/^about$/'},
                            {url: path('shipping_and_return'), title: 'Доставка и возврат', test: '/^shipping_and_return$/'},
                            {url: path('contacts'), title: 'Контакты', test: '/^contacts/'},
                            {url: path('sitemap_page'), title: 'Карта сайта', test: '/^sitemap_page/'},
                            ] %}
                                <a href="{{ item.url }}" class="list-group-item {{ app.request.attributes.get('_route') matches item.test ? 'active' : '' }}">{{ item.title }}</a>
                            {% endfor %}
                        </div>
                    </aside>
                </aside>
            </div>
            <div class="col-md-9">
                <div class="contact-content">
                    {% block page_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}