{% extends 'MainBundle:Static:layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Доставка и возврат товара</li>
{% endblock %}

{% block title %}{{ seoSettings.return.title }}{% endblock %}

{% block meta_description %}{{ seoSettings.return.description }}{% endblock %}

{% block meta_keywords %}{{ seoSettings.return.keywords }}{% endblock %}

{% block page_content %}
    <h1>Доставка и возврат</h1>
    <div class="post-content">
        <p>Footgears.ru - это интрнет каталог одежды, обуви и аксессуаров, собравший в себе товары многих популярных интернет-магазинов в России. В связи с тем, что магазины-партнеры, которые предоставляют нам информацию о товарах, имеют разную специфику, их условия доставки и возврата товара могут не совпадать. Ознакомиться с данной информацией можно на сайте магазина-партнера в разделе "Доставка и возврат" или у оператора call-центра.</p>

        <h4>Примерные сроки доставки товара по России</h4>
        <ul>
            <li>По Москве и Санкт-Петербургу — от 1 до 3 дней</li>
            <li>В другие крупные города России — от 1 до 10 дней</li>
            <li>В остальные населенные пункты — до 14 дней.</li>
        </ul>

        <h4>Возврат товара</h4>
        <p>Подробную информацию о возврате товара вы можете узнать на сайте магазина-партнера в разделе "Возврат товара".</p>
        <p>При подключении нового магазина-партнера мы стараемся проверять деятельность магазина на соответствие действующего законодательства.</p>
    </div>
{% endblock %}