{% extends 'MainBundle:Static:layout.html.twig' %}

{% macro showCategory(categories) %}
    {% import _self as macros %}

    {% for row in categories %}
        {% set category = row.item %}
        <li>
            <a href="{{ path('category', {alias: category.alias}) }}" title="{{ category.name }}">{{ category.name }}</a>

            {% if row.children|length %}
                <ul>
                    {{ macros.showCategory(row.children) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% block title %}{{ seoSettings.sitemap.title }}{% endblock %}

{% block meta_description %}{{ seoSettings.sitemap.description }}{% endblock %}

{% block meta_keywords %}{{ seoSettings.sitemap.keywords }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Карта сайта</li>
{% endblock %}

{% block page_content %}
    {% import _self as macros %}

    <h1>Карта сайта</h1>

    <ul>
        <li><a href="{{ path('homepage') }}" title="Главная страница">Главная страница</a></li>
        {{ macros.showCategory(categories.children) }}
        <li><a href="{{ path('brands') }}" title="Бренды">Бренды</a></li>
        <li><a href="{{ path('shops') }}" title="Все магазины">Все магазины</a></li>
        <li><a href="{{ path('search', {isSale: 1}) }}" title="Скидки">Скидки</a>
        <li><a href="{{ path('about') }}" title="О проекте">О проекте</a>
        <li><a href="{{ path('shipping_and_return') }}" title="Доставка и возврат">Доставка и возврат</a>
        <li><a href="{{ path('contacts') }}" title="Контакты">Контакты</a>

    </ul>
{% endblock %}