{% extends crud.newTemplate %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-remove"></i>
                    </span>
                    <h5>{% block crud_form_title%}Удаление{% endblock %}</h5>
                </div>
                <div class="widget-content">
                    {% block crud_delete_confirm %}
                        Вы собираетесь удалить <b>"{{ entity }}"</b>
                    {% endblock %}

                    {% block crud_form %}
                    <form action="{{ path( crud.routePrefix ~ '_delete', {id: entity.id}) }}" class="form-horizontal validate" method="post">
                        {{ form_widget(form) }}
                            <button class="btn btn-danger"><i class="icon icon-remove icon-white"></i>Удалить</button>
                    </form>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
