{% extends crud.newTemplate %}

{% block crud_form_title %}Редактирование{% endblock %}

{% block crud_form_actions %}
    {{ parent() }}
    {% if crud.hasOperation('delete') %}
        <a class="btn btn-danger" href="{{ path(crud.routePrefix ~ '_delete', { 'id': entity.id }) }}" type="submit"><i class="icon-remove icon-white"></i>Удалить</a>
    {% endif %}
{% endblock %}
