{% extends 'SirianHelperBundle::nolayout.html.twig' %}

{% block th %}{% endblock %}

{% block tr %}{% endblock %}

{% block crud_actions %}
    <div class="btn-group">
        {% if crud.hasOperation('edit') %}
        <a class="btn btn-mini" href="{{ path(crud.routePrefix ~ '_edit', {id: item.id}) }}"><i class="icon-pencil"></i></a>
        {% endif %}

        {% if crud.hasOperation('delete') %}
        <button data-url="{{ path(crud.routePrefix ~ '_delete', {id: item.id}) }}" data-name="{{ item }}" data-token="{{ csrf_token('unknown') }}" class="btn btn-mini btn-danger crud-list-delete"><i class="icon-remove icon-white"></i></button>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
<div class="dataTables_wrapper">
    {% block table %}
    <table class="table table-bordered data-table">
        <thead>
            {% block thead %}{% endblock %}
        </thead>
        <tbody>
            {% block tbody %}
                {% for item in pagination %}
                    {{ block('tr') }}
                {% endfor %}
            {% endblock %}
        </tbody>
    </table>
    {% endblock %}
    {% block pagination %}
        {{ knp_pagination_render(pagination, 'SirianHelperBundle:Admin:table_pagination.html.twig') }}
    {% endblock %}
</div>
{% endblock %}

