{% extends crud.layout %}


{% form_theme filter_form 'SirianHelperBundle:Admin:form.html.twig' %}

{% block content %}
    <div class="row-fluid ajax-table">
        <div class="span12">
        <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-list"></i>
                    </span>
                    <h5>{% block crud_list_title %}{% endblock %}</h5>
                </div>
                <div class="widget-content nopadding">
                    <form action="{{ path(crud.routePrefix ~ '_list') }}" class="ajax-form form-horizontal no-validate" method="GET" novalidate="novalidate">

                        {{ form_widget(filter_form) }}
                        {% if filter_form.count > (filter_form.children['_token'] is defined ? 1 : 0) %}
                        <div class="form-actions">
                            <button type="submit" value="_edit" name="_submit" class="btn btn-primary">Фильтровать</button>
                            <button type="reset" class="btn btn-primary">Сбросить</button>
                        </div>
                        {% endif %}
                    </form>
                </div>
                <div class="widget-content nopadding ajax-content">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_header_buttons %}
    {{ parent() }}
    {% if crud.hasOperation('new') %}
        <a href="{{ path(crud.routePrefix ~ '_new') }}" class="btn btn-large tip-bottom" data-original-title="Создать"><i class="icon-plus"></i></a>
    {% endif %}
{% endblock %}
