{% extends crud.layout %}

{% form_theme form 'SirianHelperBundle:Admin:form.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-pencil"></i>
                    </span>
                    <h5>{% block crud_form_title%}Создание{% endblock %}</h5>
                </div>
                <div class="widget-content nopadding">
                    {% block crud_form %}
                    {{ form_start(form, {attr: {class: 'form-horizontal validate', novalidate: 'novalidate'}}) }}
                        {% block crud_form_widget %}
                            {{ form_widget(form) }}
                        {% endblock %}
                        <div class="form-actions">
                            {% block crud_form_actions %}
                                <button type="submit" value="_edit" name="_submit" class="btn btn-primary">Сохранить</button>
                                {% if crud.hasOperation('new') %}
                                    <button type="submit" value="_new" name="_submit" class="btn btn-primary">Сохранить и добавить новый</button>
                                {% endif %}
                                {% if crud.hasOperation('list') %}
                                    <button type="submit" value="_list" name="_submit" class="btn btn-primary">Сохранить и вернуться к списку</button>
                                {% endif %}
                            {% endblock %}
                        </div>
                    {{ form_end(form) }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
